[2018-10-22 05:19] idoberko2 commented on #233
@joshwcomeau, PR submitted: #299

[2018-10-23 12:37] AWolf81 commented on #47
OK, I'll have a look at this after finishing the reinstall feature.

I think it should  work by adding a Gatsby Starter Selector modal for picking the starter.
The starter search can be done similar to the Dependency Search box with Agolia Instant Search.

I would add the button at the end of the creation flow for Gatsby. But that should be no problem to change later.

The data for search & render

[2018-10-23 14:52] mathieudutour opened #301 "change browserslist config to `electron 2`"
Right now we compile the JS code down to:
[code]
while we only need `electron 2`. That could potentially lead to performance and size improvement by using the native ES methods.

I didn't create a PR right away because `electron 2` is not recognised by the version of `babel-preset-env` that we use. We would need to update that as well and I believe it's nested in `babel-preset-react-app`.

[2018-10-24 01:14] rmorabia commented on #279
Update: Sorry about this, but I think I'm going to have to abandon this issue. It's just not the right time. Looking forward to contributing again when things slow down a bit. Thanks!

[2018-10-24 04:08] melanieseltzer commented on #279
No worries, @rmorabia!

[2018-10-25 22:46] beyersito commented on #262
@Futuro212 are you on this? If not I could give it a shot 😄

[2018-10-25 22:49] Futuro212 commented on #262
I was thinking about this one over the weekend but go ahead @beyersito :) I'll look it up for something else!

[2018-10-26 00:57] beyersito commented on #262
PR ready #306 😊

[2018-10-26 17:19] beyersito commented on #195
Would like to give it a shot now that #306 has been merged, anyone on this?

[2018-10-26 17:28] AWolf81 commented on #262
@beyersito Thanks for your work.

I think I'll slightly tweak the styling of the scrollbar. For me it's a bit too dark and it's barely visible. I'll create a PR for it.

What do you think should we add the same scrollbar to the main window?

[2018-10-27 07:50] AWolf81 commented on #214
OK, we can close this as the codecov bot is working after Josh added the bot to the repo.

[2018-10-27 07:50] #214 closed

[2018-10-27 08:32] AWolf81 opened #309 "Component unit tests"
At the moment, we're having no component tests and that makes it difficult to make the coverage diff/patch of codecov pass.
We're having pretty good coverage at reducers & sagas but not at the components. That's why the overall coverage is just around 20%. See [codecov](https://codecov.io/gh/joshwcomeau/guppy) for the current coverage.

So some things to discuss before this can be started:
- Which

[2018-10-28 15:16] AWolf81 commented on #211
We can close this as it's available on master and I've changed it to v0.3.0.

[2018-10-28 15:16] #211 closed

[2018-10-28 20:18] #279 closed

[2018-10-30 22:53] quarklemotion opened #311 "Deleting a project not working"
**Describe the bug**
Per the documentation, I tried deleting one of my projects using `Edit` -> `Delete` from the application menu.  The app does nothing when I attempt to delete the project.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Click on `Edit` -> `Delete` from the application menu

**Expected behavior**
Expected to see a confirmation dialog, then have the

[2018-10-30 23:36] AWolf81 commented on #311
@quarklemotion Thanks for reporting the issue.

We're going to release 0.3.0 today or tomorrow. We've improved the project deletion. It should also show a dialog if deleting fails. And there will be a dialog for selecting between remove from Guppy & remove from disk.

Please check if it will still happen in the new version.

[2018-10-30 23:39] AWolf81 commented on #26
We can close this as Electron-builder is merged to master.

[2018-10-30 23:39] #26 closed

[2018-10-31 19:52] AWolf81 opened #313 "Plugin / addon system for adding features to projects"
As mentioned in this [Tweet](https://twitter.com/AWolf81/status/1057540984240791553) I'd like to add Docz to Guppy and Josh came up with the idea of an addon or plugin system to add Docz.

**Is your feature request related to a problem? Please describe.**
For [Docz](https://github.com/pedronauck/docz) it's not worth it to create a project type and it's more likely that it's used for documentation

[2018-10-31 21:32] AWolf81 opened #314 "Save flash for app settings & project configuration"
During the work on PR #295 we've noticed that we need a message after the saving acutally happend so the user gets a feedback.

We'd like to change the behaviour at ProjectConfiguationModal too. As there it will autohide the dialog and this is the feedback that saving happend. We'd like to keep the modal open and show the flash message as well.

**Describe the solution you'd like**
Add a small tex

[2018-11-01 12:40] hughrawlinson opened #315 "Guppy terminated by signal SIGTRAP"
**Describe the bug**
Guppy won't run, and I can't find info about how to debug it. When I run by double clicking the app icon, the icon bounces on my dock once, and exits. When I try to run Guppy from the command line, I get:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download Guppy 0.3.0 on MacOS Mojave
2. Run Guppy
3. Observe failed startup

**Expected behavior**
Guppy to laun

[2018-11-01 14:11] AWolf81 commented on #315
@hughrawlinson thanks for reporting the issue.

The trap is probably a different issue and not related to Node not on path. As Electron should start even with-out node on path as Electron is using a bundled node version. @melanieseltzer will try to create a new installer for Mac - maybe there is something broken with the file we're having in our release.

But having the setup with zsh and NVM can

[2018-11-01 14:22] AWolf81 opened #316 "Improve keyboard navigation in our forms"
During my work on `AppSettingsModal` I've noticed that keyboard navigation through the form is not supported yet.
I think it's needed to have a more native ux.

**Describe the solution you'd like**
- `Tab` key should move the focus to the next form field forward and `shift+tab` backwards. Starting at the first element.
- Project icon selection should support left, right, up & down navigation & ent

[2018-11-01 14:56] melanieseltzer commented on #315
Hi @hughrawlinson sorry you're having issues. As @AWolf81 mentioned I just updated the installer for Mac. The startup issue has been experienced by a few different people. Could you please re-download the dmg and see if it's fixed for you?

[2018-11-01 15:41] pitops opened #317 "Guppy thinks node is not installed"
**Describe the bug**
Guppy thinks i do not have Node installed but using `node -v` in terminal, I have v10.12.0 installed.

Guppy opens up the dialog where it requires for node to be installed.

NOTE: tried Guppy 0.2.0 as well, and that doesn't work either. But no message that i need to have node installed.

**To Reproduce**
Downloaded the latest v0.3.0 version.
Put to applications folder
Run

**E

[2018-11-01 16:04] hughrawlinson commented on #315
@melanieseltzer it runs! Thanks!

Now it's saying it can't find node - I don't really want to install another copy of Node for Guppy, is there a way to point Guppy at the right executable? How does it construct the $PATH? I guess from `.bashrc`?

[2018-11-01 16:06] hughrawlinson commented on #315
Ok, it works if I load nvm in my bashrc :) Thanks!

[2018-11-01 16:06] #315 closed

[2018-11-01 19:13] melanieseltzer commented on #262
Hi all, since this issue is still open I thought I'd pop this in here.

As described in #307 there's a bug with MacOS and the custom styles from `react-custom-scrollbars` not showing. It only shows if this setting is set to 'always':

<img width="400" src="https://user-images.githubusercontent.com/17421347/47873476-83db7800-ddce-11e8-8ae6-9a1bea6383cd.png">

It's documented in the library repo [he

[2018-11-01 20:18] quarklemotion commented on #317
I had the same problem with v0.3.0 on OSX, and was able to work around it by copying the nvm initialization lines from my `~/.bash_profile` to my `~/.bashrc`.  If you are not using nvm to manage node versions, I think you may just need to make sure your globally installed node is included in the PATH defined in your `~/.bashrc`.

[2018-11-01 21:08] pitops commented on #317
@quarklemotion I followed your advise in the following way

I do not use nvm but doing the following worked. I was using `~/.bash_profile`. But i re-exported PATH in `~/.bashrc` and it worked.

[code]

This is weird though because mac finds the node in path using `~/.bash_profile` apparently whereas Guppy uses `~/.bashrc`.

Any explanation?

[2018-11-01 21:33] AWolf81 opened #319 "Add an icon after project title for project type"
I'd like to have an icon after project title in project page to indicate the project type.
So it's easier to see the type of the project with-out scrolling down to the dependencies.
This is useful for debugging Guppy and also for the user.

**Describe the solution you'd like**
Add the project type icon after the project title in gray (same gray as the settings gear) or purple of the heading - chec

[2018-11-01 22:37] melanieseltzer opened #320 "Update path in settings modal continues to fail"
**Describe the bug**

We just merged #295 and I'm coming across this weird issue where if you enter a bad path and then correct it (by typing), the path checker will get stuck and it won't let you save even if the path in the input is now correct.

<img src="https://user-images.githubusercontent.com/17421347/47883731-68329a80-ddeb-11e8-8aa5-553926d97705.gif" width="400">

This happens on Mac but @

[2018-11-02 01:15] melanieseltzer commented on #320
Looked into this more and it's due to [replacing the leading slash](https://github.com/joshwcomeau/guppy/blob/master/src/components/DirectoryPicker/DirectoryPicker.js#L49). Works perfect for me without it. PR incoming.

[2018-11-02 01:47] syn228 commented on #314
I'll give it a shot!

[2018-11-02 09:06] AWolf81 opened #322 "Check node version for CRA in Initialization component"
**Describe the bug**
Project creation fails with-out an error message because of an old node version (see screenshot below).
I have to update my VM ware node version.

**To Reproduce**
1. Check your node version and use a version <8.10.0 (e.g. 8.9.3) (use [nvm](https://github.com/creationix/nvm#install-script))
2. Enable LOGGING in `src/config/app.js`
3. Create a new CRA project
4. Check the conso

[2018-11-02 13:04] AWolf81 commented on #59
We can close this as it's merged with PR #292 into master.
🎉 Yay, we're now supporting Next.js as well.

Just two new issues need to be addressed to improve it.
Second long-running task & default task descriptions per project type. See issues #297 & #296.

[2018-11-02 13:04] #59 closed

[2018-11-02 13:10] AWolf81 commented on #288
We can close this as the app settings are available on master.

We just had to fix the path issue for Mac. PR #321 from @melanieseltzer with the fix is ready.

Issue for refactoring of the `AppSettingsModal` render not created yet.  I have an idea how it could be refactored so it will automatically render the modal based on a settings configuration file.

[2018-11-02 13:10] #288 closed

[2018-11-02 13:47] #320 closed

[2018-11-02 15:06] aleclarson commented on #317
@pitops You should put `sh ~/.bashrc` in your `~/.bash_profile` and remove any duplicate code from your `~/.bash_profile`.

[2018-11-03 09:33] AWolf81 commented on #309
I'm working on this.
I've picked the `ProgressBar` component as it's small and is easy to test.

I'll create two branches one with Enzyme and one with `react-testing-library`. I'll call them `component-unit-tests-enzyme` and `component-unit-tests-testing-lib`.

I've started with Enzyme (nothing pushed yet).

I have some questions to my setup:
- I added a ignore to the coverage report to ignore all

[2018-11-03 16:47] pitops commented on #317
@aleclarson you tell me what to do but you do not tell me **why** to do it.

[2018-11-03 17:01] aleclarson commented on #317
@pitops Sorry, are you aware of [the differences](http://www.joshstaiger.org/archives/2005/07/bash_profile_vs.html) between the two? If you want to avoid duplicating the `export $PATH` code in both files, you can call `bash ~/.bashrc` from your `~/.bash_profile`. The reason you evaluate `~/.bashrc` from `~/.bash_profile` (and not vice versa) is because a "login shell" (using `.bash_profile`) may c

[2018-11-03 20:20] pitops commented on #317
@aleclarson Thats exactly the answer I was looking for, now I understand the **why**

[2018-11-04 10:55] AWolf81 commented on #316
Hi @tomas914, great to hear that you'd like to support Guppy. The issue is all yours.

For getting started with Guppy code base I think [Contribution.md](https://github.com/joshwcomeau/guppy/blob/master/CONTRIBUTING.md) should help.

If you're having something to show or you need support during your work you can create a "work in progress" pull request.

If you're having any questions you can ask

[2018-11-04 11:16] AWolf81 opened #323 "Export to Codesandbox"
I've seen on JSUI an issue from @compuIves for exporting the local project to Codesandbox and I like the idea to have a way to easily share the current project with others.

I'm working on it. Nothing pushed yet but exporting is working but I need to refactor it. So everything is in a new saga.

**Info:**
Codesandbox-cli can only export a CRA - so I've filter Gatsby & Nextjs and hide the export se

[2018-11-05 22:16] syn228 commented on #314
I thought the auto-close was fine. I was thinking of adding the save flash after the auto-close at the bottom of the current screen that auto-hides after 2 seconds or so.
I also wonder if it's necessary for the app to prompt the user for confirmation when changing the project name.
I think adding a close/cancel button is definitely helpful. It could be put next to "save project" button and maybe p

[2018-11-05 23:20] AWolf81 commented on #314
Yes, sound good. I like the idea of having toast messages that will auto-hide. For now it's OK to auto-close dialogs on save & show a message about saving afterwards.
We could add the other behaviour later. If it's really needed.

I think [React-Redux-Toastr Repo](https://github.com/diegoddox/react-redux-toastr) & [demo](https://diegoddox.github.io/react-redux-toastr/) would be good.
There are pro

[2018-11-06 00:17] AWolf81 commented on #314
I played a bit with the toast messages because I wanted to check how this is working.

You can find my code [here](https://codesandbox.io/s/mlw2k0xx9). Just not sure how to do the styling - using css with important feels a bit hacky.

[2018-11-06 01:49] syn228 commented on #314
Thanks for the code! I'll play around with it and see if I can tweak the styling a bit.

[2018-11-10 07:57] AWolf81 opened #327 "Batch start multiple task"
It would be great if there would be a button to start multiple tasks at once e.g. start test in watch mode & start dev server.
I'm not sure if this is what beginners are needing but I think it's good to have the tests and the devServer running with a single click.

This is a large task as there are many thing required so it makes sense to have a batch start:

1. Change test to interactive mode so

[2018-11-10 08:57] AWolf81 opened #328 "Change test script to interactive mode"
At the moment, tests inside Guppy are running once and the user need to re-run manually. As @joshwcomeau mentioned in a [comment](https://github.com/joshwcomeau/guppy/blob/master/src/sagas/task.saga.js#L176) that's a temporary hack.

It was a good idea from Josh to do this later as this is a pretty large task. But maybe two people could work on this.
One for implementing the UI with `jest-stare` a

[2018-11-11 10:18] AWolf81 opened #330 "react-scripts not found"
During my work on #260 I've noticed an issue that can't be fixed in Guppy right now & Guppy doesn't display anything what's wrong.

**Describe the bug**
If `node_modules` folder is missing there will be an error message that `react-scripts` can't be found.
This will happen on projects cloned from Github or if you restore a previously deleted project from recycle bin and re-import it to Guppy.
To r

[2018-11-11 10:42] #301 closed

[2018-11-14 16:17] melanieseltzer opened #332 "package.json gets wiped and committed sometimes (inconsistent)"
**Describe the bug**

I am encountering a weird bug that is happening on and off, but nothing consistent. If I have 0 projects in the app and then create one (been always CRA but might happen with other types), the `package.json` of that project will get wiped (empty file) and committed (when we add the 'Add Guppy data to package.json' commit).

So then when I try to eject, git state is unclean an

[2018-11-14 17:40] melanieseltzer commented on #31
I was about to create a new issue for this, but with the Related Issues beta I found this was open 😄

Specifically, I was going to suggest making links in terminal output clickable.

Example in Hyper:

<img width="300" alt="screen shot 2018-11-14 at 9 28 31 am" src="https://user-images.githubusercontent.com/17421347/48500535-ed587f00-e7ef-11e8-867f-31f5dbd7e0fc.png">

Guppy is just text:

<img wid

[2018-11-14 17:51] j-f1 commented on #31
[Here](https://github.com/zeit/hyperlinks/blob/master/url-regex.js)’s the module that Hyper uses to parse hyperlinks.

[2018-11-14 19:02] melanieseltzer commented on #31
Nice, that looks promising 👍

[2018-11-14 19:23] menor commented on #330
I tried to reproduce but got a different error, probably because I have a global version of `react-scripts` installed. I guess this does not affect this issue since we are checking if node_module folder exists, but posting it just in case.

<img width="692" alt="image" src="https://user-images.githubusercontent.com/1360794/48506894-caa78400-e84a-11e8-9c9e-4f3b289b5248.png">

[2018-11-14 19:41] melanieseltzer commented on #330
@menor Yeah I think because you have react-scripts installed globally, it probably moves on to the next module that it finds missing (I'm speculating but it would make sense).

For the original suggestions in the issue...

@AWolf81 I don't think these will be necessary anymore right? Because all Task panes will now be hidden completely when #318 lands. Or is there another case that would require t

[2018-11-14 21:34] AWolf81 commented on #330
@melanieseltzer Yes, you're right. There is no other case. Once reinstall lands this is not needed as any button will be hidden and we're not running into this issue.

I think we can close this once reinstall is merged.

[2018-11-17 17:52] menor commented on #184
I started playing with it and have the basic logic working, but still need to write tests, comment and improve the code before being able to open a Pull Request for it.

@leo-generali are you OK with me continuing working on this? No problem if you are not, I already had a lot of fun implementing it :) I can also share my solution with you if you want to continue from there, didn't push it yet cau

[2018-11-17 17:56] leo-generali commented on #184
hey @menor!

for sure! i was able to get about half way and then life took over. if you’ve got a solution by all means please take over for me. if you want to tag me in the PR i’d love to see how you did it 😃

[2018-11-17 18:35] menor commented on #184
Thanks :) I will start cleaning it tomorrow then
Will tag you in the PR then once it's ready.

[2018-11-18 00:37] melanieseltzer opened #334 "Improve reinstall loading screen status message UI"
**Related Issue/PR**
#278 / #318

The reinstall feature added in the above PR has added the ability to detect when `node_modules` is missing, and to trigger a reinstall of dependencies from click of a button.

While the reinstall is happening, the standard loading screen is on the screen. The PR also adds a progress bar. There is also a message feature that was added, but this will be commented ou

[2018-11-18 15:50] menor commented on #184
Ok, I have been working on this and it works, but I still need to rewrite the tests for the sagas and improve the message in the alert box (handle plurals)

The thing is before continuing with it, I would like to know if this fits the idea @joshwcomeau commented in the OP. I opened a PR in my fork so you can see the changes more easily.

https://github.com/menor/guppy/pull/1/files

`loadGuppyProje

[2018-11-24 08:10] AWolf81 commented on #243
I'll create an example with Nolt.io in branch `in-app-feedback-nolt` (not started yet). I think we could open the page in a browser or in a new window. I'll check what's better. Nolt is free to use. Sign-up / login was easy with Twitter login.
I've found it on [alternativeTo](https://alternativeto.net/software/doorbell-io/). Also `Instabug` looks nice but I think that's not what we need and it's p

[2018-11-24 18:42] j-f1 commented on #319
You could try adding `filter: grayscale()` to the CSS for that icon.

[2018-11-24 22:12] AWolf81 commented on #319
hi @christiansessler, thanks for tackling this. To your styling: I think the icon can be a bit larger and vertical centered so it lines up nicely with the title.

**For the coloring:**
You could also inline the svgs and modify the style of the svg. [Here](https://codesandbox.io/s/lrk759w7jm) is an example.
Filtering would probably also work but I think inlining svg is more flexible. Just check tha

[2018-12-04 05:41] idoberko2 commented on #309
@AWolf81 are there any decisions regarding the testing library? I can give a hand with writing tests once it's decided.

[2018-12-04 06:05] AWolf81 commented on #309
@idoberko2 no, not decided yet.
What do you think? Which direction should we go?

I like the idea of not testing implementation details with testing-lib but I'm not sure and I tend to Enzyme as it's more mature & widely used.

Would be great if you could add an example in a testing-lib branch for another component.

[2018-12-04 17:31] idoberko2 commented on #309
@AWolf81, I knew enzyme from before and only heard about `react-testing-library` remotely. However, I also find their philosophy interesting and it does seem to be widely used (364K downloads a month, not near as much as enzyme, but substantial).
I will give it a try in the `component-unit-tests-testing-lib` branch and I'll let you know.

[2018-12-05 22:35] KenEucker commented on #44
@joshwcomeau I followed your stack-overflow post to this project and wanted to check in with you and see if you were able to take advantage of the built in node for your project. I have a similar application that I am working on and being able to use the built in node would help me with a roadblock I am experiencing.

Did you find a solution for this?

[2018-12-14 07:10] AWolf81 commented on #44
Not sure if Josh made any progress on this.
I've tried to setup a minimal example with [electron-fiddle](https://github.com/electron/fiddle) and you can find the gist [here](https://gist.github.com/AWolf81/83940b980343a9d8c4024018955c0290).

But still no luck. But with the fiddle it's easier to test as you can start the binary of electron-fiddle and edit the project with-out a Node version in the

[2018-12-16 13:37] AWolf81 commented on #243
We can close this as we're having a feedback button that opens a browser window with the [https://guppy.nolt.io](https://guppy.nolt.io) board.

Changing to another web app would be easy if there is a better one. Just changing `IN_APP_FEEDBACK_URL` in `config/app.js`  will change the link.

[2018-12-16 13:37] #243 closed

[2018-12-19 04:16] wuwb opened #342 "can't finde local nodejs"
i had nodejs installed by brew.

node -v
v11.3.0

![image](https://user-images.githubusercontent.com/510080/50198713-ba258480-0387-11e9-8475-20b513ca5d17.png)

[2018-12-19 16:31] melanieseltzer commented on #342
Do you have /usr/local/bin in PATH? From the [Brew FAQ](https://docs.brew.sh/FAQ):

GUI apps on macOS don’t have /usr/local/bin in their PATH by default. If you’re on Mountain Lion or later, you can fix this by running sudo launchctl config user path "/usr/local/bin:$PATH" and then rebooting, as documented in man launchctl. Note that this sets the launchctl PATH for all users.

[2018-12-19 16:31] melanieseltzer commented on #342
Duplicate of #317

[2018-12-20 06:30] #342 closed

[2018-12-27 14:15] joao-alberto commented on #334
@melanieseltzer is someone working in this issue? I can do that

[2018-12-27 20:53] melanieseltzer commented on #334
@joao-alberto, it's all yours! A couple things to note are that the PR (#318) is actually not merged yet, so you'll need to base your branch off `reinstall` branch, if you'll be working in the codebase for UI changes.

If you need to trigger the UI to show the loading screen/progress bar while you work, you can input some hard values like `isVisible={true}` and `progress={somevalue}` like so:

[co

[2018-12-28 12:53] joao-alberto commented on #334
@melanieseltzer Tks for tips, I'll start now

[2019-01-04 02:24] melanieseltzer opened #344 "Test killProcessId after bumping ps-tree"
Per #338, make sure that bumping `ps-tree` hasn't affected functionality. ps-tree is used in the function `killProcessId` in _services > kill-process-id.service.js_.

Not sure how to mock all the descendants of a process in a test environment 🤔

[2019-01-13 13:49] AWolf81 commented on #309
@idoberko2 I'm writing a test for the Button component - I'll add it to the todolist above.
Once you've started with a test, please let me know and I'll also add it.

[2019-01-17 07:14] AWolf81 opened #351 "Improve UX by cancelling blocking tasks or paralleling tasks"
Maybe related to #33 & #327 because these require paralleling.

**Is your feature request related to a problem? Please describe.**
If the user is starting any blocking action like creating a project, delete project or installing dependency. There is no way to cancel the task or continue working and the user is forced to wait for the completion.

Cancel is sometimes necessary if you detect that you

[2019-01-20 21:45] AWolf81 opened #352 "Disable actions that require an internet connection"
It's more a bug than a feature but I'm writing this as feature description. I've noticed this during my work on PR #335 because there I'm using `fetch` to get the starters from Github.

**Describe the bug**
With-out internet connection some features aren't working as expected:
- Create new project will hang and show a `console.log` (see first screenshot)
- Add dependency won't show Agolia results

[2019-01-22 17:17] davej commented on #317
Also seeing this. I'm using `n` to manage node but it should still work if it loads the profile files correctly. I've seen that [`fix-path`](https://github.com/sindresorhus/fix-path) has fixed issues like this in the past.

[2019-01-26 01:55] 254v0lkan opened #356 "Node Missing"
**Describe the bug**

When  starting Guppy, I get a notification banner saying node is missing
**To Reproduce**

**Expected behavior**

I click ok
get redirected to the install section
**Screenshots**

![image](https://user-images.githubusercontent.com/16579273/51781192-66485100-2126-11e9-85bb-251f2f1a95ae.png)

**Environment (please complete the following information):**
 - OS:
MacOS High Sierra

[2019-01-28 01:06] melanieseltzer commented on #356
Thanks for the bug report, we are having some PATH issues with Mac and working on a fix. Duplicate of #317 so closing in favor of that.

[2019-01-28 01:06] #356 closed

[2019-02-01 15:31] alexlee-dev commented on #317
I'm having the same issue. I don't seem to have a `~/.bashrc` or a `~/.bash_profile`. Just a `~/.bash_history` and `~/.bash_sessions`.

Is there a way I can export something somewhere? Should I just _create_ a `~/.bashrc` manually and export my `PATH` there?

Looks like a great program, and I'm eager to try it out!

Machine Specs:
---
**MacOS**: `v10.14.2`
**Node**: `v8.11.3`
**NPM**: `v6.5.0`

[2019-02-01 15:54] pitops commented on #317
@alexlee-dev if you don't have a `.bashrc` then yeah create one do what i did above

[2019-02-01 16:10] alexlee-dev commented on #317
Thanks @pitops , that worked. Good simple fix.

[2019-02-01 16:14] alexlee-dev commented on #317
Damn Guppy is pretty cool now that I can use it!

[2019-02-01 17:21] pitops commented on #317
@alexlee-dev glad that worked for you. Yeah Guppy is pretty

[2019-02-01 22:38] alexlee-dev commented on #352
I would like to add that it seems if your network is heavily throttled, the search feature also doesn't work, as described above. Creating a new project shows the animation and takes a long time, but it does eventually work.

Hard for me to tell if this is a proxy issue, a firewall issue, or a slow connection issue.

[2019-02-04 22:36] joshuaellis commented on #352
If no one is looking at this I'm happy to do so.

[2019-02-04 23:48] AWolf81 commented on #352
@joshuaellis sure, it's all yours.
If you're having questions or need support during work - please let me know.

I'm pretty busy with writing unit tests. That's why I'm not working on new features at the moment. But maybe I'm doing a break from the tests soon and have a look at the Codesandbox export feature.

[2019-02-05 20:30] joshuaellis commented on #352
A couple of questions relating to the quote, firstly do we already have an infobar designed and built? Not to worry if not. Secondly, I don't think it should be dismissable considering we're going to be blocking core features of the product – building new projects and adding new dependencies.

What're your thoughts?

[2019-02-05 21:08] AWolf81 commented on #352
We don't have an infobar designed. That's a new part of the UI.
Yes, you're right. It's OK that it is not dismissable.

[2019-02-14 11:17] JayaKrishnaNamburu opened #364 "Confirmation prompt upon exit if the servers are still in running state."
Confirmation popup when clicked on close if any project is already in running state.

First, I am pretty excited to see an application like this for the front end but here is a bug or maybe a un-implemented feature which I would like to see in this.

## Current Behaviour
When we start a server and then click on the close window, the application closes but the server will keep on running in the bac

[2019-02-14 11:20] JayaKrishnaNamburu commented on #364
Have something similar #211 but it describes about another scenario.

[2019-02-14 11:59] Haroenv commented on #364
Maybe the child processes could be killed without warning, as an alternative solution. Not sure which is better

[2019-02-14 12:13] AWolf81 commented on #364
@JayaKrishnaNamburu Thanks for reporting the issue.

We're having a `killAllRunningProcesses` in place [here](https://github.com/joshwcomeau/guppy/blob/master/src/components/Initialization/Initialization.js#L105). But maybe it's not called or the active processes are not correclty stored in the `processIds` Array.

The killing should happen in the [electron.js](https://github.com/joshwcomeau/guppy

[2019-02-16 00:41] AWolf81 commented on #364
Seems like the processes are killed correctly if it's closed with top-left icon & close (on Windows) but it's not correctly working if closed with the x-button in top right corner.

![grafik](https://user-images.githubusercontent.com/3046542/52888992-4ed91280-317e-11e9-98bb-41866de0fa0f.png) (**Process correctly killed if closed like this**)

Really a weird bug. `killProcessId` from `kill-process-

[2019-02-16 05:30] JayaKrishnaNamburu commented on #364
Yeah @AWolf81  i think without a promt too should be fine if the servers which are running being killed :smile:

[2019-02-17 22:50] AWolf81 commented on #330
Closing as we're checking that all dependencies are installed. Reinstall feature merged.

[2019-02-17 22:50] #330 closed

[2019-02-18 19:09] joshuaellis commented on #352
I was wondering if we want to have the infobar UI as a separate component that we could use in other instances, is this something we would want or should the Online Checker render an infobar?

[2019-02-20 07:23] AWolf81 commented on #352
I think it's OK to render it in in the OnlineCheck component as this is a special info.

We have had some discussions about notifications (nothing decided) but I think this won't fit into a toastr notification system. We wanted to have some toasts for finishing tasks info or when we'd like to have the users attention on a task - I think there is no open issue for this but I'll check and open an is

[2019-02-22 06:59] AWolf81 commented on #203
After a fresh Windows installation I'm getting the following output if I'm trying to open editor (Guppy v0.3.0).

![grafik](https://user-images.githubusercontent.com/3046542/53224515-45b3de00-3675-11e9-98c2-ebee6ca506a1.png)

So it's only visible in development console.

If one instance of VS code is running the project is opening correctly. Adding `REACT_EDITOR=code` to system env. vars is not wo

[2019-03-19 21:48] AWolf81 commented on #352
OK, we can close this. Thanks @joshuaellis for adding this.

I like the idea of having a low bandwidth info as @alexlee-dev mentioned. Maybe we could add this as a new issue but I'm not sure if it's worth to add.
If you like to see this feature please create a new issue and we can discuss the implementation details there.

[2019-03-19 21:48] #352 closed

[2019-03-20 09:39] joshuaellis commented on #322
Hi @AWolf81

Happy to look into this. Thinking it might be a good place to use the info bar created in #352 to display the error. What do you think?

I can't seem to see a clear node version that's required to run Guppy, if it can be run on any version then showing the app isn't wrong? What do you think?

[2019-03-21 23:07] AWolf81 commented on #322
@joshuaellis Please have a look into it.

Yes, I think the info bar works here too.

We can render everything and just show the info and disable project creation if the Node version is not correct.

[2019-03-28 18:43] superhawk610 commented on #364
Fixed in #367.

[2019-03-28 18:43] #364 closed

[2019-03-28 18:43] superhawk610 commented on #344
Added in #367.

[2019-03-28 18:43] #344 closed

[2019-03-29 22:37] superhawk610 commented on #233
Closing since this was completed in #299.

[2019-03-29 22:37] #233 closed

[2019-04-04 06:14] melanieseltzer commented on #334
Closed via #349

[2019-04-04 06:14] #334 closed

[2019-04-04 06:19] melanieseltzer commented on #278
This was completed in #318

[2019-04-04 06:19] #278 closed

[2019-04-04 14:10] muescha commented on #259
also a +1 from me for `brew cask install guppy`

i see anywhere the recommendation to install apps and also `node` via `homebrew`

this is a better experience for newbees then the manual install of guppy

[2019-04-04 14:14] muescha commented on #259
for a GUI for brew casks the user can use cakebrew ;)

[2019-04-04 14:18] muescha commented on #259
best if that url not changes:
https://github.com/joshwcomeau/guppy/releases/download/v{version}/Guppy-{version}.dmg

example of an cask file:

https://github.com/Homebrew/homebrew-cask/blob/4184d50d2d7fa4afb62e6c7eb6761ae5ac417c88/Casks/brackets.rb#L1-L17

[2019-04-04 14:19] muescha commented on #259
so it is easy - i only don't know what to delete for uninstalling guppy

[2019-04-04 14:29] muescha commented on #259
links:
https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md
https://github.com/Homebrew/homebrew-cask/blob/master/doc/cask_language_reference/all_stanzas.md

[2019-04-04 15:41] muescha commented on #259
done: https://github.com/Homebrew/homebrew-cask/pull/61387

[code]

[2019-04-04 15:41] muescha commented on #259
if its get merged then we can update the readme

[2019-04-04 22:02] AWolf81 opened #376 "Theming of the UI"
I think it would be nice to have theming support so the user can change between different themes.

I would start with a light (default) & dark theme - later we can have more themes but two themes is a good starting point.

Light theme will be the current UI styling and dark will be a variant of it.

**Describe the solution you'd like**
- [ ] Add a theme selection in preferences menu
- [ ] Add two

[2019-04-05 04:17] melanieseltzer opened #378 "Color normalization"
There's some lingering to-dos for semantic colors that we'll need to complete for the next release milestone.

From #377 we've identified:

- [ ] Look at the shades of blue and purple used, decide on `primary` and `secondary` colors.
- [ ] Go through the remaining RAW_COLORS and decide whether we want to add a new semantic color, make an exception, or better, change it to use an existing semantic

[2019-04-05 04:44] melanieseltzer commented on #259
Thanks @muescha, this is great! For uninstalling, I think there's just `~/Library/Application Support/Guppy`. Not sure if I'm missing anything else.

When we cut a new release, is that updated automatically or do we need to manually submit a PR to modify Casks/guppy.rb?

(ping @superhawk610, not sure if you've done some stuff with brew before)

[2019-04-05 05:29] superhawk610 commented on #259
I've used my fair share of homebrew apps but never published one. Looks like @muescha has done all the heavy lifting for us, so we'll just need to figure out a routine way to make sure the cash stays up to date with feature releases. According to the [contribution guide](https://github.com/Homebrew/homebrew-cask/blob/master/CONTRIBUTING.md) there's a simple `cask-repair` script we can use to bump

[2019-04-05 15:14] muescha commented on #259
@melanieseltzer thx for the path

PS: is there a way where i can see which new files and directories a app creates while installing and runnig? i did not find a solution for this :(

[2019-04-05 15:31] superhawk610 commented on #259
@muescha there's no simple way to do this since applications can potentially have access to a large portion of the filesystem. You could potentially use something like [watchman](https://facebook.github.io/watchman/) and watch directories that are commonly used by applications (for Mac, the Applications directory, Application Support directory, home directory, etc). You won't be able to watch the

[2019-04-05 19:15] melanieseltzer commented on #195
Reordering completed in #375.

[2019-04-05 19:15] #195 closed

[2019-04-05 19:19] melanieseltzer commented on #124
With the addition of the scrollbar this should be fixed.

Are we still interested in having the show more button to launch a modal with all projects? To me it's unnecessary now there's a scrollbar.

Ping @AWolf81

[2019-04-05 22:09] melanieseltzer opened #379 "Sidebar reorder blocked by component overlay"
**Describe the bug**

@AWolf81 identified an issue while working on #375 where the Infobar component is blocking the dragging of a sidebar project.

I think this is Windows-specific because I cannot reproduce in Mac (unsure about Linux).

**To Reproduce**

1. Be on Windows
2. Try to drag the project near top of the window
3. Infobar component is sitting on top, preventing the drag

**Screenshots**

[2019-04-05 23:12] AWolf81 commented on #124
@melanieseltzer The show more was an idea for an easier implementation. You are right with the scrollbar that is not needed.

I like the idea of having a list of recently created/used projects but that is a new issue. I'm not sure how this could be added to the UI, in the application menu we could add a list of the 5-10 recently used projects - similar to recent projects in VS code.

Fixed with PR

[2019-04-05 23:12] #124 closed

[2019-04-06 00:03] muescha commented on #259
The cask is still not merged. We should wait with the readme update.

[2019-04-06 01:13] superhawk610 commented on #259
Sure, agreed. If you'd like to write it feel free to open a PR and just make a note that we shouldn't merge until the linked PR on brew's repo is merged. If not, one of our collaborators can take care of it.

[2019-04-06 01:16] muescha commented on #259
Sorry. I am not so good in writing docs, because I am not a native english speaker.

[2019-04-06 02:06] superhawk610 commented on #259
No prob, we'll still credit you in the PR.

[2019-04-07 00:20] AWolf81 commented on #296
OK, I'm working on this.

I think the `.guppy` config file can be added later. I'm adding the project task descriptions to `src/config/project-descriptions.js` - I think it's not needed as a reducer as it is just an object literal constant.

[2019-04-07 02:19] superhawk610 commented on #328
https://github.com/Raathigesh/majestic looks like a cool Jest front-end that fits better with Guppy's UI out of the box, perhaps another option to consider.

[2019-04-07 19:57] muescha commented on #259
🥂 Cask merged

[2019-04-07 22:20] AWolf81 commented on #328
Good idea. Maybe we could use it as starting point, inspiration for the UI or directly integrate it. I like the navigation through the test files but I have some points I don't like:
- No progressbar during test run - just indefinite spinners at each test suite (jest console output got a time & progress bar indication)
- Takes pretty long to load (not measured but I think around 5-10 sec. for Gupp

[2019-04-10 03:59] zianke commented on #66
Hi all, the issue looks very interesting to me. I have some experience with i18n and have used react-intl in my own projects. Also it would be great for me to take this as one of my first open source contributions. If no one else is currently working on it, I'm planning to make a fork and try to implement it these days. It might take a period of time considering the project size and the change of

[2019-04-10 07:17] AWolf81 commented on #66
hi @zianke, sounds great.

Before you start, could you please compare `react-intl` with [react-i18next](https://github.com/i18next/react-i18next)`? I would use `react-i18next` as it seems to be easier to start. I have created a [codesandbox](https://codesandbox.io/s/n08xn76yjp) for it.
I like the code just the hooks should be changed to class-based code as we're not yet using hooks in Guppy.

Woul

[2019-04-11 00:31] zianke commented on #66
Hi @AWolf81 , thanks for your demo. We've also created a simple [codesandbox](https://codesandbox.io/s/6lr1y29wwk) demo for `react-intl`. You might find it helpful.

Although `react-i18next` is also a great choice, I personally would prefer to use `react-intl` in the updates because I'm more familiar with it. We can easily group all the translations with `react-intl`, as you can see in the demo's

[2019-04-11 07:08] AWolf81 commented on #66
Cool, thanks. Yes, the demo helped and I think it's OK to use if you prefer it.

Just some points I think would be good to have:
- Use `messageDescriptor` with flow typing
- Add message descriptor to same folder as component e.g `app.messages.js`
- Rename `translate` folder to `locale` and add subfolders for each language & add a json file for every component translation. Or is this not needed? Wh

[2019-04-11 23:36] zianke commented on #66
Thanks, @AWolf81 . The message descriptor works.

For the file structure of `locale` directory, I think it depends on how many messages and how many components with messages we have. If there are a lot of them, then putting messages of each component in a separate JSON makes it more convenient to find one. But this can also lead to a larger number of `import`s when creating the `IntlProvider`. So

[2019-04-12 05:27] AWolf81 commented on #66
@zianke, yes, you're right and a good idea to see how many messages we have and if it is getting a large file we can refactor/split to multiple files.

OK, I'll start the app menu and reducer later today - once it is ready you can merge that into your branch to replace the hard coded value.

[2019-04-22 23:00] AWolf81 commented on #66
@zianke how is the status of this? Have you made progress?
If I can support you with anything please let me know.

[2019-04-22 23:19] zianke commented on #66
Hi @AWolf81 , you can see our current progress [here](https://github.com/zianke/guppy/tree/i18n).

We (I and @llllish) have listed all the message descriptors (excluding those hardcoded strings in non-component javascript code, such as `types.js`. We may need to discuss how to solve this later. ) Currently we are working on the Chinese translation. Hopefully it can be finished today or tomorrow.

[2019-04-24 20:34] AWolf81 commented on #262
@melanieseltzer I think we can close this issue as it is available on master (Sidebar & MainPane) or is there anything we can do to improve the styling on Mac?

[2019-04-29 04:18] melanieseltzer commented on #262
@AWolf81 I think we can close it. The differing style issue still persists, but honestly I think it looks fine enough that I've not even noticed:

Show scrollbars ("automatically" or "when scrolling" - this is what I see and tbh I prefer it darker anyway):
<img src="https://user-images.githubusercontent.com/17421347/56876153-3a28be80-69fa-11e9-94b3-95838ff109ca.png" width="70" />

Show scrollbars

[2019-04-29 07:53] AWolf81 commented on #262
@melanieseltzer In PR #375 I decided to remove the styling as you mentioned that the style that was there had no effect.

For me it looks OK (auto display and on scroll handle drag) and it's like your second screenshot.
![grafik](https://user-images.githubusercontent.com/3046542/56881984-72fc7e00-6a62-11e9-8ee9-9294fcaa2774.png)

If you like we can keep this issue open until we have improved the s

[2019-05-05 17:37] melanieseltzer commented on #262
I think in the interest of focusing on other lingering issues/PRs we should close this issue and revisit it later if necessary. You're right in that it's just a styling thing and it's working fine, light or dark looks okay. So yeah I'll close this, will keep a watch on https://github.com/malte-wessel/react-custom-scrollbars/issues/314 to see if there's any developments.

[2019-05-05 17:37] #262 closed

[2019-05-08 17:09] Canopix commented on #379
I'm trying to reproduce this bug but I am not able to see it on Windows.
It's already fixed?

[2019-05-08 20:48] AWolf81 commented on #379
@Canopix This issue is still present. The component in question is `Titlebar`. You need at least two projects in Guppy and then reduce the screen height until the first item is close to the top edge of the window.

In the screenshot below I've added a border to the titlebar to make it visible:
![grafik](https://user-images.githubusercontent.com/3046542/57406865-22afb980-71e2-11e9-8385-c4533ef8ff80

[2019-05-09 04:27] Canopix commented on #379
Thanks, @AWolf81
I tried reducing the screen height from the top and from the bottom, and this is the result:
![h0Jx32W](https://user-images.githubusercontent.com/4460417/57427278-a0cb8a80-71f9-11e9-9bb2-339d4eb9d552.png)

[2019-05-09 10:38] AWolf81 commented on #379
@Canopix Then scroll the sidebar (mousewheel or scrollbar) so that the icon is close to the top menubar - like in my screenshot.
After hovering you should notice that the mouse icon is not changing and dragging is not possible.

[2019-05-09 10:48] Haroenv commented on #379
I think the titlebar should be only present on platforms without window chrome (i.e. only Mac)

[2019-05-09 11:20] AWolf81 commented on #379
@Haroenv thanks, I think now I understand why it is there. It is adding the three dots on Mac as window bar, right?
So adding a conditional render will fix this issue. By changing line [App.js:l39](https://github.com/joshwcomeau/guppy/blob/master/src/components/App/App.js#L39) to `{isMac && <Titlebar />}` it should be fixed.
`isMac` can be imported from `platform.service`

@Canopix if you like you

[2019-05-09 12:02] Haroenv commented on #379
the three dots are native I think, but the title bar component is there to make sure you can drag the window all along the top

[2019-05-10 03:54] Canopix commented on #379
@AWolf81 Issue fixed, I did that you mentioned about it.
There is a new PR now 😄

[2019-05-31 02:22] henron1 commented on #34
Going to start on this. I think a notification sound for toasts is a great starting place.

[2019-06-19 23:09] henron1 commented on #34
@joshwcomeau when I try and push my changes up to my named branch it says "cannot resolve module "./Sounds/guppy_create_success.mp3" .  I'm importing it correctly and have it working locally just fine.  Any thoughts on the issue?

[2019-07-23 02:58] security-breachlock opened #384 "Tab-nabbing vulnerability on the guppy5.02.09 CMS"
Description:- When you open a link in a new tab ( target=&quot;_blank&quot; ), the page that opens in a new tab can access the initial tab and change its location using the window.opener property.
Tabnabbing is a computer exploit and phishing attack, which persuades users to submit their login details and passwords to popular websites by impersonating those sites and convincing the user that the s

[2019-07-23 06:46] AWolf81 commented on #384
This repo is for the desktop app called Guppy and not GuppyCMS.

Not sure where they're having their source code. I couldn't find it. Maybe you can send a DM to [@GuppY_CMS](https://twitter.com/GuppY_CMS) on Twitter and ask.

It would be also good if you could mention a possible fix to the vulnerability e.g. add `rel="noreferrer"` and remove the `target="_blank"` - no need to add here, just add it

[2019-07-23 06:46] #384 closed

[2019-08-04 01:25] melanieseltzer commented on #379
Closed in #383

[2019-08-04 01:25] #379 closed

[2019-08-07 17:10] brandonblair81 commented on #317
Having the same issue but I'm using `.zsh` with `oh-my-zsh` instead of `bash`. Tried repeating steps talked about in this thread in my `.zshrc` file but no luck.

Versions Running:
`nvm` 0.33.11
`node` 10.16.0 (set as default)
`npm` 6.9.0

[2019-08-08 02:12] VuongVu commented on #317
Just create a ~/.bashrc file and add `export PATH=$PATH`.

[2019-10-01 00:30] aeweems commented on #316
Hi @AWolf81 , I would like to take a shot at this for my first issue! Is this still up for grabs?

[2019-10-01 20:36] AWolf81 commented on #316
@aeweems sure, this is still open.

Please give it a shot. I haven't worked on Guppy for some time but if you have something to review I'll have a look.

If you need help please let me know.

[2019-10-11 02:05] #319 closed

[2019-10-11 19:46] AWolf81 commented on #37
Once PR #355 is merged, it's possible to use the Xterm.js fullscreen addon to maximize the terminal.

**Code snippet**
`src/components/TerminalOutput/TerminalOutput.js:`
[code]

For the UI I would add an icon close to the clear terminal button to maximize the terminal. I have removed the button in the PR as styling wasn't that easy to fix.

**Icons for fullscreen button**
Toggle icons based on sta

[2019-10-12 23:38] AWolf81 opened #389 "Mark or highlight an outdated dependency"
It would be good to have an indicator in the dependency list that shows dependencies that are not up-to-date e.g. by adding a yellow dot close to the dependency.

Philip Sagala had the idea in a [nolt comment](https://guppy.nolt.io/2).

**Is your feature request related to a problem? Please describe.**

At the moment, the user can only click at each dependency to check if there is something to upd

[2019-11-08 12:20] frontendwizard opened #391 "Why only create-react-app or Gatsby projects?"
I like the idea of a UI to manage my local projects, add remove dependencies, run npm scripts and on, but why limit it to `create-react-app` or `Gatsby` projects?

[2019-12-11 23:35] efraim-andrade opened #392 "Templates options"
A template options feature request.

Will be nice if you guys implement an option to choose templates when we go to create a new project and mainly custom templates from github.

[2020-01-05 17:42] joshuaellis commented on #322
I'm a bit unfamiliar with Flow and i'm getting this error:

`Cannot call 'setInfoBarString' because  rest array [1] has an arity of 1 but  tuple type [2] has an arity of 0.`

Here's the dispatch function it's trying to call –
[code]

The error comes when i'm trying to call the function with either a string value or null value as seen in this snippet:
[code]

This is the tuple type that's causing m

[2020-08-17 16:41] travis-sauer-oltech commented on #389
I see this is an older issue, but I'd love to work on this if you'd like.

[2020-10-01 10:00] osamajandali commented on #376
I want to start working on this

[2020-10-01 15:47] AWolf81 commented on #376
Sure, please give it a shot.
I haven't worked on the project for some time.

But if you're having a version to review, please open a draft pull request and I'll have a look.

Semantic colors PR is merged. So there shouldn't be a blocker for this and semantic color names can be used for the themed UI.

If you're having any questions, please let me know.

[2020-10-02 14:28] osamajandali commented on #376
I have only one question before I start
the light theme is the existing one, isn't it ? and is there any specific colors for the dark theme ? I can provide design mockup here before I start implementing so we could decide together which colors shall we go with.

Are we gonna have our theme or are we gonna let the users set their colors ?

[2020-10-03 14:00] AWolf81 commented on #376
Yes, the light theme is the existing one.

I would do a fixed color theme, so the user can pick a theme with predefined colors.

I think there are no specific colors for the dark theme. Maybe @joshwcomeau has an idea for prefered colors.

The mockup sounds great.

[2020-10-05 15:47] crowtech7 commented on #264
Is this issue still open? Are you still wanting to change the particle thing? I'm wanting to contribute to an open-source project (my first time) for Hacktoberfest and looking around. Let me know if this is still open!

[2020-11-26 22:58] joshuaellis opened #402 "Is this project dead?"
Is this project dead? Does it need more maintainers to take hold of the reigns?

There are a fair few pull requests open, I thought it was pretty cool project and probably really helpful for beginners too.

Be good to have an update?

[2021-03-09 22:35] #402 closed, assigned to nobody

[2021-05-04 23:37] gaa23 commented on #317
I have tried to follow all the advice on this thread but I can't get guppy to recognize my node installation.

[2021-05-11 00:17] grimxreaper commented on #316
Hi @AWolf81 @joshwcomeau is this issue up for grabs? I'd love to do this for my first issue! I see the last comment was over a year ago and it is still open.

[2021-05-14 12:02] AWolf81 commented on #316
Hi @grimxreaper, sure, but the repo is pretty inactive for two years.
To continue working, I'd pick up the PR mentioned here. Probably just the mentioned keyboard navigation in the icons is open but I haven't checked.
At the moment, I'm working more on my blog. So not sure how good I can support here but if you need help, just open a draft PR and mention me there.
I'm also not sure if other people