[2018-06-29 13:02] joshwcomeau opened #25 "Bi-directional communication with processes"
A big part of Guppy is the ability to run tasks (AKA NPM scripts).

For most tasks, this is fine; a command is sent, and then output is logged to the screen.

The CRA "eject" script, however, has a warning prompt that requires the user to enter "yes" or "no". In our case this prompt is unnecessary (since the UI has its own prompt), but we need some way to communicate with the process after it's st

[2018-06-29 13:06] joshwcomeau opened #26 "Switch to Electron Builder for auto-updates and proper installers"
Right now, Guppy has no auto-update mechanism. This means that when we release a new version, the people using Guppy have to come back to this repo to download and install it! This is lame.

Auto-update appears to come built-into [electron-builder](https://github.com/electron-userland/electron-builder). It also comes with other benefits, like building a `.dmg` for installation.

Unless anyone has

[2018-06-29 13:08] joshwcomeau opened #27 "Windows support"
Guppy currently only works on MacOS. Let's fix that and make it Windows-friendly!

**Note: This ticket is blocked by a couple of others that should probably be tackled first. See below:**

Some notes:

- Guppy does a lot of filesystem stuff, and it's unclear to me how much work is required for Windows compatibility.

- All projects are currently created in `{os.homeDir()}/guppy-projects`. Does thi

[2018-06-30 11:40] joshwcomeau opened #28 "Project configuration"
Currently, there's no way to "edit" a project. A few common tasks will be needed:

- Change the project's name
- Change the project's icon
- Delete the project

This can either be another module at the bottom of the project page... or maybe it should be a modal, accessible by clicking a "gear" icon? TBD.

Also, deleting the project should be in the application menu

[2018-06-30 11:44] joshwcomeau opened #29 "Project icons"
When you create a new project in Guppy, it asks you to select an icon.

Once the project is created, though, there is no way to update that icon.

For imported projects, it's even worse; you just get a random color and the first letter of the project name.

Ideally you should be able to change icons whenever, as well as upload your own, or choose to automatically use the favicon for the project (e

[2018-06-30 11:48] joshwcomeau opened #30 "Terminal colours not showing"
When running commands in a terminal, ANSI terminal colors are respected:

![screen shot 2018-08-01 at 3 57 08 pm](https://user-images.githubusercontent.com/6692932/43545375-ba3d3104-95a3-11e8-9ba8-0aebf32b87ac.png)

When running in Guppy, though, only the commands issued by Guppy have colors. The stuff forwarded from tasks are all white:

![screen shot 2018-08-01 at 3 59 00 pm](https://user-images

[2018-06-30 11:52] joshwcomeau opened #31 "More-helpful terminal output"
By default, the terminal output viewers just pass along whatever the underlying tools spit out.

Sometimes, this output is not helpful for Guppy. For example, Gatsby instructs to run `yarn build` in the dev server output. There's no way to run terminal commands, and so it's irrelevant.

In an ideal world, I think we'd transform existing output into something friendlier / more appropriate... but th

[2018-07-01 15:18] joshwcomeau opened #33 "Parallel actions that affect package.json"
### The problem
Installing or updating dependencies is quite slow: `npm install --save some-dep` might take 30-40+ seconds, even on a really fast computer.

Worse, they can't easily be parallelized. For example, you can't run `npm install --save some-dep` and then, 2 seconds later in another terminal tab, run `npm uninstall some-other-dep`.

The reason for this is that both of these commands modif

[2018-07-01 15:20] joshwcomeau opened #34 "Sound effects!"
This is a desktop app, and desktop apps don't have the "no sounds!" stigma that the web has.

Some ideas:

- A quiet-but-sharp clicking sound when clicking buttons (eg. selecting a different project)
- Some sort of celebration fanfare when a new project is created
- A notification sound for when toasts are popped
- An erase sound when dependencies are removed.

I should be able to use [`redux-soun

[2018-07-01 15:23] joshwcomeau opened #35 "Use a different package manager"
Currently, to keep things simple, Guppy just uses the system NPM to install dependencies.

It would be great to find a more efficient solution, though. I have my eye on `pnpm` (https://github.com/pnpm/pnpm), a manager that helps avoid the bloat of new projects having several hundred MB in `node_modules`. Especially for aspiring developers who may be on lower-end machines with less total disk space

[2018-07-01 15:32] joshwcomeau opened #36 "Limit how much log output is shown/kept"
While using Guppy on a side-project, I realized that it gets kinda slow/sluggish after a while.

I believe this is because the Development Server outputs _all_ text, forever. The longer it stays open, the more DOM is added, and it gets to be a lot.

One easy solution could be to clear the terminal whenever it rebuilds. Another slightly trickier solution could be to virtualize the offscreen content

[2018-07-01 15:34] joshwcomeau opened #37 "Enhanced terminal"
While using Guppy, I noticed that a couple things made it less-than-ideal:

- The terminal window is a small part of the overall screen, despite being the only part of it I need to see
- There's no way to clear the terminal, so it's unclear to me how stale the data is.

### Solution

We should have a "fullscreen" button which makes the terminal take up the whole window.

We can also add a "clear"

[2018-07-04 13:20] joshwcomeau opened #38 "Add new tasks"
Right now, there's no way to create new tasks through the UI. You have to modify the package.json and then reload Guppy.

This task has a few parts:

- Come up with the right call-to-action (maybe a new row below the final task, with the dashed-outline, and the text "Create new task"?)
- Open a modal that lets the user enter name, description, and command to run
- Update the package.json with the

[2018-07-09 12:31] joshwcomeau opened #40 "Set up CI"
It would be great to get the application bundled in CI, to test that everything works properly. This will also be helpful once we have more tests!

[2018-07-09 12:37] joshwcomeau opened #41 "Tests!"
Right now, only a single test file exists, for the Tasks reducer.

This project is still very early, and I expect the UI to change dramatically, and so I'm not so concerned with UI tests, but our core business logic should really have more tests.

Some files I think are top-priority for testing:

- [ ] task.reducer.js (there are tests but it's incomplete)
- [x] dependencies.reducer.js (yay thanks

[2018-07-10 12:53] joshwcomeau opened #42 "Design custom logo"
Right now, the Guppy logo is the Apple "tropical fish" emoji (assuming you're on a mac, 🐠)

This is likely a copyrighted thing, though, so we should really get a custom one.

I've purchased no fewer than 3 logos on Fiverr, and I've since learned that there's a reason everything is so cheap on Fiverr. I haven't been super happy with any of the results.

If any graphic designers are reading this, he

[2018-07-14 14:13] joshwcomeau opened #44 "Use integrated Node if not otherwise installed"
Right now, installing Guppy is a 2-step process:

- Download and Install Node.js
- Download and Install Guppy

Guppy is an electron app, though, and electron apps come with a built-in Node runtime! How cool would it be to no longer require a Node installation, by just using the bundled one if no system Node is found.

(I think we'd still want to use the system Node, when it's available, so that th

[2018-07-14 16:31] geekysrm commented on #27
What about Linux?

[2018-07-14 17:20] cudba commented on #35
I think the user needs control over the used package manager. You can run into problems (e.g CI) if you add dependencies with yarn while others on the project use npm (package-lock.json). Checking if theres a npm / yarn -lock.json and pick this as default could make sense. And have an 'App Default package manager' for new apps maybe (with some info on which to pick for what kind of setups)?

[2018-07-14 19:46] joshwcomeau commented on #27
Good point, I should create an issue for that. Truthfully it's not as high on the priority list for me (given that Guppy is aimed at beginners, I'm guessing there's a far bigger Windows audience than Linux), but it would still be great to have, and it's probably not that much effort to add support for it.

[2018-07-14 19:48] joshwcomeau opened #45 "Linux support"
Currently, Guppy only works on MacOS. We should aim to build it for Linux as well!

Windows support is tracked in #27.

This ticket is sorta blocked by #26 - if we're gonna switch to electron-builder, we should do that before spending time/energy on a Linux installer solution. Although I'm also cool if someone doesn't wanna wait for that to submit a PR that adds Linux support.

[2018-07-14 21:36] mischnic commented on #25
According to [this SO answer](https://stackoverflow.com/questions/15147900/how-to-supply-console-input-yes-no-as-part-of-batch-file-on-windows): (not tested)

---

Well, Unix even has a command for this specific usecase:

[code]

[2018-07-14 23:52] superhawk610 commented on #25
I'm not near my Mac right now to test this, but couldn't you use `childProcess.stdin.write()` when prompted? Something like:

[code]

[2018-07-15 01:12] kirakik opened #47 "Choice of starter on project creation"
Suggestion: it would be nice to give a choice of starters to allow users to bootstrap more complete projects using the GUI.

A first version could just include a choice between different [Gatsby starters](https://www.gatsbyjs.org/docs/gatsby-starters/)

Eventually, a more complete solution could allow for more customization using an [Ignite](https://github.com/infinitered/ignite) boilerplate/plugi

[2018-07-15 02:35] skeithtan opened #48 "Clicking on GitHub link in dependencies doesn't work"
The link takes you to `https://github.com/%5Bobject%20Object%5D` instead of the actual page of the dependency.

I'm running the latest release version.

[2018-07-15 05:02] KyleAMathews opened #49 "Don't allow builds when a package install is in progress"
Gorgeous app! Was really fun playing around with it a bit tonight.

I did manage to cause a build failure on accident. I added a new dependency (super nice) and while it was installing, somewhat absent-mindedly started a build which then failed of course because some of the dependencies had been deleted or moved around or whatever due to the ongoing install.

[2018-07-15 05:03] KyleAMathews commented on #49
Oh just noticed this also broke the develop server which was also running. Which is probably something we need to fix as we could probably detect this and die and restart (maybe?).

[2018-07-15 05:05] KyleAMathews opened #50 "Make "task" operations buttons?"
It obviously makes sense for long-running operations to be a toggle e.g. starting the develop server. But perhaps builds/format/tests/etc should be buttons since they're discrete tasks which then finish?

[2018-07-15 05:07] KyleAMathews opened #51 "Add "serve" or "preview" ability"
It'd be cool if after building your Gatsby or CRA site, you could then preview the built site via Gatsby's built-in serving and a standalone server for CRA.

[2018-07-15 05:08] KyleAMathews commented on #51
People fairly regularly think Gatsby's development server is the same as a production site so write issues saying they don't understand why the JS bundle is so large, etc. So making the distinction between prod/development clear in Guppy's UI could help.

[2018-07-15 05:10] KyleAMathews commented on #47
@sw-yx is working on a new starter showcase for Gatsby https://github.com/gatsbyjs/gatsby/issues/5334

One thing that is coming out of that will be a YAML file with details about each starter. This could be downloaded into Guppy to power a starter selector UI. We've discussed building a GraphQL API for starter info as well in the future but that's pretty tentative and the YAML file should be perfe

[2018-07-15 05:16] sw-yx opened #52 "open straight to IDE"
have a nicer handoff from the installation to starting development by having a button that opens straight to IDE. you can use [launchEditor](https://github.com/facebook/create-react-app/blob/d72678fb0c02145d24b7684802a3f5cfc94bd746/packages/react-dev-utils/README.md#launcheditorfilename-string-linenumber-number-void) from react-dev-utils, it should jsut be a few lines. the harder part is where to

[2018-07-15 05:42] icarlossz opened #53 "Colors in macOS Mojave"
Hi! II'm trying guppy in my macbook with macOs Mojave and I have a problem with the colors of the app, because I imagine that the fact of having active the darkmode that makes the default font is white looks like this:

![image](https://user-images.githubusercontent.com/5649014/42730896-935dd3fc-87c7-11e8-88ea-86a606aa5e73.png)

This is not absolutely important but damages the first impression whe

[2018-07-15 07:47] dakshgautam1 commented on #52
Awesome. I was also thinking about it. I was thinking to show all the editors present on the machine at the start of the app and show them as a list. Then open accordingly.

[2018-07-15 12:42] joshwcomeau commented on #45
Awesome! Thanks for checking, @patcito. I don't currently have linux installed anywhere, but I assumed most things should just work. Glad to see that assumption was valid :D

I mentioned #26 as a possible semi-blocker, but if someone wants to just use `electron-packager` to add it, it should be pretty straightforward. Here's what I imagine, in `package.json`:

[code]

Piecing this together from th

[2018-07-15 12:52] joshwcomeau commented on #52
Ahh, yeah, this is key. Also, it fits nicely with https://github.com/joshwcomeau/guppy/pull/46. I have an idea for how this should work in the UI; I imagine a couple of subtle buttons right below the project name, for "Open in Finder" and "Open in Editor"

[2018-07-15 12:54] joshwcomeau commented on #48
Good find! Thanks for the report

[2018-07-15 13:01] dakshgautam1 commented on #52
I suggested that because I usually have two editors open "Sublime (for misc tasks) and VS Code (for coding) ", and whenever I try to see the source of error, the "error page" opens up sublime text.

[2018-07-15 13:04] joshwcomeau commented on #49
Hi Kyle! Thanks for checking Guppy out, glad you enjoyed it :D It's still super early days, but I'm excited to see where it goes from here.

There's some general weirdness with trying to do things while deps are installing (tracked in #33). My current not-very-great solution is to disable all dependency actions while one is in progress (since yeah trying to install a dependency while one is alread

[2018-07-15 13:10] joshwcomeau commented on #47
Totally agree! I had actually wanted to include this at first, but ultimately I wanted to just ship it and see if the community could help add support for things like that. I imagine rearranging the onboarding a bit so that an icon is chosen before the project type. That way, project type can lead to a new screen that includes a list of possible starters.

I'm hesitant to go down this road, at lea

[2018-07-15 13:10] joshwcomeau commented on #53
Thanks! Added more info in the PR (#54)

[2018-07-15 13:12] joshwcomeau commented on #52
I have exactly the same setup, haha (I use sublime for Git commit messages, since it opens faster than VS Code). I haven't run into the issue clicking errors in CRA, but I 100% believe it's possible. But yeah, I imagine the typical Guppy user doesn't have multiple IDEs running at the same time, and so I think it's fine to defer thinking about this until the bigger-ticket issues for beginners have

[2018-07-15 13:16] joshwcomeau commented on #50
Yeah, so I did a fair bit of hemming and hawing about this. The thing is that even discrete tasks are interruptible, you can switch them off if you change your mind. It may not be as clear that you can click a button to stop it (and there's that UX thing where it's never clear if the button text should reflect the current status, or what happens when you click on it).

Ultimately I'm pretty dis-sa

[2018-07-15 13:21] joshwcomeau commented on #51
Ahh, this is a great idea, and exactly the kind of neat benefit that a GUI allows for (well, could be done with a CLI too, but not without blocking that terminal window, so it can be much more unobtrusive with a UI)

I mentioned in #50 that I want to get rid of the "Tasks" module, where each task is identical row-to-row. This is a great example of how having a custom "Build" module would be prefer

[2018-07-15 14:08] patcito commented on #45
This worked great, I was able to build it on linux, here's the compressed dir with the Guppy binary in it for anyone interested https://drive.google.com/file/d/1URc4AgxsXXayLCt7U_Rpqz-aUab3zGnk/view?usp=sharing

[2018-07-15 14:36] mirkojotic commented on #41
@joshwcomeau Hey, I'd like to take one or more of above if I can do so on Linux. If its possible I'd start from the beginning with `task.reducer.js`.

[2018-07-15 14:51] karlsander commented on #37
There's an annoyance I noticed while using guppy that would also be helped by this (or should I open a new issue?):

- When quickly scrolling to the bottom of the terminal, its very easy to accidentally scroll the whole window content down.

My personal preference would be to open the terminal in a separate window instead of full screen in the same window, because I think thats one of the strength

[2018-07-15 15:08] karlsander commented on #48
I think I see what causes the bug and am going to fix this issue, to get my feet wet setting the project set up locally.

[2018-07-15 16:49] bennygenel opened #59 "[Proposal] next.js support"
I think [next.js](https://github.com/zeit/next.js) can be really good addition to this program since it also supports creating projects with `npx` or `yarn create` with lots of [example projects](https://github.com/zeit/next.js/tree/canary/examples).

For someone just started using React, setting up SSR can be really confusing so next.js's out of the box support can be really helpful to get things

[2018-07-15 18:49] bennygenel commented on #27
@joshwcomeau I tried to run project on a Windows 10 computer to see how much of a change does project need to run in reality. I don't know if these going to help or not but I guess it's a start.

`os.homeDir()` resolves to `C:\Users\username` on windows. Usually default path for projects is `C:\Users\username\Documents` (Most of the IDEs including Github desktop app use this path). So it's a quick

[2018-07-15 19:51] AWolf81 commented on #27
@bennygenel I did the same in a branch [here](https://github.com/AWolf81/guppy/tree/windows-support).

I've also added `cross-env` at the positions that you've mentioned.

For the issue with `npx.cmd` I've used [cross-spawn](https://www.npmjs.com/package/cross-spawn) so I'm not getting `ENOENT`. I wasn't aware that it was just not finding it because of the `.cmd`.  Not sure which version is better

[2018-07-15 20:11] j-f1 commented on #25
@superhawk610’s suggestion would also work for a test runner UI — you just need to parse the `stdout` to ensure Jest is ready for input, then run `childProcess.stdin.write(input)`.

[2018-07-15 20:16] j-f1 commented on #26
If you want a [fancy landing page](https://update.actualbudget.com) that will autodetect the user’s OS and serve the right installer, ZEIT’s [hazel](https://github.com/zeit/hazel) could be useful, although it doesn’t handle building the app.

[2018-07-15 20:54] Leodau commented on #35
Kindda like the 'App Package Manager' idea, good oportunity to teach people which to use depending on the wanted stack, NPM & Yarn could be a good start.

[2018-07-15 21:59] AWolf81 commented on #26
I've tried to add `electron-builder` but it's not working yet. It looks like the build folder is not packaged into the executable.

Here is my config in package.json:

    {
    ...,
    "scripts": {
        ...,
        "pack": "npm run build && build --dir",
        "dist": "npm run build && build"
    },
    "build": {
        "appId": "guppy",
        "mac": {
            "category": "your.app

[2018-07-15 23:36] joshwcomeau commented on #26
Neat! I'm not super concerned for that, although it's good to know about.

------

Thanks for taking a stab at it, @AWolf81! Is your work pushed to a branch on [your fork](https://github.com/AWolf81/guppy)? If so, I'll try and find the time to clone it and see if I can make sense of it.

[2018-07-15 23:38] joshwcomeau commented on #37
Yeah, I've noticed this too.

I like your multiple-windows idea! Hadn't even occurred to me. I haven't yet learned to think outside the standard web-app frame of mind (for example, it wasn't until late in the development that I realized I could leverage application menus like File, Edit, etc).

I haven't explored multi-window stuff with Electron and I think it would be tricky since all of the redu

[2018-07-16 01:03] j-f1 commented on #36
[React-Virtualized](http://bvaughn.github.io/react-virtualized/#/components/List) could help with this. The screenshot in the README shows that soft wrapping doesn’t occur, so how would each entry be of unknown height?

[2018-07-16 06:10] ganderzz commented on #26
Got it running on Windows 10, and creating an `.exe` [using these settings](https://github.com/joshwcomeau/guppy/compare/master...ganderzz:feature/26-add-electron-builder) (including `src`, `public`, and `dist` is required to run). Will mess around with the config some more, but feel free to take this as a base!

[2018-07-16 08:00] andomain opened #62 "Importing non-supported projects causes blank screen"
I tried importing an old side project just to see how the application works etc. As this was not created with Gatsby, create-react-app then this failed and gave the warning message as expected. However this then resulted in a blank screen and I had to close and reopen Guppy.
Should this not fail gracefully and go back to the initial start screen?

[2018-07-16 08:15] AWolf81 commented on #26
@joshwcomeau no problem, I haven't pushed it to my branch yet.

Thanks @ganderzz, I'll try your config later today. So I probably just missed to add more files to the config.
Do you know why the `src` folder is needed in the electron builder config? I thought that the `build` folder is enough as I think it contains all scripts.

[2018-07-16 11:21] bennygenel commented on #27
@AWolf81 fixed restarting dev server problem. You can check the PR for details. It was related to exit code check on file `task.middleware.js`.

[2018-07-16 11:59] joshwcomeau commented on #62
Ahhh, right. So I tested this when Guppy already had existing projects, but the way we're tracking onboarding is problematic for this case.

If anyone wants to take a stab at solving this one, I think it'd be relatively self-contained; I suspect it might have to do with `onboarding-status` being set too early (we should only mark onboarding as completed after a successful project import)

[2018-07-16 12:05] joshwcomeau commented on #59
Yeah, I like the idea of supporting Next.js as well! Thanks for creating the issue.

It's a mid-level priority to me; not something I feel is critical, but not a long-term vision either. I'm a tiny bit wary of the added complexity cost for adding it, although I think it's also a good opportunity to clean up some of the less-than-stellar stuff with Gatsby (effectively I want to avoid sprinkling pro

[2018-07-16 12:20] joshwcomeau commented on #27
Wow, so glad to see so much progress on adding Windows support! Y'all rock.

I'm reviewing @bennygenel's PR now. @AWolf81 it looks like you were both going in a very similar direction, but it'd be awesome if you two could work together to find the optimal solution (rather than have 2 competing PRs, I'd love to see a collaboration on 1).

Thanks so much!

[2018-07-16 12:59] chinanf-boy opened #65 "plan of translate chinese 🇨🇳 , nice work and Talk more diff people know"
## If you want to ,Add `h2|h*` to source `readme.md`

[code]

---

## People of World

- [![china](https://raw.githubusercontent.com/gosquared/flags/master/flags/flags/shiny/24/China.png) **中文/Chinese**](https://github.com/chinanf-boy/guppy-docs-zh)

[2018-07-16 13:10] joshwcomeau commented on #30
@kitze did you ever figure this out?

[2018-07-16 13:19] joshwcomeau opened #66 "Internationalization"
Guppy's goal is to remove barriers for beginners to learn how to do modern web development. One huge barrier is that tools like create-react-app are only available in English, and many aspiring web developers don't speak English!

It would be awesome to get i18n support in Guppy. Unfortunately, it's also a huge amount of effort, and not one I foresee having time to develop. If folks are interested

[2018-07-16 13:30] AWolf81 commented on #27
@joshwcomeau Sure, I've quickly reviewed @bennygenel PR and it looks great. I'll try to help him with open issues at `eject` and the Gatsby topic.

**Restarting issue**
OK, noticed. Not sure why the exit code is different for Windows. I'll have a look later. Maybe that's also a permission issue or the forcing is affecting the error code. It should be exit code 0 also in Windows.

[2018-07-16 13:33] bennygenel commented on #27
@AWolf81 and @joshwcomeau  Thank You. I'm happy that you liked the progress. I'm going through your reviews and fixing quick ones.

[2018-07-16 13:50] alex-saunders commented on #66
Hey @joshwcomeau , I'd love to help out with this project and this seems like a great starter issue.
One question - in terms of design, would you prefer a flag in the top-right when no project is available or perhaps a more permanently accessible feature? I was thinking we could introduce a 'settings' view (accessed by a settings cog/icon on the bottom of the left-hand navigation pane?) and have l

[2018-07-16 14:09] Haroenv commented on #66
It would make more sense to detect the user's preferred languages, I think those should be in `navigator.languages` or `navigator.language`

[2018-07-16 14:10] ganderzz commented on #26
@AWolf81 Didn't dive too much into it, but I'm guessing it's due to `"main": "src/main.js"` in `package.json`. Might just have to change that to point to the compiled js in `build`. 🤔

[2018-07-16 14:12] karlsander commented on #66
Would it not be sufficient to use the language and locale set in the operating system? I don't commonly see native apps have their own language selector.

React-intl/FormatJS seems like a solid solution, and it's good to start these things early on when there aren't too many hard coded strings all over the place.

Since this application is going to be geared towards lightly technical users, who mi

[2018-07-16 14:38] karlsander commented on #35
I don't know how much overhead adding support for multiple package managers would add, but I would assume quite a lot, since guppy becomes more valuable the more closely it interacts with the package manager. I would just pick either yarn or npm and build on that. Picking between two package managers, that tbh sound identically to a developer that hasn't experienced the issues of using npm before,

[2018-07-16 15:19] bennygenel opened #68 "[CRA] Installing dependencies after eject"
After ejecting a CRA app user have to install the required dependencies before running the app again. This is leading an error in development server after ejecting the app.

It would be a good UX if a warning shows up after ejecting, telling to run command `npm install` or maybe event better to run the command right after eject task finishes without prompting anything.

[2018-07-16 15:35] bennygenel commented on #59
@joshwcomeau I'm on a Windows machine but good thing that I'm working on Windows support. So hopefully soon it is not going to be a big problem =)

I agree that this addition would push the project on a cleaner state. If we implement the structure you mention on https://github.com/joshwcomeau/guppy/pull/63#discussion_r202665040 (`formatCommandForPlatform `) it would be a good start I think.

After

[2018-07-16 17:19] cudba commented on #35
you re right, by default the user shouldnt be forced to deal with the package manager. And going with 1 keeps things simpler.
Still for deeper integration into guppy, you re probably dependant on the installed version of npm/yarn? maybe abstracting away the actual npm/yarn scripts from the integrated package manager actions might be a good way. you could provide the scripts according to the instal

[2018-07-16 18:15] melanieseltzer opened #71 "Cannot find module 'eslint-plugin-prettier'"
Trying to get this set up locally on my machine. Per the CONTRIBUTING.md I have:

- Forked and cloned to my machine
- `npm install` (this wasn't in the instructions but assumed I needed to do this)
- `npm run start` - this is where the error is thrown, and then process hangs

<img width="1274" alt="screen shot 2018-07-16 at 10 25 28 am" src="https://user-images.githubusercontent.com/17421347/42773

[2018-07-16 20:03] joshwcomeau commented on #68
Huh, I was under the impression that this wouldn't be necessary (after all, the dependencies are already there; it updates your `package.json` but the stuff in `node_modules` shouldn't change). I thought I tested this, as well... So I suspect there might be some other bug if things stop working after ejecting.

But yeah, we definitely want to make sure ejecting doesn't break things! Worth looking

[2018-07-16 20:07] joshwcomeau commented on #71
Ah, hmm. I don't believe I'm using `eslint-plugin-prettier` directly, so maybe there's something funky going on with a sub-dependency requiring this improperly?

I'll install that version of node/npm and see if I can reproduce. Thanks for the report!

[2018-07-16 20:18] joshwcomeau commented on #66
Thanks for the feedback y'all! Excited to see so much enthusiasm around this issue :D

Yeah, I should really check how other apps do this. Using the OS language seems like the best idea (the best UI is no UI!), with maybe an override in the application menu if it's deemed necessary.

I'm unfamiliar with transifex, but agree a service might be nice to encourage translations from folks not familiar

[2018-07-16 20:22] #48 closed

[2018-07-16 22:10] melanieseltzer commented on #71
Yikes, definitely my screw up. It was due to my global .eslintrc requiring the prettier plugin 😬 So sorry for wasting your time! I'm up and running locally just fine.

[2018-07-16 22:11] #71 closed

[2018-07-16 22:18] bennygenel commented on #66
I would love to help out too. I'm on a Windows machine so I can test/integrate OS language detection and also I'm "tr_TR" local. I can help to translate strings to Turkish.

I have worked with [i18next](https://github.com/i18next/i18next) before a little bit. It has a library for language detection for electron ([i18next-electron-language-detector](https://github.com/neruchev/i18next-electron-lang

[2018-07-17 11:52] joshwcomeau commented on #53
Merged! Will be released shortly :)

[2018-07-17 11:52] #53 closed

[2018-07-17 11:54] joshwcomeau commented on #45
Fixed in #55, will be released soon (today or tomorrow)

[2018-07-17 11:54] #45 closed

[2018-07-17 12:24] karlsander opened #72 "Application Menu"
As a desktop application, guppy should support an application menu. A minimal version of this is needed to support "Select All", "Copy", "Paste" ... in text fields. It's also needed for adding keyboard shortcuts (and letting (macOS) users customize them via System Preferences for free). Let's collect the things that the menu should contain / do in this issue before we implement it.

Minimum
- File

[2018-07-17 12:54] joshwcomeau commented on #72
Funny, I was just about to open a very-similar issue. I just realized that you can't copy text in Guppy and I assume it's because the "edit" application menu hasn't added.

So yeah, in my mind, "Edit" is the top priority, and it should be really easy to add. I can also see value in adding a way to switch between projects, since the icons might not be everyone's cup of tea. Maybe there should be a

[2018-07-17 13:01] karlsander commented on #72
It was once in the Mac human interface guidelines (I don't think it is anymore) that the first menu item can be the Thing that the application primarily acts on, instead of File. Since files are also involved in what guppy does, but not acted upon in the first menu entry / the type of document open in the window, I think using Project would be appropriate here. See also "Shell" in Terminal.

[2018-07-17 13:11] joshwcomeau commented on #25
Ohh, my bad! I'm sorry, I read through that comment too quickly.

So I tried this, and it doesn't look like it works; it appears to be writing to stdin (and forwarding to stdout) without being "processed" by the task. It gets stuck in a loop where it just keeps adding `y`s:

<img width="579" alt="screen shot 2018-07-17 at 8 56 38 am" src="https://user-images.githubusercontent.com/6692932/42818712-

[2018-07-17 13:39] superhawk610 commented on #25
@joshwcomeau you have to terminate each input command with a newline - think about it like physically using a TTY, you have to press Enter for your command to be processed and not just output to the screen.

[code]

[2018-07-17 14:27] superhawk610 opened #74 "Corrupted package-lock.json"
After cloning the repository and attempting to run `npm install`, I get the following error:

[code]

This error appears to be due to a corrupted package-lock.json. The offending line can be found here, in the dependencies for `jest-environment-jsdom`:
[code]

Deleting package-lock.json allows for a successful install.

So long as guppy doesn't require a specific version of any recently updated pa

[2018-07-17 16:40] melanieseltzer commented on #62
I jumped on this with #75 cause I didn't see anyone working on it, hope that's okay 😅

[2018-07-17 19:43] mik639 commented on #41
Hi @joshwcomeau
I have some tests for dependencies reducer here #76

[2018-07-17 20:04] superhawk610 commented on #74
I think erring on the side of consistency is never a bad decision, so I think we should just remove the package-lock entirely and insist on using Yarn for contributing.

If I understand them correctly, lockfiles' sole purpose is to ensure that dependencies that use a range specifier (^, <, >, ~, etc) will grab the same version even during new installs on a different machine in the future, once a n

[2018-07-17 20:41] superhawk610 commented on #33
After some very superficial initial testing, I think it actually is possible to run concurrent `npm install`s - I could be wrong, but I don't think the `package.json` is locked, but instead the individual directories within node_modules and npm's cache directory, which generally prevents concurrent installs as only one install process can use it properly at a time. However, npm allows you to speci

[2018-07-17 20:54] superhawk610 opened #77 "Distinct progress bars instead of indeterminate spinners"
While installing dependencies, both during step 4 of project creation as well as when adding them manually to an existing project, the UI simply displays an indeterminate spinner until the dependency is installed. To new users, this may be concerning, especially if they are running on older hardware (redux took well over two minutes on my 2011 MBP). NPM's CLI displays a progress bar at the left of

[2018-07-17 21:48] superhawk610 commented on #77
NPM CLI's logger uses `gauge` to display progress bars. They appear differently across different OS's - below are those that I've observed, let me know if yours is different. They should be fixed at 20 characters wide, including the start- and endcaps.

[code]

[2018-07-17 21:52] #62 closed

[2018-07-17 21:54] j-f1 commented on #33
You could also put a status bar in the header (kind of like Xcode) that can display multiple tasks running at once, allow you to see how each task is progressing, and show useful information when the project is idle.

[2018-07-18 10:40] j-f1 opened #80 "Escaping and formatting issues in the package search"
To reproduce, go to any project, click “Add New Dependency” and search for “prettier-stylelint.”

Some observations:

1. The description says “code &amp;gt; prettier &amp;gt; stylelint &amp;gt; formatted code” while it should say “code > prettier > stylelint > formatted code.”
1. The third hit, `@goodforonefare/prettier-stylelint-formatter`, wraps and causes the button text to wrap, too. Perhaps t

[2018-07-18 13:19] joshwcomeau commented on #74
Yep, good catch guys. I haven't run into this issue, but totally agree we shouldn't have competing lock standards.

I've had really good results with Yarn so I vote `.gitignore`-ing the package-lock and making sure we treat `yarn.lock` as the source of truth.

[2018-07-18 13:35] joshwcomeau commented on #77
Hi @superhawk610!

Thanks so much for your involvement in this and other issues :D

Breaking this up into a couple sections:

### Dependency installation / updating

Yeah, so this is a real pain point. Dependency installation is really not fun right now.

There are a few thoughts/concerns around this:

- I see that you've already commented in #33 (thanks for being so proactive in these discussions

[2018-07-18 15:41] melanieseltzer commented on #80
Looking into these 👍

[2018-07-18 17:40] joshwcomeau commented on #42
Oh wow, thanks to both of you! These look great :D

Of the two, I think I prefer @superhawk610's. Captures the fun and colour that I was imagining. Curious to get thoughts, @bukharim96 @Haroenv @karlsander @bennygenel

For @superhawk610's two iterations, I think I prefer the second one, with the mouth :D maybe it could be a bit subtler though (maybe 75% opaque or something so it'd be a dark orange

[2018-07-18 21:11] karlsander commented on #74
This issue should be solved now that the package-lock.json is removed by #81

[2018-07-18 21:11] #74 closed

[2018-07-18 21:59] AWolf81 commented on #26
@ganderzz It's still not working for me. 😢 The app is created/bundled but after starting the app it's not finding `cross-spwan` see screenshot below. DevServer is starting with-out that message - so it's correctly installed.

![grafik](https://user-images.githubusercontent.com/3046542/42909319-10083432-8ae4-11e8-98d9-5e39aa6e10f2.png)

I'm not sure what's missing in my config (see [here](https://g

[2018-07-18 22:36] j-f1 commented on #80
[here’s a demo](https://codesandbox.io/s/nnw8opozlm) of loading on scroll (the actual code is in `App.js`).

[2018-07-18 23:58] superhawk610 commented on #42
Alright, here it is with a subtler smile and at a few sizes. What jumps out to everyone as areas that are confusing/difficult to interpret at the smaller sizes? As is, no changes have been made at the smaller sizes.

![guppy_smiling](https://user-images.githubusercontent.com/18172185/42913760-b92bba4a-8ac4-11e8-8e8a-99e6c9c6b1c8.png)
![guppy_sm](https://user-images.githubusercontent.com/18172185/4

[2018-07-19 04:36] AbhiPrasad commented on #41
Hey, just came across this project and I love the idea!

I would love to write some tests to get familiar with the codebase. I can start off with `projects.reducer.js` and maybe write some more after that.

Also, I can help implement some CI integration to run tests after I get some of these done!

[2018-07-19 05:56] ganderzz commented on #26
@AWolf81 Weird, haven't ran into that issue. The only difference I can see between our configs is `./build/` -> `"./build/**/*"`. I've tried the config on my fork on both Windows 10 and Mac, and both seem to be creating a working executable.

[2018-07-19 08:06] bennygenel commented on #42
@AWolf81 and @superhawk610 great work and thank you both. I'm really in the middle of both designs. Each have their advantages and disadvantages. I believe logo should be simpler, it should feel like you can draw it by yourself on a piece of paper with a pen yet it should have its details. Because of this I liked @AWolf81's  design more but @superhawk610's design looks more like a guppy then a tro

[2018-07-19 08:52] bennygenel opened #85 "Git Integration"
Most of the popular IDEs (VS Code, Atom, Webstrom etc.) give some sort of git support out of the box or with a plugin or extension. These help you to quickly perform git task like pull, push, sync etc.. Although these are really helpful they are not  really informative. Github Desktop app supports a GUI that can help you to ditch terminal/command line usage for these task but since it is really de

[2018-07-19 11:49] kitze commented on #30
Not yet, I haven't touched JSUI in a month 🤦‍♂️

[2018-07-19 12:35] joshwcomeau opened #86 "Refactor `tasks.reducer.js`"
When I created `tasks.reducer.js`, I wanted to keep a 'flat' structure; every task was given an ID of the form `projectId-taskId`, and it was 1 level deep:

[code]

This wound up requiring a fair amount of munging, and it felt like a bit of extra friction whenever I needed to read/write tasks.

When I tackled the dependencies reducer, I decided to experiment with a nested structure. So instead, ea

[2018-07-19 12:37] joshwcomeau commented on #26
Thanks for digging into this, @AWolf81 and @ganderzz! This is one of the top-priority tickets, since we really need to figure out a story for auto-updates.

Happy to help debug if either of you want me to try running your forks locally!

[2018-07-19 12:54] joshwcomeau commented on #80
Thanks for opening this issue! I have some thoughts:

1 & 2: great catches. I remember noticing how poorly it rendered with long titles, but neglected to fix it or file an issue.

3: So I recognize I'm likely in the minority here, but I'm not a fan of endless scrolling; there's something satisfying about intentionally loading more results. But I don't feel strongly about it, and I do think most UI

[2018-07-19 12:55] bukharim96 commented on #42
I think a simpler version of @superhawk610 design would be ideal.

[2018-07-19 13:19] joshwcomeau commented on #42
After sleeping on it, I really like @superhawk610's design (@AWolf81 yours is wonderful too, but I feel like @superhawk610's version is more in-line with what I was imagining)

RE: sizes, good call-out @bennygenel, agree that 32x32 is important.

@superhawk610 smile looks great! I think it actually looks alright at 32x32; it's true that the eye disappears a bit, but it still seems recognizable to

[2018-07-19 15:52] prashant-andani opened #87 "Search dependencies feature"
Feature to search dependencies with a text input box.
Scrolling huge list of dependencies is difficult.

Would Love and Look forward to contributing by adding this feature. Thoughts...

[2018-07-19 16:38] bukharim96 commented on #42
I think a simplified version of @superhawk610 design would be ideal.

[2018-07-19 16:41] superhawk610 commented on #42
I'll go ahead and work on a PR with my icon - fair warning, I'm pretty new to Electron so I'll need someone to check behind me and make sure I've caught everywhere the icon is used across multiple platforms. Should be up later this evening.

[2018-07-19 16:47] melanieseltzer commented on #80
Ok, so! Just to sum up the general thoughts spread across here and issues #82 and #83. Sorry, I should have thought to create two separate issues in the first place, just didn't realize how much discussion the escaping would have.

- It seems that the general consensus is let's unescape the HTML and use subtle highlighting for the search. So I'm working through @j-f1 DOMParser solution for unescap

[2018-07-19 20:02] superhawk610 commented on #42
@AWolf81 the one with glasses is really cute! I like the second one too, but I think the triangle washes out the fish since it's the same color, what if the triangle was a darker color (maybe dark gray or the blue-purple gradient used elsewhere in the app)? I also think the fish would look better with a linear rather than radial gradient but that's more of a personal opinion.

[2018-07-19 20:37] Haroenv commented on #87
Technically what you’d be able to do is use the same search as for adding dependencies, and add a `refinementList` on `objectID`, with the values on the packages in dependencies (like in the Yarn site: [source](https://github.com/yarnpkg/website/blob/21366cab25a85cdfd77ffd9fa214176914b3da94/js/src/packages.js#L64)). Then the search will work with typo tolerance etc, and have only your dependencies

[2018-07-19 20:54] AWolf81 commented on #42
@superhawk610 yes, you're right the triangle washes out and looks more like a round fish swimming in front of a triangle background. But the triangle was intended as fins.
I wasn't sure how to improve this but I'll try your ideas to change the triangle to a darker color and a linear gradient. With a linear gradient it then looks not like a ball.

[2018-07-20 07:21] nitish24p opened #88 "Option to configure project path"
Firstly.. Gorgeous app, loved the onboarding and the sleek ui.. Nice work..I was wondering if you could add an option for configuring project path to save guppy projects at onboarding else use the default path. Also once the project is created you should specify the folder path. Alternatively you could also give a button saying. Open in VScode or some editor..

I had to run the dev server to know

[2018-07-20 09:30] bennygenel commented on #88
Thank you for your interest in the project.

The features you asked for are already being discussed on https://github.com/joshwcomeau/guppy/issues/52 https://github.com/joshwcomeau/guppy/pull/46 and https://github.com/joshwcomeau/guppy/pull/70

I'm closing this issue on behalf of those. Please consider participating on those conversation if you have anything to add.

Again, thank you for your feed

[2018-07-20 09:30] #88 closed

[2018-07-20 12:35] joshwcomeau commented on #41
Thanks for the great work, y'all!

That'd be awesome! Now that we actually have some tests, it'd be great to ensure new changes are validated.

[2018-07-20 12:58] joshwcomeau commented on #85
Ah! I have mixed thoughts about this.

I've been thinking about this a lot as well. One of the criticisms of Guppy has been that the CLI hasn't been a major stumbling block for new developers. I don't agree with the criticism, but I do agree that for motivated aspiring coders, Git *is* a major stumbling block. Anything we can do to make it more accessible would be huge.

That said, embedding an en

[2018-07-20 12:59] joshwcomeau commented on #30
Ok! Thanks anyway.  Yeah, I haven't actually written any code for Guppy since launch; project management is amazingly time-consuming.

[2018-07-20 13:05] joshwcomeau commented on #36
Each log entry is a DIV containing 1 or more lines:

<img width="991" alt="screen shot 2018-07-20 at 9 02 13 am" src="https://user-images.githubusercontent.com/6692932/43003775-9fc6d20a-8bfb-11e8-8915-332eeb53f6ab.png">

Also, I think I do want the output to line-wrap; the reason it doesn't right now is I couldn't find a quick way to wrap lines _and_ preserve whitespace (as seen in the screenshot,

[2018-07-20 13:16] joshwcomeau commented on #42
@AWolf81 that first one is really cute, glasses are a nice touch! And I like the geometric-ness of the second.

I've found that radial gradients are hard to make look good, so when I want a ball-like thing like that I cheat a bit; I just add different box-shadows of different colors (or even just large-brush single-clicks in photoshop outside the shape, so that I get a gradient-like bleed). A whil

[2018-07-20 16:36] Haroenv commented on #42
I love the one by @superhawk610 as well

[2018-07-20 16:47] gejoreni commented on #42
I noticed that if you rotate & flip the guppy  - it becomes a G. You might
be able to take advantage of that - Could be cool.
[image: Artboard Copy.png]

On Fri, Jul 20, 2018 at 12:36 PM Haroen Viaene <notifications@github.com>
wrote:

[2018-07-20 16:52] superhawk610 commented on #42
@gejoreni That was actually my original basis for that pose, but I couldn't seem to get anything to work that didn't look like it was trying way too hard 😬 I'll keep fiddling around with it though, I agree that it would be really cool if pulled off correctly.

[2018-07-21 04:13] Kermit-Xuan opened #90 "Add delete project from project list feature"

[2018-07-21 06:51] V1shvesh commented on #86
Can I help out with this?

[2018-07-21 08:04] bennygenel commented on #90
Thank you for opening up the issue.

Part of https://github.com/joshwcomeau/guppy/issues/28.

[2018-07-21 12:47] superhawk610 commented on #33
Alright, so my initial solution to use a separate cache directory for each install is only a solution to having multiple parallel `npm install`s running ~~across separate projects~~, to avoid having their caches conflict with each other (this may actually be its own issue, if the user installs dependencies on multiple projects at once...). Back to the original proposed method of running them back

[2018-07-21 12:59] superhawk610 commented on #77
So after banging my head against this for a couple hours, I'm here to report back. I haven't even gotten around to parsing inout yet as so far, I can't seem to generate any. Whether I use `childProcess.exec` or `childProcess.spawn`, their `stdout` and `stderr` pipes do not generate output until just before the install command finishes.

I'm far from an expert at CLI conventions, but I believe gaug

[2018-07-21 15:35] joshwcomeau commented on #33
Ahh I see, yeah. I'm pretty sure you can already install dependencies across projects (I _think_ I use the project name as a key to determine if things should be disabled).

I think the original idea will be a good enough experience :) but yeah it's a fair amount of work.

[2018-07-21 15:36] joshwcomeau commented on #42
Interesting! Yeah, I think it's ok that it doesn't try and look too hard like a G :)

[2018-07-21 17:17] egoarka opened #96 "What's the point to INSTALL the application?"
What's the point to **install** the application?

I like the way you go, but it's weird to install application on your pc. It's cool to contribute to this project, and I would want too but would be better to point at something important.
Modern applications tend to use in the browser, not install on your pc and all this stuff.
Besides this arise some problems with the community. You have no abilit

[2018-07-21 19:18] superhawk610 commented on #96
Thanks for your question. The biggest reason we're using an Electron-based, **installed** application format is because at its core Guppy is a CLI wrapper,  performing tasks that would otherwise need to be run locally on your machine in the terminal.

We theoretically could build this as a hosted service, similar to CodePen, but doing so would require we run build services ourselves, at our own ex

[2018-07-21 19:36] egoarka commented on #96
well, if you don't want to charge for Guppy maybe you can migrate complex computations to the consumer?
Install application (not necessary electron-based). Open it and click "start" button.
Further just open in the browser, let's say guppy.io. And work with it as expected.
Your service will be sending complex requests to build webpack or linting.

[2018-07-21 19:57] superhawk610 commented on #96
If Guppy were entirely browser-based, we would have to write an entire editing interface as well, and that's well beyond the scope of this project. Again, Guppy is a tool to assist new developers in learning the JS development cycle, and in practice that takes place on their personal machine. Services like CodePen have their use for quickly iterating on a problem or mocking up simple use-case scen

[2018-07-21 19:57] #96 closed

[2018-07-21 20:04] egoarka commented on #96
not necessary, actually

I would argue with you, codesandbox.io has the ability to export/import project from git, and easily start to work.

If you want to teach or help other developers, it's no better way to just create beautiful gui with 3 buttons and some handy tools. Sooner or later any developer should use own terminal. IMO.

[2018-07-22 13:38] joshwcomeau commented on #59
Yep! Agreed.

Excited to see support coming in the future :)

[2018-07-22 13:39] joshwcomeau commented on #72
Interesting! Yeah, I feel like "File" is the de facto first option, but I'm happy to change that.

Also worth thinking about how application menus work cross-platform.

[2018-07-22 13:40] joshwcomeau commented on #77
(Added a `Help wanted` label since the last comment ends with a question that I don't know the answer to :D)

[2018-07-22 13:43] joshwcomeau commented on #80
Ok! So, thanks to @melanieseltzer's tireless efforts, we've addressed the concerns brought in the original issue, IMO:

Fixed!

Fixed!

We made some tweaks to the "Load more" button (hiding it when all hits have loaded), and I'm happy with that solution. I'm not against endless scrolling, if someone wants to implement that, but I think that can be tracked in a separate issue if so. It certainly do

[2018-07-22 13:43] #80 closed

[2018-07-22 13:45] joshwcomeau commented on #86
@V1shvesh that'd be awesome!

Let me know if you have any questions along the way; I don't expect any _huge_ complications, but this is a hot code path and it's used all over the project, so it's non-trivial.

Going to assign this to you and remove the "help wanted" issue, but no worries if you've changed your mind or don't have the time, just please let me know and I'll re-open it for others.

[2018-07-22 13:46] joshwcomeau commented on #42
Our new logo has landed! Thanks y'all. Gonna close the issue, but feel free to keep iterating on it!

[2018-07-22 13:46] #42 closed

[2018-07-22 13:49] joshwcomeau commented on #87
hi @prashant-andani,

Sorry it's taken us a couple days to get back to you.

So, because Guppy only lists direct dependencies (and not the full tree of installed dependencies), I have a hard time imagining a list of more than 30-40 dependencies, and given that they're sorted alphabetically, I don't know if I see huge value in having a search to filter by.

I certainly don't think it'd be harmful,

[2018-07-22 13:50] joshwcomeau commented on #28
Note: Deleting a project is tracked in #90, so this issue can just track changing the project's name/icon

[2018-07-22 14:01] V1shvesh commented on #86
@joshwcomeau No problem!

I'll surely help out as much as I can. Will keep you updated.

[2018-07-22 14:04] bennygenel commented on #87
@joshwcomeau

If you eject a bare minimum React app, it has total of 38-40 dependencies I think. If you think about it, average user might add 8-10 new ones. List might get really crowded but yet I don't find it too difficult to scroll down. This is I think an edge case though.

Another thing I want to point out is if we should show dev and normal dependencies separately. Maybe with a tab on top o

[2018-07-22 14:50] superhawk610 commented on #72
It should be relatively trivial to show/hide items in development vs. production builds, right? Speaking as someone who overlooked the keyboard shortcut for toggling the Redux DevTools component and spent the better part of an hour trying to figure out how I was missing something so obvious, I think it would be beneficial to have Toggle Redux DevTools as a menu option directly beneath Toggle Devel

[2018-07-22 15:01] bennygenel commented on #72
I think there can be an option for clearing storage. This is not trivial but I thing for development speed might be beneficial.

[2018-07-22 16:10] superhawk610 commented on #72
@bennygenel what do you mean by clearing storage?

[2018-07-22 17:56] melanieseltzer opened #102 "Creating/importing project with dev dependencies doesn't initially show them in Dependencies list"
So I just noticed this weird 'bug' (is it a bug?) in the Dependencies box, prompted from the discussion from #87 (about splitting up deps and dev deps).

**Describe the bug**

If you create a new Gatsby project, the resulting `package.json` has 4 dependencies and 1 dev dependency (Prettier). Right after installation, in the Dependencies box, only the 4 deps are shown, and Prettier is not shown. We

[2018-07-22 18:13] joshwcomeau commented on #87
Ah, that's more than I thought! For some reason I thought it was 15-20, but you're right, it's quite a few.

But yeah, I'm not sure that even for 60 dependencies, a search is warranted... I'd want to see more evidence that this is a real pain point before committing to a new feature.

I have what I suspect are pretty controversial feelings about this.

For front-end projects bundled with Webpack o

[2018-07-22 18:14] joshwcomeau commented on #102
Ahh, right. I was kinda hoping we could avoid exposing the user to devDependencies, but I wasn't aware that Gatsby had a devDependency by default.

The discussion is happening in #87 to figure out how to address this

[2018-07-22 19:35] bennygenel commented on #72
@superhawk610 Sorry. I should have been more clear about it. Guppy is using `electron-store` to persist data. If you pass the initial screens, to get back to them you need to clear the storage. AFAIK there is no way to do it easily.

[2018-07-23 00:32] superhawk610 commented on #40
Here's a useful article from Electron on how easy it is to get CI up and running on a few popular systems: [https://electronjs.org/docs/tutorial/testing-on-headless-ci](https://electronjs.org/docs/tutorial/testing-on-headless-ci).

Personally I have some experience with Travis / Coveralls and like their workflow, but it seems like CircleCI and AppVeyor work right out of the box.

[2018-07-23 03:12] xyy94813 opened #105 "Project list disappear after re-open guppy"
**Describe the bug**

Project list disappear after re-open

**To Reproduce**

1. Download and open Guppy first time
2. Import exist project A
3. Try some feature...
4. Import other project B
5. Try some feature in B
6. Exit Guppy
7. Re-open Guppy
8. Project list disappear, only see the Project B panel
9. Import new project C
10. Can see the project list again

**Expected behavior**

Can see projec

[2018-07-23 03:38] xyy94813 opened #106 "Guppy processes aren't killed on refresh"
**Describe the bug**

Process started by Guppy after reload or exist.
These processes are still alive in the background.

**To Reproduce**

1. Start a project by Guppy. (eg: npm start => react-sacripts start => pid: 12345)
2. Shutdown Guppy
3. The process (pid: 12345) is still alive in the background

**Expected behavior**

Close all processes started by Guppy after shutdown Guppy

**Screenshots**

[2018-07-23 04:00] xyy94813 opened #107 "Not to edit `package.json` when import a existing project"
**Is your feature request related to a problem? Please describe.**

In a team, a tool like Guppy are not everyone's favorite to use. So this is not a mandatory tool.
If the configuration of Guppy is in `package.json`, It's hard to ignore this non-essential configuration

**Describe the solution you'd like**

Provide a additional configuration file or folder, just like `yarn.lock`, `babel.lrc`, `.v

[2018-07-23 04:36] melanieseltzer commented on #102
Yeah, I suppose it doesn't matter *too* much but I'd argue the distinction matters if only for organization (I still like to install packages such as linters as devDeps, just for readability in my `package.json` 😛).

So if it's already in the `package.json` as a devDep by default (such as with Gatsby), I definitely think there should be some distinction to it. Whether that be separation or just a

[2018-07-23 13:33] joshwcomeau commented on #107
Semantically, I feel like this stuff does belong in `package.json`.

Guppy's "config" is actually just info about the project; it's descriptive about the app being built. A config file suggests that it's a setting to control the behaviour of the tool, not information about the host project. So it feels weird to me, semantically, to have a `.guppyrc` or similar.

If one member of a team wants to us

[2018-07-23 13:35] joshwcomeau commented on #106
Thanks for the report!

There is code in place that is _supposed_ to fix this: https://github.com/joshwcomeau/guppy/blob/master/src/main.js#L73

Curious what method you used to shutdown the app?

[2018-07-23 13:39] joshwcomeau commented on #105
Thanks for the report! I did see this once in dev but wasn't able to reproduce in prod, so I assumed it was a dev quirk.

Off the top of my head:
- Possibly there's some onboarding state not being set properly when projects are imported instead of created?
- To debug, we can see what's in redux state in the devtools by running `store.getState()`
- We can see what's in the electron storage (the bit

[2018-07-23 13:47] joshwcomeau commented on #102
Agreed. I think we should go for just having it in the table... not even because I'm convinced it's the best solution, but because it's the lowest-effort. Can just be something like:

[code]

Note that `dependency.location` doesn't exist yet, we'd need to add that

I think rather than try to address this issue directly, it's probably easiest to just intake the devDependencies when parsing them, th

[2018-07-23 13:51] joshwcomeau opened #110 "Collecting feedback from beginners"
I've been delighted to see how many devs are excited about Guppy; having so many contributors working towards building something great is really amazing :)

I haven't really seen much feedback from the "core" audience, though. It's unclear to me how well Guppy works for beginners.

Guppy isn't yet ready for primetime; there are still some bugs, some basic missing functionality, and nowhere near en

[2018-07-23 13:54] Haroenv commented on #110
I know some people in boot camps, will ask to try out and for feedback

[2018-07-23 13:54] bennygenel commented on #107
This was actually something I have been thinking for a while and I think I agree on that **Guppy should have its own file**. I think Guppy is closer to the IDE category (I'm not saying it is an IDE) and most IDEs has their own directory/file to keep up with the projects (`.idea` folder, `.vscode` folder etc.) and these folders usually added to the `.gitignore` file.

Might be an edge case but bunc

[2018-07-23 13:58] bennygenel commented on #110
I have added Guppy project to [up-for-grabs](https://github.com/up-for-grabs/up-for-grabs.net) couple of days ago. This is not exactly what you are looking for but might convert to some junior developer traction.

[2018-07-23 14:20] superhawk610 commented on #110
It may be worth looking into something like [doorbell.io](https://doorbell.io) to collect feedback from within the app. When I was first getting started coding, I remember being very scared of GitHub, partially because I didn't know much about it and partially for fear of saying something ignorant without realizing it. Some sort of private feedback forum would be a good way to help assuage this is

[2018-07-23 15:11] melanieseltzer commented on #110
Not sure if anyone else reads r/webdev on Reddit, but I frequently see a lot of beginners on there. Perhaps we should think about posting and asking for feedback on Showoff Saturday (the day they allow you to post personal projects)?

@superhawk610 that is an interesting idea, would it be a popup or would it be launched from some sort of user action?

[2018-07-23 15:16] superhawk610 commented on #110
Oh wow, they've got over 237,000 subscribers, definitely seems like a good audience.

I can see it being either. Perhaps have the user fill out a brief optional survey on first app launch and then display a popup if they indicate that they're a newer developer? It could also be a small tab in the bottom corner that says "Need Help?" or something like that..

[2018-07-23 15:19] melanieseltzer commented on #102
Awesome, sounds relatively straightforward, I'll try to tackle this when I have some free time 👍

[2018-07-24 04:23] xyy94813 commented on #106
1. click close btn.
2. reopen window
3. shutdown app

The same phenomenon occurs when you reload the view.

[2018-07-24 19:08] melanieseltzer commented on #102
Submitted #112 to address this.

[2018-07-25 13:13] joshwcomeau commented on #110
Yay! Thanks @Haroenv

Cool! Thanks @bennygenel

Super good point @superhawk610; right now all avenues for feedback are public, and beginners may be reticent to admit that they don't understand something.

For the forum/message board, I wonder if Gitter could work for that, or if we should move to something like Spectrum. I chose Gitter haphazardly, but I like Spectrum since it's Google-indexed, mo

[2018-07-25 15:29] superhawk610 commented on #77
### Update: headway has been made

Looks like by default `gauge` doesn't display the progress bar when its being run through a non-TTY interface, so in order to view `npm install` progress, we have to mock a TTY. There are a couple packages that accomplish this (`pty.js` and `child_pty`), but neither seem to work out of the box with Electron. I'll work on this and update accordingly.

[2018-07-25 15:47] scottwarren commented on #41
Started adding tests for the Location Service in #113

[2018-07-25 16:37] superhawk610 commented on #77
Ok, so now that the proof of concept is done, it's time to decide on UI. As mentioned in #103, we may want to use native notifications for status updates, which do not support any form of live progress display. This leaves us with two options:

1. **Native Solution**: Electron supports displaying cross-platform application-wide progress in the form of the dock icon:

<img src="https://phaven-prod.

[2018-07-25 16:41] Haroenv commented on #77
I think the ideal would be both, and a notification if the app isn’t focused anymore, WDYT?

[2018-07-25 17:03] superhawk610 commented on #77
That complies well with most platform standards, I like it. I think Electron also has a Mac-only API for the dock icon to show a numeric badge, like the notification badge on apps for missed notifications, we could probably integrate with that as well if a task finishes while the application is in the background.

[code]

[2018-07-26 12:53] joshwcomeau commented on #107
@bennygenel yeah, I hear what you're saying.

I think if we do create a `.guppy` directory, folks _will_ add it to .gitignore, and I actually think it'd be better for it to be checked in, for a couple reasons:

- Icon (right now it's kinda random and doesn't matter, but soon users will be able to upload icons, and it'd be great for all Guppy users of the project to have the same experience).
- Tas

[2018-07-26 14:01] bennygenel commented on #107
@joshwcomeau I agree that if `.guppy` directory ignored there might be complications but I still think there might be a better solution.

Like you said if we have `.guppy` direactory because it's a dot directory, it might get ignored but how about using a single JSON file like `tsconfig.json`. We can have a big comment on top of that file stating that it should be committed to have a better user e

[2018-07-26 14:32] j-f1 commented on #77
You could use something like [`are-we-there-yet`](https://www.npmjs.com/package/are-we-there-yet) to manage progress of several tasks.

[2018-07-26 17:47] superhawk610 commented on #77
@Haroenv yeah Transmission was what I had in mind too haha.

@j-f1 our task queue is essentially synchronous since no more than one action can run on a single project at a time and tasks run one after the other. I imagine the progress indicator would be distinct per project and largely handled by the reducer. I'll keep that in mind though if we ever do manage to incorporate more async parallel tas

[2018-07-27 10:39] j-f1 commented on #77
It would still be useful for a global progress bar since multiple projects could be installing stuff at the same time.

[2018-07-27 12:43] joshwcomeau commented on #35
Hey folks, thanks for the discussion!

Totally agree @karlsander. Giving it some thought, it _is_ really valuable to have the deps right there in the project.

If storage space becomes an issue for folks with many many projects, we could add a "Delete local dependencies" button in the UI so they can quickly delete deps on old projects. But yeah, I'd rather wait and see if this is an issue.

Yeah,

[2018-07-27 12:52] joshwcomeau commented on #107
There might be other files as well (if the user selects a custom icon, for example), so I think a directory gives us more flexibility in the future. But maybe we can always add a `guppy-assets` directory later or something?

It occurs to me that we probably shouldn't make it a dot file (or dot directory), since the whole point of Guppy is to skip having to use the terminal, and so we shouldn't be

[2018-07-27 12:55] joshwcomeau commented on #72
Ahh yeah it would be great to have the redux devtools in the Application Menu!

Do the redux devtools require the dev build of React? I'd actually like to ship it in the prod version as well - our "users" are developers too, and if they wanna tinker around with Guppy, they should feel free to :D. As long as it's not easy to accidentally enable them and then wind up breaking things... but the redux

[2018-07-27 16:36] superhawk610 commented on #35
I'll take the initial work, but I would love some help on testing. I'll have the WIP up [here](https://github.com/superhawk610/guppy) later this evening on the `npm-to-yarn` branch. The main changes I foresee are:

- [ ] updating all instances of `npm` to `yarn`
- [ ] updating all npm-specific commands to their yarn equivalent (eg - `install` to `add`)
- [ ] adding yarn as a dependency after new p

[2018-07-27 18:08] superhawk610 commented on #35
That's true, but there would still be other conflicts (`package-lock.json` vs `yarn.lock`), and I can't confirm off the top of my head but I think I've had issues in the past mixing and matching between `npm` and `yarn` in the same project.

[2018-07-27 18:49] Haroenv commented on #35
There’s a node module [“has-yarn”](https://yarn.pm/has-yarn) by @sindresorhus to detect if a project is already using yarn, could be useful? Or maybe it’s contentious enough to be an option?

[2018-07-27 19:08] scottwarren commented on #41
Added some more tests, for `project-name.service.js` and `project-type-specifics.js` in #114

[2018-07-27 19:31] superhawk610 commented on #35
@Haroenv that looks perfect, I'll update the to-do list.

[2018-07-28 10:52] joshwcomeau commented on #40
cool, thanks @superhawk610!

As we get more test coverage (thanks to the amazing contributors who are adding tests!), this'll become more critical, but it's not yet at the top of the priority list for me.

[2018-07-28 10:55] joshwcomeau commented on #77
Redux saga comes with some pretty fancy control-flow tools... I think I'd like to see if we can do it with the existing tools before reaching for another, although definitely not against it if there's a pain point it can address!

[2018-07-28 11:04] joshwcomeau commented on #35
Hm, so yeah, there is the usecase where someone imports a project that uses the NPM cli for dependencies, and then adding dependencies with Guppy uses yarn, and that's not ideal...

I'm not super worried about that case, though; or, more accurately, if Yarn can solve our short-term problems, I'm happy leaving this issue for the future (maybe later we can fix the issues with NPM and then use `has-y

[2018-07-28 18:38] AWolf81 commented on #35
@superhawk610 I've pushed a first version of npm to yarn at my fork [here](https://github.com/AWolf81/guppy/tree/npm-to-yarn).

I've tested:

- [x] Create new project
- [x] Add dependency
- [x] Remove dependency

Todo:

- [ ] Shoul constant `PACKAGE_MANAGER` inside package-manager.service in a config file at a different location?
- [ ] Check local usage of yarn
- [ ] Look through all files for npm

[2018-07-28 19:04] superhawk610 commented on #35
Oh awesome! My home server decided to have a meltdown last night so I didn't get a chance to do much. I'll take a look and see if I can help.

[2018-07-28 21:38] AWolf81 commented on #77
@joshwcomeau You're right, adding the progress or a number to the dock icon could be difficult to understand.
I'm only seeing the number badge for e-mail count or notifications and not for as you said something that you're expecting. (Just Windows mail is using a badge on my machine.)

And I would also calculate the progress for the current task and not for all active tasks - easier to implement a

[2018-07-29 02:48] melanieseltzer commented on #102
Fixed in #112

[2018-07-29 02:48] #102 closed

[2018-07-29 06:40] superhawk610 commented on #77
@AWolf81 the only issue with having it at the dependency panel is that during batched installs, we only have one progress bar for multiple dependencies, so if you're installing 3 dependencies, all their respective progress bars would move together - not terrible, but it feels a bit disingenuous, I guess?

I also really like the pixel guppy, so there's that 😁

[2018-07-29 07:35] AWolf81 commented on #77
@superhawk610 Ah OK, so we have to keep the guppy as indetermined spinner or do a special handling for the progress of batch installs. e.g. the overall bar shows 1 of 3 installations finished.

Maybe we can add the loader close to each dependency and replace that spinner - so it's possible to show a spinner for each dependency.

![image](https://user-images.githubusercontent.com/3046542/43363991-5

[2018-07-29 12:37] joshwcomeau commented on #77
This was originally supposed to be the logo! But it looked too much like a spinner, plus I decided pixel-art wasn't a good fit for the rest of the design.

(I actually commissioned 3 separate logos, before @superhawk610 and @AWolf81 both contributed better ones :D although I bought them on fiverr, so it was quite inexpensive).

--------

For finding an area for dependency progress, hm. I like @AWo

[2018-07-29 12:44] joshwcomeau commented on #86
@V1shvesh how's this going? Not urgent at all, just checking in to see if you have any questions, or if I can do anything to help :)

[2018-07-29 12:45] joshwcomeau commented on #85
(setting this to `low priority` not because I think it's unimportant - it may be the single most important feature that Guppy offers - but because it's not slated to be worked on for a while)

[2018-07-29 13:44] V1shvesh commented on #86
@joshwcomeau Hey there!
Well, I didn't know much about Redux and reducers, so I kinda went learning through the docs. I am trying to understand it myself.

I'll surely clear any doubts with you, would love your help.

Hope to fix this in 2-3 days.:relaxed:

[2018-07-29 18:34] V1shvesh commented on #86
[code]

I believe this isn't needed anymore?

[2018-07-30 13:14] joshwcomeau commented on #86
Ahh I understand. Ok! Very brave of you to try and tackle such a big refactor without prior redux knowledge, haha. Will be glad to answer any questions, although it may take me a while to respond, busy these days working to get a talk prepared.

No rush :)

Right. I'm pretty sure you won't need that anymore. The thing to check is where those unique IDs are used, and to see if a non-unique Id (like

[2018-07-30 18:09] V1shvesh commented on #86
This sounds cool!

Also,
[code]
This'll be the structure of state, I suppose.

[2018-07-30 19:19] scottwarren commented on #66
@joshwcomeau If we plan on supporting multiple languages, I think we should add some way to add the different languages within our repo (instead of having users host their own versions). That way we have ultimate control over the structure/consistency. Maybe a docs repo is best suited? WDYT?

I'm `en_AU` but I also can help with translation to Bulgarian/`Български` (FWIW/note: I am far from fluent

[2018-07-31 00:29] superhawk610 commented on #77
![](https://github.trello.services/images/mini-trello-icon.png) [cherry-pick a PR](https://trello.com/c/29fhHr8u/7-cherry-pick-a-pr)

[2018-07-31 00:46] superhawk610 commented on #30
I can't replicate this in the current build (I'm using @bennygenel's Windows fork so I guess there may be something there, but I don't think he has modified the terminal output in any meaningful way).

Screenshots for proof (production on left, dev on right):

<img width="1408" alt="prod_dev2" src="https://user-images.githubusercontent.com/18172185/43430940-78863d70-9439-11e8-8bb0-3f97b0e6af93.PNG

[2018-07-31 13:10] joshwcomeau commented on #86
@V1shvesh yeah, that's right! The `Task` type will likely need to change a bit as well, to remove `id`.

[2018-07-31 13:15] joshwcomeau commented on #66
Yeah, so I agree with this in theory :) I think the reason the Chinese version is internationally hosted is because it was the easiest way to support it.

A more polished solution probably would be to have a `guppy-docs` repo that has a directory for each region/lang.

That said, I'm not sure the project is mature enough for it to be worth the hassle... Once we have multiple languages, we'll need

[2018-07-31 20:54] scottwarren commented on #66
re: all of your points are very accurate, it is a lot of overhead, and quite possibly too early in the project's life for this kind of thing. Maybe we can leave this open for the future, but not worry too much about it now?

+1 to this, having an updated English version/string is infinitely more useful than an outdated version in their language.

[2018-08-01 13:06] joshwcomeau commented on #28
Hi @AWolf81,

Yay, thanks for taking this on!

I have some questions to the feature:

Hm, yeah. I'm curious what others think. My instinct is that for projects created through Guppy, it should change everything (similar to when the project is created): update `guppy.name` inside `package.json`, use `slug` to get an alphanumeric+dash version of the new name, and set that to `guppy.id` inside `packa

[2018-08-01 13:26] joshwcomeau commented on #30
Hm, this could be a MacOS only issue then?

[2018-08-01 13:36] melanieseltzer commented on #30
Hm, I am able to see colors on MacOS in both dev and prod:

Dev
<img width="723" alt="screen shot 2018-08-01 at 6 35 00 am" src="https://user-images.githubusercontent.com/17421347/43524828-1687d29c-9555-11e8-8c5d-06578893560e.png">

Prod
<img width="753" alt="screen shot 2018-08-01 at 6 33 34 am" src="https://user-images.githubusercontent.com/17421347/43524822-11550be6-9555-11e8-951f-c06a2556a132.

[2018-08-01 17:11] AWolf81 commented on #28
@joshwcomeau Thanks, for the invitation to collaborate at the project.

And thanks for the detailed explanation. I'll go through the details and ask if anything is unclear.
It's also OK that it is a short novel, my question was also pretty long.

At first glance I thought that's easy to add but it's a pretty complex topic - but should be doable.

I'll add your details to my todo list later.

**Ren

[2018-08-01 19:57] joshwcomeau commented on #30
Ahh, so I actually missed it in the windows screenshots - the issue isn't with the additional things we add ("Server stopped", "Task completed"), but with the logs from the underlying tasks.

When I run `yarn start` for Guppy in a CLI, I get colors on "Starting the development server..." and "Compiled successfully!":

![screen shot 2018-08-01 at 3 57 08 pm](https://user-images.githubusercontent.co

[2018-08-01 20:17] superhawk610 commented on #30
This may have something to do with the TTY/PTY discussion (see #77) - using `child_process` returns a simplified output, as opposed to something like `node-pty` that returns control codes as well. Let me grab an example from my testing branch..

I wonder if setting `TERM` to `xterm-256color` or similar would have any effect?

[2018-08-01 20:31] joshwcomeau commented on #28
Huh. So this actually isn't true - we don't copy the imported project, we modify the source project. Copying the project hadn't occurred to me at all, but I kinda wish it had, since it would have solved a lot of project-path issues, haha.

Although it might be really confusing to users who don't realize that Guppy creates its own copy, and who then can't tell why the changes they make to the origi

[2018-08-01 21:05] AWolf81 commented on #28
Ah OK, sorry, I thought I have seen this but in my current working directory it is not copying the project - maybe that was a mistake in an old branch but I'm not sure.
And you're right a copy can be confusing.

So I think we have three options to deal with imported projects:
1. Show a confirmation so the user can decide if the project folder should be renamed as well.
2. Rename folder with-out no

[2018-08-01 23:36] AWolf81 commented on #30
With `FORCE_COLOR: true` like mentioned  [here](https://stackoverflow.com/questions/7725809/preserve-color-when-executing-child-process-spawn#answer-43375301) it looks like this in Windows
![grafik](https://user-images.githubusercontent.com/3046542/43554120-f7f2a1c4-95f2-11e8-8665-9c7958ce7854.png)

Not sure if this is a fix but it looks better. Just a small artifact in the output is unclear, ther

[2018-08-02 00:03] superhawk610 commented on #30
Looks like `FORCE_COLOR` is relevant to [supports-color](https://www.npmjs.com/package/supports-color).

[2018-08-02 13:01] joshwcomeau commented on #28
Hm, yeah, so Option 1 is indeed the best UX IMO, but I'm wondering if the added code complexity is worth it. I suppose it wouldn't be too much extra complexity, since presumably the only place that it matters is in the new middleware/saga (or associated service).

If you're up for Option 1, go for it - you can use the native prompts like we use for the pre-eject warning.

Ah, right. Yeah I don't h

[2018-08-02 13:08] joshwcomeau commented on #30
ahh awesome! I'm glad there's an easy fix :D

[2018-08-02 16:09] superhawk610 commented on #30
Here's the raw version of that output:

[code]

My best guess is the `G`s are control codes that aren't being interpreted correctly.

[2018-08-03 10:43] AWolf81 commented on #30
Hm, OK, not sure about the `G`s & couldn't find anything.

Maybe something from this [SO question](https://stackoverflow.com/questions/31620298/is-it-possible-for-child-processes-in-node-js-to-preserve-colored-output) could help.

I would try to pass `NPM_CONFIG_COLOR=always` as `env` to `spawn`. I'll try this later today.

[2018-08-03 12:29] joshwcomeau commented on #30
@superhawk610 makes sense!

This stuff is pretty far outside of my wheelhouse, unfortunately :/ I think if any of y'all feel like digging, it would be nice to have colours in the output, but it's also not the top priority IMO. I'm happy to punt on this for a few months :)

(although if anyone _does_ feel like digging into this, feel free! I don't wanna discourage anyone from it. Just that it's not

[2018-08-04 06:00] V1shvesh commented on #86
Hey @joshwcomeau

Please check my PR and let me know if I went wrong anywhere.

Apart from that, in redux-persistence.service.js,
[code]
Do we want to have a nested structure in `scrubbedTasks`?

[2018-08-04 11:37] joshwcomeau commented on #86
Yay, thanks @V1shvesh! Checking now.

For `redux-persistence`, it should match the same structure (since this structure will be used for the initial state on next load). So yeah it should be nested as well. Which does make this operation a bit trickier... hopefully not too bad though!

[2018-08-05 10:11] AWolf81 commented on #28
@joshwcomeau OK, thanks for explaining the color numbers. I think this is good to know that is similar to font weight and you're right percentages are probably no good fit.

# Update to my current progress:
## Gear animation
Please have a look at the screen recording after my todo list (or check in my branch). Added rotation + color change from gray to purple. Maybe opacity fading & color switchin

[2018-08-05 21:33] AWolf81 commented on #28
@joshwcomeau I have a problem in `project.middleware` in my branch (temporary middleware responsible for renaming & icon change)
Do you have an idea what I'm doing wrong?

The project folder is renamed (no check for imported project yet) and the `package.json` is correctly modified. Then I'd like to `refreshProjects` inside `CHANGE_PROJECT_NAME_FINISHED`. But I'm getting an error that `name` is un

[2018-08-06 11:17] joshwcomeau commented on #28
Hey @AWolf81,

Spin animation looks great! I'm into the idea of a slight size increase with `scale()`. Sorry for the typo in the sample code!

Yeah, so that error makes sense to me; I ran into a similar one with ejecting while the TaskDetailsModal was open. To fix it, I think we'll need to update the `selectedProjectId` in `projects.reducer.js` when the project name is changed; that way, there is

[2018-08-06 11:18] joshwcomeau commented on #28
Oh, also: could you open a PR for this, even if it's obviously WIP? It was surprisingly hard to look at the changes (for some reason everything I tried to compare it to had a bunch of extraneous commits, both on your repo and mine, so I had to go commit-by-commit. A PR would help me see all the changes together)

[2018-08-06 20:13] AWolf81 opened #121 "Add flow typed Redux actions & refactor actions"
As mentioned in #28 it would be great to have typed Redux actions and I think  `src/actions/index.js` could be refactored as well. We'd like to do this in a separate PR to change everything at once.

I'd separate each related action into it's own file and export just the type `Action` from `src/actions/index.js`.

# Example code
## src/actions/project.actions.js

    export const SAVE_PROJECT_SETT

[2018-08-06 20:49] AWolf81 commented on #28
@joshwcomeau OK, I've opened a PR.
Yes, you're right with the Modal and I think we only need to add the `ProjectConfigurationModal` to `app.js` after the `CreateNewProjectWizard` - I thought to abstract the modals into a component would help to reuse the modals but I think for two modals it's OK to add them to app.js and handle visibility with `state.modal`.

**To 2.** I created a separate issue t

[2018-08-09 16:59] Leodau commented on #41
Hey @joshwcomeau, am interested in taking "**find-available-port.service.js**"
being a newbie in open source myself such a good oportunity!

[2018-08-09 19:27] superhawk610 commented on #41
@Leodau thanks for your willingness to help! Feel free to open a PR once you have added your tests.

If you're developing on Windows, you may want to take a look at @bennygenel's `windows-support` and my [PR](https://github.com/bennygenel/guppy/pull/2) as it fixes `find-available-port.service.js` function when running from Git Bash on Windows.

[2018-08-09 19:48] joshwcomeau commented on #121
This seems like a good approach to me!

I think we still need to export the constants, so that we can avoid a typo in a reducer that means the reducer isn't behaving as we expect... unless there's some way for Flow to catch that? I haven't seen it though.

Hm, I'm curious why you think it's hard to maintain? Just because of the general difficulty in navigating large files?

The thing is that actio

[2018-08-09 19:57] joshwcomeau commented on #28
Thanks so much for all the work you've been putting in on this. Sorry it's taken me a few days to reply D: I should become more responsive on this project in a week and a half, after React Rally.

I'm not super picky :) I think a number works! I'm happy either way

Yeah, I'd group it in. Not substantial enough for its own issue. If you wanted to create a specific PR for it, that could be a good id

[2018-08-09 19:59] joshwcomeau commented on #41
@Leodau awesome! Glad for the help :D

As @superhawk610 points out, that one has some cross-platform implications.

If you want a good first task, how would you feel about creating some React Storybook stories for some of our reusable components? There isn't an issue for it yet, but we were just talking about it in https://github.com/joshwcomeau/guppy/issues/28#issuecomment-411877978. If you're in

[2018-08-09 21:00] AWolf81 commented on #121
Hard to maintain is probably not the right word. I think it's easier to find where to add new action - so it's more a style that helps to add new things to the right place/line.

Sure you can add it into one file and group related actions by comments, so you can add new related actions to the right place.

I don't think that grouping actions into different files will affect how they're used - you

[2018-08-10 15:54] Leodau commented on #41
@joshwcomeau I like the idea of the stories!
Thank you guys.

[2018-08-11 09:44] AWolf81 commented on #52
I'm working on this [here](https://github.com/AWolf81/guppy/tree/open-in-ide). Opening in IDE and Explorer is working.

My work is based on `npm-to-yarn` branch so I can develop with Windows.

**Some thoughts we should discuss:**
- How should we name the buttons? Especially the open in finder. I've named it open in explorer. I'm not sure about the wording. Maybe `Open folder` would be better as it

[2018-08-11 12:28] joshwcomeau commented on #52
I think it should be based on OS:

- Mac: Open in Finder
- Windows: Open in Explorer
- Linux: Open folder (not sure what they're called in linux or if it varies by distro :/)

I think each should be a component, no services needed:

[code]

I see that you currently have methods in `ProjectPage`, and I think that's probably OK too... I have a slight preference for doing it in new components, to avo

[2018-08-11 12:37] joshwcomeau commented on #121
Ahh, gotcha. Yeah, it can be hard to figure out where to add new actions. I'm not _too_ worried about this; in the worst case, someone might accidentally duplicate an action, but we'd probably catch that in code review, and it'd be easy to fix. For now I think comments and rough grouping should be OK - if we see that it happens a lot, that there's a good amount of confusion with actions, I'm 100%

[2018-08-11 13:05] mathieudutour commented on #52
Should be possible using https://github.com/sindresorhus/env-editor

[2018-08-11 14:24] AWolf81 commented on #52
OK, I like the component approach for the buttons but I would only create one button component and pass the click handler to them and the caption could be passed as child. Something like this for open in finder:

    <ActionButton onClick={() => shell.openFolder(path)}>
        Open in {platform.finderName[os]}
    </ActionButton>

Naming for this could be `ActionButton` or `ToolbarButton` not sur

[2018-08-11 17:25] AWolf81 commented on #121
👍 A blog post about your Redux philosophy sounds great and is a good way to learn more about Redux.

Will you also cover thing like - should everything be inside Redux state or is a mix between local states and Redux the way to go? I'm prefering to keep thing local and use Redux to share state if multiple components needs access to the state.
It would be also interesting how and when the [context

[2018-08-11 21:21] AWolf81 opened #124 "Sidebar overflows and hides projects"
At the moment, I'm trying to fix `eject` project for Windows support and create many projects for testing eject - maybe I have to look for another way to debug `stdin.write`.

Then I noticed that we need to have a way to handle many projects in the sidebar.

**Here is how it looks (last project icon not displayed & add new button off screen in sidebar):**
![grafik](https://user-images.githubuserco

[2018-08-12 23:38] melanieseltzer commented on #124
Good catch 👍 I think I also prefer the 'show more' option with a modal. A modal would provide more real estate should we want to display anything else alongside the project icon... such as the project name, and maybe type (CRA or Gatsby).

[2018-08-13 13:32] joshwcomeau commented on #124
Yeah, I like the idea of a "show more" button that opens a modal with a list. Could also live in the application menu (Projects -> recent -> (list of the 5-10 most recent and a "Show all" option that opens the modal).

Agree that this is not super-top-priority since very few users will hit the current limit, but definitely something worth fixing as there's no easy workaround if you do hit it.

[2018-08-13 15:06] melanieseltzer commented on #124
Added a low priority label on this, but if anyone seeing this wants to tackle it feel free 🙂

[2018-08-14 11:45] joshwcomeau commented on #41
Hi @Leodau!

Sorry for the delay - I'm speaking at a conference this week and so I've been neglecting this project as I prepare for that D: I should get much better at quick responses starting next week =)

@AWolf81 has started doing the foundational work to get React Storybook set up. I believe that work is almost done (was surprisingly tricky, because this is an Electron project and Storybook ru

[2018-08-14 11:48] joshwcomeau opened #130 "Storybook Support"
We have a pretty good collection of reusable components in this project, but they're not discoverable!

We should use React Storybook to showcase the reusable "building-block" components we have, so that developers can quickly browse a catalog of available options. This way, we reduce the chance that a developer might spend time re-implementing something unnecessarily.

@AWolf81 has graciously tak

[2018-08-14 12:06] joshwcomeau opened #131 "Baseline Storybook stories"
## Note: Blocked by https://github.com/joshwcomeau/guppy/issues/130

As discussed in #130, we want to use React Storybook to host a catalog of reusable components.

Once that infrastructure is set up, we need to start writing stories for components!

This issue tracks the progress we've made against our existing components.

Note that not every component will need a story; we should only create st

[2018-08-14 12:07] joshwcomeau commented on #131
Hey @Leodau - created this issue. While it's not yet ready to be worked on, I figure you could get started (if you want) by picking a few components, learning about them, and thinking about how you'd create stories to best highlight them?

[2018-08-17 01:37] AWolf81 commented on #90
I would prefer the combination of both so the user can decide to delete from disk as well.

I think adding to the project configuration modal is the right place. I would do it like at the remove dependency with a red button so it is clear that it is a danger zone. After clicking the delete button I would show a confirmation similar to that from your screenshot.

The electron [dialog](https://elect

[2018-08-17 01:49] melanieseltzer commented on #90
Yeah that sounds good to me. The electron dialog should work, and it's good to be consistent since your 'Save' button uses that for the confirmation.

I also see in #28 @joshwcomeau mentions

So I'll add it there as well.

Should I branch off your `project-configuration` branch, or would it be easier to wait until your work gets merged to master before I start?

[2018-08-17 11:28] AWolf81 commented on #90
Please branch off `project-configuration` as I think it will take sometime until it will be merged to master.

It should be easy to merge them together. Just add a comment to PR #120 or here if you'd like me to review it. Then I can merge it to project configuration branch.

[2018-08-18 20:14] joshwcomeau commented on #121
Yeah, so my blog post would cover all of this. To give you some quick answers here, though:

- Definitely use React local state when it makes sense! The reasons to use Redux are if the state will be needed widely across the app, _or_ the state transformations are complex and we want the introspection/time-travel benefits of Redux. Or if the state changes involve a lot of side-effects and we want t

[2018-08-18 23:58] melanieseltzer commented on #90
@AWolf81 I have created a branch in `joshwcomeau/guppy` called `feature/deleteProject` (not pushed yet, just getting set up) and then I merged your `project-configuration` branch from your fork in. Will that be easy to merge later or should I just branch off `project-configuration` in a fork of your fork and then send a PR to your fork?

[2018-08-19 00:41] joshwcomeau commented on #90
In terms of where the UI should live, I think the application menu is the best primary spot. I think we should add a new "Project" top-level menu item, with project-specific commands within (maybe an `edit` could also openn @AWolf81's menu?). It could also exist as a button within the edit modal, but we'd have to make sure all the delete logic is in a redux saga so it could be triggered from anywh

[2018-08-19 01:04] melanieseltzer commented on #90
Sounds good!

Hm, could you elaborate on why? From my understanding (admittedly, very surface level right now, have to look into things deeper), wouldn't it be achieved by wiping the project from state in entirety (I guess this would be a larger undertaking?), and removing the `guppy` and `path` key in the package.json for cleanup? Are there intricacies I'm not thinking of?

[2018-08-19 11:11] AWolf81 commented on #90
@melanieseltzer
Merging `project-configuration` branch into your newly created branch that is based on Guppy master is OK. Merging your delete feature should be easy.

[2018-08-20 00:03] joshwcomeau commented on #90
Yeah, so the issue is in `read-from-disk.service.js`, `loadGuppyProjects`. When the app loads, we check for any projects in the home directory.

There's a few reasons for this check:
- If the user deletes the project from disk, we want to remove it from Guppy
- If the user manually creates a project there, it'd be good to parse it automatically (this is the weakest reason)
- It's a fallback in cas

[2018-08-21 16:25] joshwcomeau commented on #27
Delighted that this has been completed, and shipped in 0.2.0 :D

[2018-08-21 16:25] #27 closed

[2018-08-21 16:27] joshwcomeau commented on #26
Hey @ganderzz,

Now that Windows support is complete and merged, I believe this is the new highest-priority ticket. Having auto-update is super important, so that users don't have to re-download the entire app just because an update is available.

@AWolf81 is on vacation for the next 2 weeks, and I'd love to get this done before then.

Is this something you're interested in continuing work on? No

[2018-08-21 16:27] joshwcomeau commented on #40
This is done :D

[2018-08-21 16:27] #40 closed

[2018-08-21 16:33] joshwcomeau opened #140 ""Project" menu item in ApplicationMenu"
A few issues/PRs now have discussed adding a new "Project" top-level menu item in ApplicationMenu.

The menu options should be:

- [x] Open in folder (#171)
- [x] Open in IDE (#171)
- [x] Switch to -> [all projects]
- [x] Clear server logs (#144 and #149)
- [x] Configure project
- [x] Delete project

In terms of order-of-operations, we should probably start with one of the first two because it has

[2018-08-21 16:53] melanieseltzer commented on #140
Cool, maybe this issue should be for tracking "Project" top-level menu item, rather than console clear specifically? Since #90 is related and of course the edit project functionality from #120... and then anything else in the future could be discussed here as well.

[2018-08-21 17:12] j-f1 commented on #140
How about automatically limiting the scrollback like most terminals do? Perhaps `1e4` lines?

[2018-08-21 17:18] j-f1 commented on #26
Unfortunately, that’s exactly how most Electron auto-updaters work.

[2018-08-21 19:48] AWolf81 commented on #106
@xyy94813 can you please check if this is still happening?
For killing tasks on app exit I'm pretty sure that's working as @superhawk610 added the code during the work on Windows support.
But for the reloading issue I'm not sure if this is working.

[2018-08-21 20:19] joshwcomeau commented on #140
Yeah, hm. I wish there was better support for hierarchical issues. But yeah, probably easiest to add a checklist and have this track multiple things. Will update.

Yeah, we could do this too. I'm a tiny bit wary, since rarely it is valuable to go wayyyyy back and see an old bit of output... but that's probably not super likely with the kind of output seen in these tasks. Usually you just need to k

[2018-08-21 21:31] joshwcomeau commented on #49
Alright, finally had some time to dig into this!

I wasn't able to reproduce this error. I tried the following:

- Create a new Gatsby project
- Start the development server
- Start installing a new dependency (`hello`)
- While it was installing, start a build

I repeated this a couple times with different dependencies (`redux`, `lodash`), as well as tried other things like formatting, and stoppin

[2018-08-22 00:42] joshwcomeau commented on #52
@AWolf81 sorry for the delay on this! I was thinking of taking over on this, since it looks like you've almost finished it... but I checked your branch and it looks like the commits are intermingled with windows-support stuff, which has presumably been dealt with already.

It might be easier if I just copy/paste the relevant code from your branch to a new one off of master... but I don't wanna dep

[2018-08-22 00:44] joshwcomeau commented on #140
Gonna start quickly on the first couple items.

[2018-08-22 02:04] ganderzz commented on #26
@joshwcomeau Feel free to take over! Got stuck during trying to notify the app when a new version was released, and ran out of time. I've pushed up everything I have to my branch ([HERE](https://github.com/joshwcomeau/guppy/compare/master...ganderzz:feature/26-add-electron-builder#diff-0bd350afb8058b9826a5afe956c229ea)).

[2018-08-22 04:55] superhawk610 commented on #106
Yep, all processes should quit when Guppy is closed (@AWolf81 and I verified that before pushing out the 0.2.0 release).

As for reloading the view, we should be able to handle that via a `beforeunload` event listener inside `main.js`. I'll play around with that tomorrow and try and get a PR up then.

[2018-08-22 09:45] AWolf81 commented on #52
Yeah, I know there are commits from windows support branch but I think that should be OK if merged with master.

You could continue the work like following:
- create a new branch based on master
- merge my branch `open-in-IDE`.
- resolve conflicts manually
- remove the `platform.services` file

I know conflict resolution could take some time but I did the same for `project-configuration`.
Maybe yo

[2018-08-22 11:45] joshwcomeau commented on #26
Ok! Thanks @ganderzz.

Ah :/ well, I kinda mis-spoke; I think the real friction is needing to go to github, find the release, and download it... even if it has to re-download the entire 150mb+ package every update, at least it's low-friction for the user.

[2018-08-22 11:48] joshwcomeau commented on #52
@AWolf81 yeah, true. My concern was more over not knowing which stuff was necessary or not for windows, but I have that windows VM, I can poke around with it and see.

I think I wanna take a shot at doing the "Project" application menu for other things (like switching projects or clearing logs), and then look at using a different packager, so we can support auto-update. After that stuff I think I'

[2018-08-22 12:16] joshwcomeau opened #142 "Use new Guppy logo"
Guppy has an amazing custom logo from @superhawk610. We're using it for the dock icon, but we should also use it within Guppy itself!

I think it should be used in the following places:

- Initial loading screen
- "Search dependency" empty state
- "Create new project" initial state

There is also the animated "spinner" guppy used when a dependency is installing... but I'm OK to keep this. I'm fine

[2018-08-22 12:29] joshwcomeau opened #143 "Crashed servers can't be stopped/restarted"
**Describe the bug**
with Create React App, when the server hits an issue, the server doesn't roll over and die; it sits waiting for the issue to be fixed.

If the user tries to stop the server, though, they'll notice that it appears to toggle the server _on_ instead of _off_. It also does nothing when the toggle is clicked multiple times

**To Reproduce**
- Create some sort of error (in my case I

[2018-08-22 13:12] j-f1 commented on #143
How about flipping the switch to “off” when the server crashes? That would correctly indicate that it’s the server isn’t presently on.

[2018-08-22 13:18] joshwcomeau commented on #143
Yep! That's what the fix does (in just-published #146). Send it back to the idle state when it hits a crash, instead of just an error.

[2018-08-22 13:42] melanieseltzer opened #147 "Couldn't set selectedTextBackgroundColor from default"
The following issue is logged for information sake and can be safely ignored.

**Describe the bug**

Error output logged to terminal. Seems to be related to [this issue](https://github.com/electron/electron/issues/4420).

**To Reproduce**

Start the app with `yarn start`

**Expected behavior**

The regular logs (`running on port 3000` etc) after `Starting the development server...` output.

**Scre

[2018-08-22 13:42] #147 closed

[2018-08-22 14:09] joshwcomeau commented on #147
Thanks @melanieseltzer! Did a quick edit to add a bit more info, looks great though :+1:

[2018-08-22 15:44] joshwcomeau opened #148 "Ejecting create-react-app causes `babel-loader` to be missing"
**Describe the bug**
When ejecting a create-react-app project, running the dev server produces this error:

<img width="470" alt="screen shot 2018-08-22 at 11 39 13 am" src="https://user-images.githubusercontent.com/6692932/44474169-0510d480-a600-11e8-9f7e-bad90e6a4c4b.png">

**To Reproduce**
- Create a new "Vanilla React" project
- Eject
- Start development server

**Expected behavior**
-  It sho

[2018-08-22 16:56] superhawk610 commented on #147
Minor addendum - this may very well have been in the project much longer than it appears, it's only being logged due to a small patch I added with 0.2.0. Originally, `scripts/start.js` was ignoring any output from the electron process (it used `childProcess.exec` instead of `childProcess.spawn`, but it now logs it with the `[ELECTRON]` prefix (see [here](https://github.com/joshwcomeau/guppy/pull/1

[2018-08-22 18:31] melanieseltzer opened #149 "'Clear console' functionality in "Project" top-level menu"
This issue is to track 'clear console' functionality in the "Project" top-level menu (related to issue #140).

As it stands now, 'clear console' only clears that of the Dev server and nothing else. The issue that was brought up was UX concerns about user not knowing that and trying to clear the console inside of a Task modal.

Please see relevant discussion in PR #144 ([this comment specifically](

[2018-08-22 19:34] joshwcomeau commented on #35
This was completed!

[2018-08-22 19:34] #35 closed

[2018-08-23 17:15] #142 closed

[2018-08-24 13:49] joshwcomeau opened #155 "Long-term layout idea: panels!"
Oh boy, here we go.

So, yesterday I had a bit of an epiphany: I designed Guppy like a webpage, not a desktop app.

It's meant to be used in a relatively small window, and is meant to be scrolled vertically. Nothing is rearrangeable or moveable. It's essentially a website in a desktop-app wrapper.

I had this realization when I started learning AfterEffects. While its interface is complex, it's un

[2018-08-24 13:56] j-f1 commented on #155
[Blender](https://blender.org) has a similar layout system, although it goes a bit farther — there’s a dropdown available in one of the window types (the application menu/log viewer, which typically appears at the top of the window), that allows you to select different layouts and even create your own. The UI is fully resizable and any pane can be split into two or changed to show different conten

[2018-08-25 15:28] joshwcomeau opened #156 "Fixing our persistence layer"
During app runtime, state is stored primarily in Redux. What list of projects are, where the logs are recorded, which project is selected, etc.

In our current implementation, we're also duplicating all of that redux state in "electron-store" (similar to `localStorage` on the web). That way, when the app boots up, we restore the same session from the last time it was used.

This works great, excep

[2018-08-25 15:30] mathieudutour commented on #156
I worked a bunch on this issue before. You can have a look at https://github.com/react-stack/redux-storage. There is already a engine written for `electron-store` (https://github.com/collmot/redux-storage-engine-electron-store).

Then you can have a bunch of middlewares to handle:
- migrations (https://github.com/mathieudutour/redux-storage-decorator-migrate) (disclamer, I wrote it)
- debouncing s

[2018-08-25 15:31] joshwcomeau opened #157 "Codebase Introduction Guide"
Over the past few weeks, I've answered a lot of questions (and sheepishly requested changes on PRs) for things that are in my head, but are not common-knowledge.

We should have a "Codebase Intro Guide" that contributors can read to understand what our conventions are, how the codebase works, etc. I imagine it would be part style-guide, part "how it's made" documentary.

Some stuff it should cover

[2018-08-25 18:10] j-f1 commented on #156
We could add a `version` key to the Redux store, then create a migration function:

[code]

By adding another `case` statement to the bottom of the `switch`, the store can be upgraded from any past version to the current one in one step, since the lack of a `break` or `return` makes the switch fall through and run necessary available migrations.

[2018-08-25 19:13] joshwcomeau commented on #156
@j-f1 interesting - so I was originally planning on building something myself, but @mathieudutour has persuaded me to give `redux-storage` and his migration decorator a shot. So far I have redux-storage working perfectly, haven't yet tried to add the migration.

If I run into issues with that approach, I'll give your approach a shot :) I like the idea of using a switch fallthrough to apply all nec

[2018-08-25 20:35] joshwcomeau opened #160 "Content jumping around on mount"
**Describe the bug**
In #159, I made some changes to how we persist data. This has led to this rather unfortunate opening bit of jumping:

![flash](https://user-images.githubusercontent.com/6692932/44622333-54ffcd80-a884-11e8-8cbf-a87aa52ef1ae.gif)

**To Reproduce**
Pull branch `redux-storage`, and refresh the app. **This isn't in master.**

**Additional context**
The reason for it is that "Develo

[2018-08-25 20:35] joshwcomeau commented on #160
I plan to tackle this issue this weekend! Posting an issue to record my thoughts / collect feedback.

[2018-08-26 11:14] joshwcomeau commented on #156
Closing this, as the architecture is in place. Has yet to be fully tested though. We'll tackle that with the first diff that changes the structure.

[2018-08-26 11:14] #156 closed

[2018-08-26 18:53] joshwcomeau opened #167 "Easier project creation for debugging"
It would be great if there was a quick way to create projects for debugging. I'm testing project deletion right now and it's very tedious!

I see a number of ways this could work, but I'm open to suggestions.

[2018-08-27 02:36] melanieseltzer commented on #167
The way I've been getting around this while working on project deletion, is to not create anything new and simply copy back the projects to `guppy-projects-dev` after sending to trash 😆

I guess the problem is when you create a new project you are installing the dependencies which takes time. I wonder if there's a way for us to create a pre-configured project where you don't install the dependenci

[2018-08-27 11:02] j-f1 commented on #167
We could save a copy of the first CRA/Gatsby project in a cache directory, then copy it over, rename it, and update all its dependencies to make project creation faster.

[2018-08-27 11:45] joshwcomeau commented on #167
Clever!

Yeah, so we actually have a way to kind-of do this already, I remembered. `create-project.service.js` has a `DISABLED` boolean. When it's true, instead of actually creating a project, it just returns a fixture, a fake package.json. Of course, because it hasn't changed any real files, it's not useful for stuff like deleting projects. But it could be a good starting point.

Ultimately this

[2018-08-27 12:17] #160 closed

[2018-08-27 13:37] #90 closed

[2018-08-27 13:40] joshwcomeau opened #170 "Delete project from Guppy, but not from disk"
@melanieseltzer's great work allows for projects to be deleted from the application menu.

Right now, though, it will delete the project from the hard disk. There is no way to remove it from guppy, without also removing it from disk.

We should add an option to the prompt which will allow for projects to be removed just from Guppy.

Note that this work should come after #169, since any work done o

[2018-08-27 16:26] melanieseltzer commented on #170
I think you mentioned to me on Gitter that you were going to modify the way things work to store project paths in a text file, and that this would make deleting from Guppy (and not from disk) easier. Did you end up following through and is that how you now envision deleting from Guppy working?

[2018-08-28 13:11] joshwcomeau commented on #170
Yeah, so things did change a bit since that chat (we're still persisting stuff in `electron-store`, except now we aren't assuming that it might get erased. We'll use a migration system to deal with updating persisted state when the reducers change).

If you're curious for more context, the `electron-store` stuff was done in #162, and the new `refresh-projects` implementation is in #163

For the de

[2018-08-28 13:51] joshwcomeau commented on #170
Perfect 👍🏻#169 should be merged soon, I believe I've addressed all the feedback

[2018-08-29 15:03] #157 closed

[2018-08-29 15:04] joshwcomeau commented on #25
This is a solved issue :D

[2018-08-29 15:04] #25 closed

[2018-08-29 15:06] joshwcomeau commented on #41
I actually think we've made tremendous progress on the tests!

I'm gonna close this issue since there isn't much "low-hanging fruit" left. As we develop, I'll keep an eye out for "good first issue" test opportunities though

[2018-08-29 15:06] #41 closed

[2018-08-29 15:07] joshwcomeau commented on #105
I believe with our new "path" handling, this shouldn't happen anymore :)

Please reopen if anyone runs into it again!

[2018-08-29 15:07] #105 closed

[2018-08-29 15:08] joshwcomeau commented on #143
Fixed!

[2018-08-29 15:08] #143 closed

[2018-08-29 15:11] joshwcomeau commented on #110
We're definitely getting closer to the point that I think it's ready for beginner usage :)

The big thing missing is a "getting started" guide. I'll create a new issue for this, and we can track it there.

[2018-08-29 15:11] #110 closed

[2018-08-29 15:13] joshwcomeau commented on #106
@superhawk610 Did you have a chance to give it a shot? No problem at all if you didn't :) just asking so that I know if I should give it a try, or if you've discovered that it's non-trivial.

[2018-08-29 15:14] joshwcomeau commented on #148
Whoops, this is a duplicate of https://github.com/joshwcomeau/guppy/issues/68

[2018-08-29 15:14] #148 closed

[2018-08-29 15:14] joshwcomeau commented on #72
This is done :D While we'll continue to update the ApplicationMenu, we have a great start.

[2018-08-29 15:14] #72 closed

[2018-08-30 06:43] xyy94813 opened #173 "Sider menu disappear when close and restart the app"
**Describe the bug**

Sider menu disappear when close and restart the app.

**To Reproduce**
1. open guppy
2. import exist project
3. close guppy
4. open guppy again. Sider menu disapper

**Expected behavior**

The side menu is always displayed.
Or there is other way to show sider menu (click a button?)

**Screenshots**

![image](https://user-images.githubusercontent.com/17971352/44833476-ca8ee380

[2018-08-30 12:20] joshwcomeau commented on #30
You know what, I think this actually is pretty high priority, now that we've knocked out things like Windows support.

I'm using it now to run tests, and it's pretty rough not having red X's, harder to tell at a scan which tests have failed.

I'm busy with some other bugs, but if anyone else wanted to dig into this, I think it's a great thing to focus on!

[2018-08-30 12:45] joshwcomeau opened #175 ""Clear state" menu option"
After seeing some reports of problems after recent updates, it's clear to me that, at least during our Alpha, we need an easy way to have users erase all local state.

I think we should add an item to ApplicationMenu that will allow the user to "restart", essentially. Clear all state, so that you get a fresh installation.

There will of course be a prompt explaining that this won't erase any proje

[2018-08-30 16:14] superhawk610 commented on #175
What about something like `Clear project cache` or `Clear project listing`?

I think `File` is a logical place for it - the only alternative I can think of is to have a separate `Developer` menu with this option and perhaps `Toggle developer tools`.

[2018-08-30 18:10] joshwcomeau commented on #175
I like that idea!

[2018-08-30 23:11] superhawk610 commented on #175
@AWolf81 Mac users actually already have an `About Guppy` page, but it's in a Mac-specific menu so us Windows users have never seen it. IDK if that menu is customizable at all or if it just displays basic info like Electron version and Guppy version.

[2018-08-30 23:17] superhawk610 opened #178 "Migration flow for existing users (<=0.2.0 to redux-storage)"
I've seen some buzz about this on a couple different issues/PRs recently so I figured I'd open an issue to serve as a central location to track intentions and determine the best implementation for this.

Any active users on any commit before 2e1c6661fbec443d72af15c36742bf232e8d5e40 (most notably the release candidates, which I imagine make up the majority of our userbase) will lose redux store ent

[2018-08-30 23:24] superhawk610 opened #179 "New project creation overwrites existing project files not tracked via redux"
As @AWolf81 noted in discussion on #176, creating a new project from Guppy with the same name as an existing folder in `guppy-projects` will overwrite that project without any notification to the user. This likely hasn't come up yet because the `guppy-projects` directory is functionally reserved for Guppy use, but two situtations could lead to this:
- existing users upgrading to a commit after 2e1

[2018-08-31 03:01] xyy94813 commented on #173
Today, i tried to use `electronStore.set(‘redux-state’, null)` to reset `redux-state` in devtool.
it seem work well after restart guppy. I have used version v0.0.1.  I don't know if it is because of this.

[2018-08-31 03:54] xyy94813 commented on #106
i try it again in v0.2.0 and mac os

1. open `Development Server` switch to run `npm start`, (create a new process, pid: 12345)
2. reload view.
3. `Development Server` switch is `off` state. Nothing in the terminal display area. pid: 12345 is still in there.
----------------------------------------------------
4. open `Development Server` switch to run `npm start` again (create a new process, pid:

[2018-08-31 09:15] joshwcomeau commented on #178
Yeah, this is a really good point.

Truthfully my assumption was that we have a small-enough userbase now, and it's in an alpha-enough state, that it would be OK to have those users re-add projects... but, it WOULD be a very jarring experience, and harmful to potential beginners, people we're trying to help with this project.

I don't actually know if it would be that hard to preserve that experie

[2018-08-31 10:12] joshwcomeau commented on #179
++, good catch.

This would be a great first issue for new contributors :) happy to help guide anyone interested!

[2018-08-31 10:16] joshwcomeau commented on #173
My guess is that this will be fixed in `0.3` when it's released, but release may still be a ways away

[2018-08-31 10:44] #173 closed

[2018-08-31 11:00] joshwcomeau opened #184 "Alert users when a project can't be read"
**Summary**
When a project is deleted from disk, it will be silently removed from Guppy.

In many cases, this behaviour is fine; if the user deletes it with Finder/Explorer, it should naturally also disappear from Guppy. But given that this app is targeted at beginners, it might be good to throw a notice prompt up:

[code]

**Implementation**
The code that manages this is in `read-from-disk.servic

[2018-08-31 11:41] #106 closed

[2018-08-31 12:46] leo-generali commented on #184
hey there @joshwcomeau ! 👋 really like what you’re doing with guppy and would be happy to lend a hand. if no one’s claimed this i’d love to take a crack at it

[2018-08-31 18:21] joshwcomeau opened #185 ""Move to Applications folder" on Mac"
I just downloaded the Framer X beta, and it had this really neat touch; when opening it, it prompted me with:

I wonder if we could do something like this as well, when someone downloads Guppy.

I'm not sure if a similar pattern is reasonable for Windows/Linux

[2018-08-31 18:33] mathieudutour commented on #185
it's possible yes: https://github.com/electron/electron/blob/c0e9dbcc0081aec773016cd08a759929536aaae4/docs/api/app.md#appisinapplicationsfolder-macos

[2018-08-31 18:49] leo-generali commented on #184
@joshwcomeau thanks! i'll have a better chance to take a closer look at the everything you've sent sometime this evening.

excited to start helping!

[2018-08-31 19:57] rfbotto commented on #185
Hey @joshwcomeau i would like to tackle this issue if that would be okay :)

[2018-08-31 20:40] joshwcomeau commented on #185
@rfbotto yay, that would be awesome! All yours.

Please give the [Contributing](https://github.com/joshwcomeau/guppy/blob/master/CONTRIBUTING.md) docs a quick read. If you'd like, you can come [hang out with us on Gitter](http://gitter.im/guppy-gui/lobby), we'd be happy to answer any questions you have :D

[2018-09-01 01:09] superhawk610 opened #186 "Closing showMessageBox on Windows defaults to the first option"
**Describe the bug**
`electron.remote.dialog.showMessageBox` defaults to the first option provided when it is closed by clicking the `x` in the top corner. Currently, we always provide the positive option as the first option, which means closing the box is equivalent to confirming the action.

**To Reproduce**
1. Open a project on Windows.
2. Click **Delete** on a dependency.
3. Close out of the m

[2018-09-01 01:23] superhawk610 opened #187 "Button fill breaks on wide buttons"
**Describe the bug**
`Button` components with a long text string may not fill completely to the far right edge.

**To Reproduce**
1. Change the text of the **Delete** button in `DependencyManagementPane` to a long string.
2. Remove the fixed width style.
3. Observe that the fill doesn't reach to the far right edge.

**Expected behavior**
Button fill should expand smoothly to fill entire width.

**

[2018-09-01 01:34] superhawk610 commented on #186
Looks like this was fixed via https://github.com/electron/electron/pull/2146. I'll throw together a quick PR to implement this.

[2018-09-01 05:14] melanieseltzer opened #190 "Name isn't properly set when creating a new Gatsby project"
**Describe the bug**

While working on #189, I've come across a strange bug (that probably wasn't evident until someone ran into the situation like I have).

If you create a new Gatsby project, the `name` field in the resulting package.json is `gatsby-starter-default`, not the name you chose at creation (but `guppy.id` and `guppy.name` are initially set to your chosen name).

You don't really noti

[2018-09-01 12:05] joshwcomeau commented on #187
This also appears to happen on really short buttons:

<img width="266" alt="screen shot 2018-09-01 at 8 03 20 am" src="https://user-images.githubusercontent.com/6692932/44945782-82390800-adbd-11e8-8c11-c270c8300e8c.png">

Thanks for taking this on, @prasoc! This one might be a bit tricky. The border is actually an SVG that calculates itself based on the children's size (I did it this way because i

[2018-09-01 13:32] joshwcomeau opened #193 "Embedded IDE"
The future vision for Guppy is that it's a batteries-included jetpack, to help boost your experience developing React/Gatsby applications.

I would love for it to be a single download that includes _everything_ you need; a usable copy of Node (#44), an ultra-simple wrapper around basic Git operations (#85), and finally, a code editor.

Initially I thought "Nah it would be _way too much work_ to bu

[2018-09-01 13:41] j-f1 commented on #193
IMO we should make bundles that include an external editor (perhaps Atom and VS Code to start) along with Guppy in one downloadable. This would allow us to stay out of the editor business while still making it a very simple install.

[2018-09-01 13:57] AWolf81 commented on #193
I also think that we shouldn't add the complexity of a code editor and be focused on the workflow. I think it's possible to do it like you mentioned it but I'm not sure if we should do this.

Maybe we could check if we could do it the other way round - Integrate Guppy as extension to VS code or Atom. I haven't created an extension for VS code before.

Benefits from integration into VS code:
- Git

[2018-09-01 14:17] joshwcomeau commented on #193
Yeah, I think this is something we should do in the short-term.

There are advantages to having it integrated beyond just download convenience, though:

- Staying within the same program is convenient
- If my panelling idea (#155) works out, it opens up a whole bunch of neat possibilities. For example, you could set up your window to have a code pane next to the test pane, and really easily iterat

[2018-09-01 15:13] joshwcomeau opened #195 "Allow projects in sidebar to be rearranged"
**Is your feature request related to a problem? Please describe.**
Right now, you can't change the order that projects appear in, in the sidebar. If your most-worked-on project is 6th in the list, that doesn't feel right.

**Describe the solution you'd like**
Ideally, you should be able to drag-and-drop to reorder them. This feels like the most intuitive UI

![dnd](https://user-images.githubuserco

[2018-09-01 15:13] joshwcomeau commented on #195
I think this would be a great first issue for new contributors!

[2018-09-01 15:39] joshwcomeau commented on #178
Hah! that was it.

I think I can write a migration to fix this :D

On it.

[2018-09-01 18:16] j-f1 commented on #195
We should probably add `pointer-events: none` to the image since it shouldn’t be dragged in a desktop app. This will make it so that the icon is still visible, but the cursor ignores it.

[2018-09-01 20:00] joshwcomeau commented on #195
Hm, good point.

So right now I believe they're sorted by `createdAt`, not `lastModified`. And I think that works with drag-and-drop. I know in previous issues I've talked about changing it so that whenever you select a project it moves to the top, but I've since realized that that could be pretty jarring.

I think the logic should be:
- When a new project is created, it's pushed into the sidebar

[2018-09-01 20:44] Futuro212 commented on #131
I'm gonna make some of the stories 👍

[2018-09-01 22:42] melanieseltzer commented on #170
Closed via #189!

[2018-09-01 22:42] #170 closed

[2018-09-02 00:00] AWolf81 commented on #175
I'm working on this in the branch [clear-state-menue-item](https://github.com/joshwcomeau/guppy/tree/clear-state-menue-item).

I've added a menu `File/Development/Reset State...`. After click it shows an warning dialog before executing the `window.electronStore.clear()`.

At the moment, I have a problem with the execution of the clear command. It executes but it doesn't clear the state. Not sure w

[2018-09-02 00:26] joshwcomeau commented on #131
@Futuro212 awesome, thanks!

Could be helpful to post the ones you're thinking of tackling, to make sure work isn't duplicated with someone else :)

[2018-09-02 00:33] joshwcomeau commented on #175
@AWolf81 awesome, thanks for tackling this!

My issue with `View` is that it almost feels like it treats it too casually? Clearing the cache really shouldn't ever be needed by users, so I think it makes sense in a Development menu.

I like where you have it now, in File. I think I'd like it even more as its own top-level menu, but I think I'm happy either way.

We should also move the Toggle Devel

[2018-09-02 00:34] #190 closed

[2018-09-02 00:47] #178 closed

[2018-09-02 01:08] Futuro212 commented on #131
I'm going by the order of the list :D

[2018-09-02 08:10] superhawk610 commented on #187
* it in a component that has the propensity to change sizes.

I didn't realize the border was a separate component or I would have checked, this note is taken from the doc comment for `CircularOutline`. Those two examples shown above are taken after changing the text from another string, I bet it has something to do with that.

[2018-09-02 17:55] joshwcomeau opened #203 "Throw a warning prompt if "Open in Editor" fails."
**Is your feature request related to a problem? Please describe.**
In #171, I added a couple new options to the Application Menu:
- Open Folder
- Open in Editor

The latter, "Open in Editor", is supposed to open the current project in VS Code, or Sublime Text, or Atom, whatever.

It relies on the existence of an "EDITOR" environment variable that _should_ be present after you've installed an edito

[2018-09-02 19:02] joshwcomeau opened #204 "Cute animation while project's created"
It takes _a while_ to create new projects on lower-end machines / machines with bad internet connections. Like, it can take several minutes.

Right now, we're just showing a spinner during this process:

![downloading](https://user-images.githubusercontent.com/6692932/44959691-8d289100-aec0-11e8-9600-9251e5c13287.gif)

I think we can do better than this.

I think it'd be fun to recreate the Window

[2018-09-02 19:55] joshwcomeau commented on #175
This has landed!

[2018-09-02 19:55] #175 closed

[2018-09-02 20:01] #185 closed

[2018-09-03 01:40] superhawk610 commented on #204
Is that sort of complexity (3d page flip) remotely accomplishable with CSS
transforms or would you need canvas?

On Sun, Sep 2, 2018, 4:22 PM Joshua Comeau <notifications@github.com> wrote:

[2018-09-03 13:16] joshwcomeau commented on #204
I'm actually not sure how to do that kind of animation with any web technologies :/ I know how to fold an element (demo'ed this in my React Europe talk: https://the-case-for-whimsy.surge.sh/#/31), but that animation is really curvy and organic.

Easiest thing to recreate it exactly would be to make a spritesheet and use CSS to update the images, I think.

For this, though, it doesn't have to be a

[2018-09-03 16:58] joshwcomeau opened #210 "Info for docs"
There are a few conventions we should crystallize somewhere. I'm still not sure what the best way is (if we should enumerate every low-level convention, or if we should just link to "good examples" within the codebase)... but until we figure that out, we can collect ideas here.

From #208:

- Use `it` instead of `test` for Jest tests
- Use `prevState` as the variable for the starting Redux state f

[2018-09-03 20:38] superhawk610 opened #211 "Warn the user if they quit while pending actions are queued"
**Is your feature request related to a problem? Please describe.**
If I have dependencies queued for install/delete and quit Guppy, they are stopped mid-process, which may lead to undesirable/unpredictable results.

**Describe the solution you'd like**
When a user goes to quit the app (`Cmd-Q`, closing the only open window, etc) while there are queued actions running/pending, they should receive a

[2018-09-03 20:41] superhawk610 commented on #211
**Addendum:** It would be nice to show exactly what is preventing the user from quitting (as a list of pending actions, for example). This could be accomplished by adding a selector to `queue.reducer.js` to describe the current queue for a project.

[2018-09-03 21:00] joshwcomeau commented on #211
Sounds good to me!

[2018-09-03 21:44] superhawk610 commented on #210
Here are a few rough writeups I've done explaning some of the more complex flows:
- **Why sagas over middlewares** https://gist.github.com/superhawk610/6b3302ccc423d344ba2d3c024f826363
- **Middleware/saga workflow** https://gist.github.com/superhawk610/fa9b5550736d4032c4ff338295b8201b
- **Queue flow** https://gist.github.com/superhawk610/b7af4eb253abf363c2c0ce7f9ac01f47

[2018-09-04 00:15] superhawk610 commented on #131
@Futuro212 great question! I would probably stick to 3 to 5 component stories per PR, that way it keeps your changes concise and easy to review in a single session (this is something I struggle with, as @joshwcomeau can attest 😁).

I would also update your comment with a checklist of the stories you're in progress on, that way if someone else wants to contribute they'll know which ones to skip so

[2018-09-05 11:28] joshwcomeau opened #213 "Upgrade to `styled-components` v4"
`styled-components` v4 was [just announced](https://twitter.com/mxstbr/status/1037245204812759040), and it looks _really good_:

- 25% faster on mount
- really good new APIs like the new global styles, and `as`
- `ref` support
- faster `styled()`
- a bunch more

It's still in beta, but I think we should try upgrading. It seems like it'd be a huge improvement.

Some things that will need to be upda

[2018-09-05 18:00] rfbotto commented on #213
Hey @joshwcomeau,this seems like a good issue for me to get around the main react codebase of guppy and also experiment with the `v4` of `styled-components` :D. If possible i would like to try and tackle this one :)

[2018-09-05 18:18] superhawk610 commented on #213
All yours, @rfbotto!

[2018-09-05 22:20] joshwcomeau commented on #213
Sounds good @rfbotto!

[2018-09-05 23:32] joshwcomeau opened #214 "Add code coverage reports to CI"
Because Yarn is built with Create React App, it comes with a code coverage tool. We can run this locally using `yarn test --coverage`, to produce a fancy HTML document (and its associated JSON data):

<img width="2008" alt="screen shot 2018-09-05 at 7 28 51 pm" src="https://user-images.githubusercontent.com/6692932/45126608-2e724a00-b142-11e8-953c-4c57942e3438.png">

It would be great to add somet

[2018-09-05 23:43] mathieudutour commented on #214
[Danger](https://danger.systems/js/) is pretty good at reporting those kind of information.

We could also add some warnings when a component is modified but not its story for example.

[2018-09-05 23:54] j-f1 commented on #214
This could be another use for Netlify. We could use [the API](https://www.netlify.com/docs/api/#deploying-to-netlify) to upload a zip with this code:

[code]
(untested code)

[2018-09-06 01:16] joshwcomeau commented on #214
Ah I've never heard of Danger, that's pretty cool!

Ideally our CI coverage tool would have access to all the information, making another Netlify site unnecessary, but that's also a good option if we want access to deep reports!

[2018-09-06 01:17] joshwcomeau commented on #33
This is done now :D Thanks for all the great work, @superhawk610 !

[2018-09-06 01:17] #33 closed

[2018-09-06 01:51] superhawk610 commented on #44
This should be possible using `ELECTRON_RUN_AS_NODE` (https://github.com/electron/electron/issues/11515), per [@GregorySchier on Twitter](https://twitter.com/GregorySchier/status/1037515524815634432?s=09).

[2018-09-06 01:54] joshwcomeau commented on #44
Yeah, awesome to hear that this is possible!

[2018-09-06 06:45] AWolf81 commented on #214
I have used [codecov](https://codecov.io/gh/AWolf81/mongoose-encipher). At the repo, where I used it I don't have any PRs. But the bot report for it looks like this.
![https://storage.googleapis.com/codecov-cdn/4.4.0-94f19e4b/media/images/home/comment.png](https://storage.googleapis.com/codecov-cdn/4.4.0-94f19e4b/media/images/home/comment.png)
There are probably other services but adding this is p

[2018-09-06 11:41] joshwcomeau commented on #214
@AWolf81 Codecov looks pretty good to me! Shows the diff between the PR and its base, as well as a neat grid. I'm also happy if we wanna experiment with Danger. I'm not picky, so long as we can get some info about coverage changes on PRs :)

The netlify page is lower-priority to me (I'd rather just have a quick summary right in the PR, and be able to run it locally for all the info, since i don't

[2018-09-06 11:59] mathieudutour commented on #214
If you choose to go with Danger, there is an existing plugin to report the coverage using istanbul: https://github.com/darcy-rayner/danger-plugin-istanbul-coverage. One thing tho, compared to Codecov, it does not report the change of the coverage.
But it's a lot more flexible and could be use for reporting other things than the coverage in the future.

[2018-09-06 19:15] joshwcomeau commented on #214
Ah I see; that's a shame, since the coverage delta of a diff is the thing I'm most interested in!

But yeah, nothing says we can't have both :) codecov on PR, and danger just as a repo badge or something?

[2018-09-06 19:42] Haroenv commented on #214
IMO codecov makes more sense here since it's less setup and more features. We can always use danger later as a "you forgot to name the PR title correctly" or for linking staging deploys etc.

[2018-09-07 11:32] joshwcomeau opened #222 "Signing Guppy for MacOS"
This is something we've spoken about on [Gitter](https://gitter.im/guppy-gui/Lobby), but I thought I'd create an issue so that we can track it.

When downloading Guppy now on MacOS, the app won't open if you double-click it:

<img width="436" alt="screen shot 2018-09-07 at 7 30 13 am" src="https://user-images.githubusercontent.com/6692932/45216830-e9e4cc80-b26f-11e8-926b-30414f6c9bb6.png">

Savvy

[2018-09-07 11:34] joshwcomeau opened #223 "Signing Guppy for Windows"
This is something we've spoken about on [Gitter](https://gitter.im/guppy-gui/Lobby), but I thought I'd create an issue so that we can track it.

As like in #222, we need to sign our code so that it can be easily opened. The process is similar, but not exactly the same, for Windows users.

It might make sense to tackle #26 first, as Electron Builder handles Windows signing as well.

I'm happy to pu

[2018-09-07 11:44] mathieudutour commented on #222
If you are interested, I have a script to automatically sign and create a new release on GH when pushing a branch named `__release-production-COMMIT_SHA` in https://github.com/kactus-io/kactus.

The gist is to
- store the .p12 on a private repo, download it and add it to the circleCI (or travis) keychain (https://github.com/kactus-io/kactus/blob/master/script/setup-macos-keychain)
- do the previou

[2018-09-07 19:07] joshwcomeau commented on #222
Thanks @mathieudutour! Interesting idea to have a hook on specific branch names. Thanks for sharing, will look into that once the initial version is signed.

[2018-09-07 21:09] superhawk610 opened #225 "Issues with CircularOutline / StrokeButton"
**Describe the bug**
After a dependency install is initiated by clicking **Add To Project**, all other **Add To Project** buttons lose their green border. Strangely, this only seems to occur when installing the first search result (see screenshots).

**To Reproduce**
1. Search for a dependency.
2. Click **Add To Project** on the first search result.
3. Note that all other **Add To Project** button

[2018-09-07 22:03] AWolf81 opened #227 "Improve queuing of dependencies - abort queued items & installation"
I think it would be great to have the option to directly cancel queued dependencies & installations inside `Add New Dependency dialog`
![grafik](https://user-images.githubusercontent.com/3046542/45244775-99b24c80-b2f9-11e8-9aec-e3d99cec73ed.png)

E.g. a user starts accidentially an installation and wants to immediately abort it.

**Describe the solution you'd like**

We could add an abort button c

[2018-09-08 00:04] superhawk610 commented on #227
Great call, I can take this 😄

What should the UX for this be? My initial thought is that hovering over any install indicator should change into a **Cancel** prompt, but this runs the risk of being somewhat unclear. Any other ideas?

[2018-09-08 00:06] superhawk610 commented on #223
@AWolf81 has demonstrated experience with this, I think he should take point.

[2018-09-08 07:50] JheeBz opened #229 "Allow custom project name"
**Is your feature request related to a problem? Please describe.**
I have an existing project split into a front-end and a backend folder structure as per below:
[code]

When you import the client directory, it shows up as 'client' in your projects. I'd imagine that if you have a few projects named this way, it'd be hard to distinguish between them. It's not possible to import the top level direct

[2018-09-08 08:03] AWolf81 commented on #227
@superhawk610 thanks for tackling this.

**To the UX:**
I think it would be good to have a light border (maybe gray) around the `installing...` text and also add a x icon so it's clear that it will cancel the task - so it looks like a button. Maybe we could display `abort` tooltip if hovered over the button but I think that's optional as it should be clear what it will do.

**Icon for aborting**
!

[2018-09-08 08:17] AWolf81 commented on #229
@JheeBz Thanks for the feature request.
I think this should be possible once PR #120 Project configuration landed (It's almost ready - just need to do one final fix due to recent `projectPath` change feature).

Once this is available you can import `client` folder and then re-name the project. After the rename you will get a prompt if you want to rename the project folder as well. Clicking `no` wi

[2018-09-08 11:10] joshwcomeau commented on #225
Yeah this is _really_ weird. I spent some time looking into this a couple months back.

The issue is that our button outlines are really unconventional; they're SVG paths. We do that rather than just using `borderRadius` because gradient-borders don't look at all like what I want.

It just occurred to me, though, that probably a better solution is to just have a <div> with a background gradient, a

[2018-09-08 12:39] AWolf81 commented on #227
@joshwcomeau you're right cancelling multiple installing tasks can be hard. But I think it's doable. If multiple dependencies are installing with a single `yarn add dep1 dep2 ...`. We could cancel the whole process and add all other pending dependencies back to the queue.
But I'm not sure if it's worth the trouble. I think it's OK to just remove single dependency installs and queued ones. That wil

[2018-09-09 08:13] Jtfinlay commented on #26
So, I think I have things most of the way there. Branch here: https://github.com/Jtfinlay/guppy/tree/buildermin

I have electron-builder pulling from `/build`. I hit some snags because the electron starter (`main.js`) has shared dependencies with the main app from references to `kill-process-id.service` and `electron-store.service`.

I decided to make an 'electron' entry for webpack. It will pull

[2018-09-09 08:58] superhawk610 commented on #26
I'd imagine you'll have to do some unpacking first, since files in an `.asar` container can't be accessed natively.

[2018-09-09 09:07] AWolf81 commented on #225
I did a quick test with `FillButton` and the appearance is consistent.
I found the location that's causing the outline issue:
If I'm removing the passed props `color1` and `color2` from line 118 & 119 from `AddDependencySearchResult` then the border is correctly displayed with the default props.
So the issue must be inside `StrokeButton` or `CircularOutline` but I couldn't find a problem.

It's re

[2018-09-09 11:26] joshwcomeau commented on #26
Hi @Jtfinlay!

Awesome timing, I was about to start looking at this myself this morning. I'm not in a rush, though, so I'll leave it to you :) sounds like you're making tremendous progress.

I'm totally unfamiliar with asar, but it sounds like you're on the right track. Feel free to open a "WIP" commit, I'd be happy to test it on my mac as well.

[2018-09-09 11:28] joshwcomeau commented on #225
Yeah. It's strange that we haven't seen it elsewhere, it's not clear exactly what the repro conditions are.

I'm guessing this is a Chrome issue, and it may be fixed in future releases of Electron. So while I'd definitely like to find a solution (likely involving a different implementation of `CircularOutline`?), I also don't know if it's the best use of our time.

[2018-09-09 13:01] AWolf81 opened #232 "Refactoring - Create ProjectIconSelection Component"
Once PR #120 landed we will have two location where we're showing the project icon selection.
One in `CreateProjectWizard` and one inside of `ProjectConfigurationModal`

It would be good to refactor the code duplication into a new `ProjectIconSelection` Component. So we have only one code location for the selection.

The component will be used like following:

        <ProjectIconSelection

[2018-09-09 13:55] joshwcomeau opened #233 "Refactoring - switch to React Spring"
**Taken by @idoberko2**

For most spring animations in the project, we're using React Motion.

Recently, we introduced [React Spring](https://github.com/drcmda/react-spring). It does the same kind of thing, but is more powerful, and has a simpler API. It can also be more performant, with its new `native` option (React Motion will re-render the component tree every frame, whereas React Spring can d

[2018-09-09 14:29] joshwcomeau opened #234 "Memoize Redux selectors"
I've noticed that a _lot_ of our app re-renders unnecessarily.

I've traced this to one big issue: every time any action is dispatched, a new `selectedProject` is provided to all connected components, causing them to re-render even if they're PureComponents.

This is because `getSelectedProject` always returns a new object, which is in turn because we do some work to make the project more usable b

[2018-09-09 14:29] joshwcomeau commented on #234
I think I'm gonna tackle this myself today, just creating an issue for tracking / reminding me

[2018-09-09 14:37] joshwcomeau commented on #225
Ok, this is causing more issues.

In our new project-configuration modal, we have many icons, and each icon requires additional render cycles. All of this happens while the modal is opening, which means the animation is choppy and awful.

I think the solution could involve clip-path. What if it was a background gradient, but then CSS clip-path was used to "cut out" a border. It's a non-trivial pro

[2018-09-09 21:10] Jtfinlay commented on #26
Thanks! I'll have a PR out soon for help testing. I've verified on the mac and the behavior is the same so far. More eyes will be appreciated.

I have changes almost done to unpack yarn and fix the path to point to the unpacked version, and it works. The electron-builder docs say that these packages [should work out of the box](https://www.electron.build/generated/platformspecificbuildoptions), so

[2018-09-09 21:53] joshwcomeau commented on #26
Woohoo! Can't wait :D

Not sure I understand; do you mean so that NPM scripts can be run using Yarn (AKA the stuff discussed in #44)? Or is this a part of just getting electron-builder to work?

Yep, that's exactly what I expected :) switching packagers is plenty for 1 PR, anyone can pick up the configuration once that PR is landed.

[2018-09-09 21:58] Jtfinlay commented on #26
This is regarding when we invoke different tasks from within guppy on a project. To do this, `yarn` is included in node_modules. The reference to its path was failing, as depicted in the screenshot I first posted.

[2018-09-09 22:32] AWolf81 commented on #52
We can close this issue as open in IDE button & menu item is available.

[2018-09-09 22:32] #52 closed

[2018-09-10 12:01] joshwcomeau opened #237 "Storybook not running locally"
**Describe the bug**
Storybook doesn't open on a clean install, with the following error:

[code]

**To Reproduce**
Clone the project, `yarn install`, and `yarn storybook`

(Note: I haven't verified this yet, but I _did_ see this issue myself a while ago)

**Expected behavior**
Storybook should open!

**Additional context**
My guess is that with the release of Babel 7, a sub-dependency of Storyboo

[2018-09-10 12:01] joshwcomeau commented on #237
I'll take a look at this shortly

[2018-09-10 12:35] joshwcomeau commented on #44
Note that we _might_ want to hold off on this for a moment, as our switch to electron-builder (#26, #236) might affect how this works

[2018-09-10 13:06] mathieudutour opened #238 "leverage the project configuration modal to change some package.json fields"
The new project configuration modal is great! I'm thinking we could leverage it to provide a UI for updating common package.json fields like:
- description
- keywords
- homepage
- license
- author?
- version?

[2018-09-10 13:07] mathieudutour commented on #229
it's now merged 🎉

[2018-09-10 13:07] #229 closed

[2018-09-10 20:57] j-f1 commented on #238
IMO we should hold off on the version field and create a UI later on that allows people to bump the version and create a tag.

[2018-09-10 20:59] mathieudutour commented on #238
I'd tend to agree. Could still be interesting to show it somewhere

[2018-09-10 23:36] joshwcomeau commented on #238
Hm, so most of the fields you've listed are useful for OSS projects/tools, but not so interesting for web apps (not that the two are mutually exclusive, but things like keywords, license, and version are generally meant for building NPM packages, which is not something Guppy supports).

I think if we just present them as fields, it doesn't add a lot of value (and at worst, it creates confusion). I

[2018-09-11 01:42] #30 closed

[2018-09-11 05:40] AWolf81 commented on #210
As mentioned on Gitter I'd like to add an issue to the docs that occured recently and looks like a bug but we think it's only an installation issue. The issue happend to @superhawk610 and me on Windows.
I'm thinking we could add a section like **known-issues during development**. As I think it took me around one hour to figure out that nothing is broken.

After starting `devServer` or `taskRun` a

[2018-09-11 06:06] AWolf81 commented on #237
For me it is working on Windows with a fresh clone & installation. I just get some warnings (see below) during installation but I'm not getting the mentioned Babel error.

**Warnings**
[code]

[2018-09-11 11:40] joshwcomeau opened #242 "Analytics Tracking"
Right now, Guppy has no tracking at all. As a result, we don't know how many people are using it =(

This has been discussed much in Gitter, and I think we should move towards using a pre-built service. The obvious choice is Google Analytics, but because Google uses this product to follow users around the web (and beyond), I don't feel great about adding another data point for them through Guppy.

[2018-09-11 11:44] joshwcomeau opened #243 "In-App Feedback"
It's been discussed on Gitter that it would be good to have in-app feedback, something like [doorbell.io](doorbell.io).

While I'm not sure how much it'd get used, I do like the idea that beginners have an easy way to submit feedback, since they might not know how to open a Github issue or find us in Gitter.

In terms of where it should go in the UI, I'm a bit conflicted. The standard appears to b

[2018-09-11 11:45] joshwcomeau commented on #234
This turned out to actually be a lot trickier than I thought. Still working on it, but it's not the 10-minute task I was expecting

[2018-09-11 11:57] mathieudutour commented on #242
why a saga instead of a redux middleware? Seems like the perfect use case for a middleware

[2018-09-11 12:06] mathieudutour commented on #243
A while ago I built a small slack app to be able to chat with the users of a website through slack: https://github.com/mathieudutour/slacking-pigeons (that was before intercom and al did the same thing haha).

I'm wondering if we could leverage gitter to do something similar: create a minimal chat interface in Guppy that creates a new gitter room (like Guppy/xxx) where we can jump in and answer li

[2018-09-11 12:09] AWolf81 commented on #242
Thanks for creating the issue.
I like the idea of having the abstraction with an analytics service.

I briefly checked Heap and one thing we'll need to add is an identification `heap.identify(userId)` of the installation. I think we can do this with an uuid that we'll generate on first start because electronStore will not contain that id or do we have another option to do this because clearing the

[2018-09-11 13:17] joshwcomeau commented on #242
The reason I want to try a saga is just to reduce the amount of potentially-foreign concepts this repo uses (new contributors shouldn't have to learn about both middlewares _and_ sagas, ideally).

I think we can create something very similar if we `takeEvery('*', handleAnalytics)`; inside `handleAnalytics` we can `switch` on the action type, the same way we would in a middleware.

But yeah, if the

[2018-09-11 13:43] j-f1 commented on #242
If you outgrow Mixpanel, you could contact them to see if they’d be willing to give us a free plan since we’re open source.

[2018-09-11 15:17] AWolf81 commented on #242
Great, I'd like to test the analytics later.

Is it possible to see the statistics from Mixpanel? I would be interested to see some stats.
I think that would be useful for testing the analytics.

[2018-09-11 16:39] joshwcomeau commented on #210
hm this reminds me of the issue we used to see because of a problematic version of NPM. I thought switching to yarn would have fixed it :/

[2018-09-11 16:41] joshwcomeau commented on #243
Ah, sucks that the API doesn't include room-creation!

Oh well. Probably too big a project anyway, compared to just using an off-the-shelf solution

[2018-09-11 19:02] AWolf81 commented on #28
We can close this as it is merged to master. 🎉

[2018-09-11 19:02] #28 closed

[2018-09-11 20:37] AWolf81 commented on #223
Sure, I can support with the signing and summarize my experience with code signing here.

I've purchased an open source code signing certificate with a signing hardware [here](https://en.sklep.certum.pl/data-safety/code-signing-certificates/open-source-code-signing-978.html) for this [Firefox extension](https://github.com/feinstaub/webextension_local_filesystem_links). I purchased it last year and

[2018-09-12 00:39] joshwcomeau commented on #242
Yeah, Mixpanel has a reports section :) I just submitted a test event and it looks like it'll be helpful.

Unfortunately, Mixpanel bills by the seat, and we only get 3 seats =( so I'm thinking I'll create a `contributors` account and DM any interested collaborators the authentication details?

[2018-09-12 05:55] AWolf81 commented on #242
Yes, I've seen the pricing 999 USD/year is pretty expensive but I think the free plan is large enough for us.

I'm interested to see the stats. Please DM me the `contributors` account details on Gitter.

[2018-09-12 21:54] joshwcomeau opened #246 "Projects can't be deleted"
@melanieseltzer reports that project deletion is busted. Upon closer examination, there are 2 issues:

- The `ProjectPage` is briefly re-rendering without a selected project, between dispatched actions
- Projects aren't actually being deleted, since the `paths` reducer isn't updated.

I have a fix in the works, should be resolved soon.

[2018-09-12 23:33] #246 closed

[2018-09-13 04:11] superhawk610 commented on #227
I may not be able to get to this in the near future, someone else can feel free to take it.

[2018-09-13 09:31] shockry commented on #203
I'm looking into this and from what I see, `react-dev-utils` returns `undefined` anyway, for success or failure.

Because of this, we can't know for sure if there is a problem with `PATH`, meaning if we check for the existence of `EDITOR` then delegate the call to `react-dev-utils`, if it happens that`EDITOR`'s value is incorrect or not in the `PATH`, it would still fail silently.

I'm not sure ho

[2018-09-13 13:11] joshwcomeau commented on #234
ok so I'm totally bewildered.

In my branch `reselect`, I did a buncha work to memoize the critical selectors. This has the real, tangible benefit that opening the modal no longer re-renders the `ProjectPage` and `Sidebar` components.

Here are the flame-charts for the Open animation, when opening the Project Settings modal:

Before:
<img width="702" alt="screen shot 2018-09-13 at 9 05 58 am" src=

[2018-09-13 13:46] mathieudutour commented on #234
So for me `react-spring` is doing a setState on every requestAnimationFrame for about 2s (which is way longer than the timing of the animation. And that's the same duration for which the GPU works. After that is calm.

[2018-09-13 14:02] joshwcomeau commented on #234
Hm, interesting; I did notice that `<Spring>` shows up a lot _more_ in the User Timing API on `master`, but maybe it has to do with how `native` works when the parent component isn't re-rendering 🤔

I _think_ I tried disabling that animation altogether, I did that to a lot of various things, but maybe I missed that one?

At any rate, appreciate you taking the time to look :) I'll experiment with t

[2018-09-14 11:30] joshwcomeau commented on #187
Closed by #201!

[2018-09-14 11:30] #187 closed

[2018-09-14 23:55] #234 closed

[2018-09-15 00:04] joshwcomeau commented on #49
Ah, so I was actually able to replicate the build failure:

<img width="571" alt="screen shot 2018-09-14 at 8 02 31 pm" src="https://user-images.githubusercontent.com/6692932/45579859-2492ca00-b859-11e8-8c63-a6f67540e081.png">

It's disguised as a success, so I probably didn't notice it in my earlier testing.

It should be an easy fix; disable builds while there's an active dependency queue for th

[2018-09-16 01:49] Phrynobatrachus commented on #237
I went back a few minutes ago to double check on this and post a log since I brought it up the other evening in gitter. I noticed that yarn was using an older version (~0.26) due to some path issues, after I fixed this 'yarn storybook' works correctly.

[2018-09-16 11:33] joshwcomeau opened #250 "Flow/Typescript module"
### Feature Idea
Create a module in the Guppy UI for static-typing. Will use Flow as the example, although we should support TS as well.

If Flow isn't installed in the project, the module will include an "Install Flow" button, which will:

- add the `flow-bin` dependency
- run `yarn flow init` to generate a config file

Once it's installed, it will work similarly to our Development Server module.

[2018-09-16 11:34] joshwcomeau commented on #250
Thanks for the idea, @AWolf81! Feel free to edit this issue if it doesn't capture your idea perfectly.

[2018-09-16 11:58] joshwcomeau commented on #237
Ah interesting!

Ok, I'm gonna close this, since it sounds like it's not something we really have control over with Guppy. Feel free to re-open if anyone runs into it in other situations though!

[2018-09-16 11:58] #237 closed

[2018-09-16 12:02] joshwcomeau opened #251 "Dependencies pane missing"
I noticed when pulling master that the "Dependencies" panel isn't showing up anymore. I believe this is because of the work in #248 - a last-minute change in that branch turned the dependencies selectors into objects rather than arrays, and it looks like I forgot to do the conversion in the components.

Will tackle, shouldn't be long.

[2018-09-17 12:00] #49 closed

[2018-09-17 18:55] raerpo opened #255 "Include VSCode suggestion for styled-components syntax highlight"
**Is your feature request related to a problem? Please describe.**
Not at all. Only to improve DX

**Describe the solution you'd like**
I actually have a PR ready for this but wanted to check first if can be include it. Basically, is include the name of the VSCode extension into `.vscode/extensions.json` to give syntax highlighting to files containing styled-components code.

[2018-09-17 19:03] raerpo commented on #232
I would love to give this a shot. Can I take it?

[2018-09-17 19:16] joshwcomeau commented on #232
@raerpo go for it! That'd be much appreciated =)

[2018-09-17 20:45] joshwcomeau commented on #255
I'm into it! Please do open a PR :)

[2018-09-17 22:59] AWolf81 commented on #155
@joshwcomeau I've added my WIP [panels-setup](https://github.com/joshwcomeau/guppy/tree/panels-setup) it is using [react-grid-layout](https://github.com/STRML/react-grid-layout) for the panels.
I've seen the branch `panels` but `yarn start` wasn't working there - so I decided to create a new branch for the basic panel setup.

At the moment, the basic setup is working but there is a lot todo. But I

[2018-09-18 10:43] #255 closed

[2018-09-18 12:11] joshwcomeau commented on #155
Hi @AWolf81,

Thanks for giving this a shot. I've been working on this myself, and I don't _think_ we can use `react-grid-layout` for this :/

It's close to what I'm imagining, but the layout model is different. Specifically, I'm imagining it as a series of columns; each column can have 1 or more module, and critically, each column can be resized.

With react-grid-layout, there's no idea of column

[2018-09-20 21:05] #232 closed

[2018-09-20 21:05] joshwcomeau commented on #232
Thanks @raerpo!

[2018-09-21 04:07] stevemao opened #259 "add to homebrew?"
It would be great if we could just do

[code]

to install guppy

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2018-09-21 13:14] Paarmita commented on #195
@AWolf81 @joshwcomeau I am a newcomer to the project issue and I wanted to work on adding the drag-and-drop feature. Can u plz help in finding the right file to modify. This could be accomplished by event handlers and containers.

[2018-09-22 10:47] #242 closed

[2018-09-22 10:48] joshwcomeau commented on #195
Hi @Paarmita!

I agree with most of what @AWolf81 said, except I think we should skip the "show all projects" button. Instead, I think the container should be scrollable, so that if you have a lot of projects you can just scroll down.

We can always do that in a future PR - one complicating factor is that I don't want to use the default scrollbar (especially on Windows and with a desktop mouse plu

[2018-09-22 10:54] joshwcomeau commented on #259
Hi @stevemao!

I like this idea, but I think it has limited potential. Guppy's primary audience is folks who haven't yet learned how to use the terminal, so it's unlikely they're familiar with Homebrew. Plus, I'm guessing Windows is our most popular platform at the moment (although we don't actually know).

I think it's still a nice-to-have, especially once we're really taking advantage of the GUI

[2018-09-22 13:09] joshwcomeau commented on #44
Gonna start taking a look at this =D

[2018-09-22 13:14] joshwcomeau commented on #238
I think this idea has potential in the future, if Guppy expands to handle packages... but given that it isn't on the roadmap, I'm gonna close this issue for now. Appreciate the idea though!

[2018-09-22 13:14] #238 closed

[2018-09-22 13:15] joshwcomeau commented on #225
Another issue: The icons blink quickly on mount: https://user-images.githubusercontent.com/3046542/45642429-6a010280-bab8-11e8-952f-af611493a5c5.gif

[2018-09-23 09:46] AWolf81 commented on #195
Yes, Josh is right.

A scrollbar is better than the button. So most users won't see that scrollbars as they're having just some projects. But we can add this later.
@joshwcomeau can you please add a new issue with a sketch how you'd like the custom scrollbar component? I think we need one styling for the sidebar and another one for other scrollbars (maybe we need one at the new panels).

Another i

[2018-09-23 11:36] joshwcomeau opened #262 "Custom scrollbars"
In #195, there was discussion about making the sidebar scrollable, so that when users have too many projects to fit, they can scroll to view all of them.

By default, when using a trackpad or magic-mouse, MacOS does this nice thing where the scrollbar only shows up when it's needed, and overlays the content:

![scroll-default](https://user-images.githubusercontent.com/6692932/45927516-2831eb00-bf0

[2018-09-23 11:41] joshwcomeau commented on #262
I think probably the easiest way to tackle this task is to start by trying out http://malte-wessel.github.io/react-custom-scrollbars/, to make the Sidebar scrollable. It might be a really quick issue if that works!

If not, I'd try to use these CSS properties to make it work: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp. Note that I _think_ they can be applied to a specific node,

[2018-09-23 13:41] joshwcomeau commented on #131
Hi @Futuro212,

We're starting to think about moving from Storybook to Docz. If you've already done Card, I'd just open a PR with that one, and hold off from doing any more :)

We'd love to get your help adding stories in Docz instead! Let us know if you're interested in that. The process is quite similar, but Docz use a Markdown+JSX syntax that is much nicer to work with

[2018-09-23 13:44] joshwcomeau commented on #213
Hi @rfbotto,

Just a quick check-in to see how this is going. No rush at all :) just making sure you're still interested / aren't stuck on something

[2018-09-23 13:51] joshwcomeau commented on #203
Sorry @shockry! Missed this question.

Ah I see. This is surprisingly tricky then! It's really a shame that `launchEditor` doesn't expose what it finds.

I wonder if it'd be worth opening a PR on `react-dev-utils` to make `launchEditor` return a Promise that resolves if it finds an editor and rejects if it doesn't? Are you interested in opening an issue there and seeing if this is functionality th

[2018-09-23 13:52] joshwcomeau commented on #184
hi @leo-generali!

Just a quick check-in. No rush if you're still interested in doing this but just haven't had the time :) I just wanna make sure you're not stuck or blocked on something, and that you still intend to work on it.

Thanks!

[2018-09-23 14:14] Futuro212 commented on #131
hey @joshwcomeau, lately I didn't have much time to progress with the task and since the card was simple, ill try the Docz approach :)

[2018-09-23 15:02] raerpo commented on #262
@joshwcomeau I will take this if it's ok with everybody :)

[2018-09-23 18:13] rfbotto commented on #213
Hey @joshwcomeau!

Yes, i'm still very interested! :) Was planning to start after requesting the issue but ended up not having a lot of opportunities these last few weeks. Will start to tackle in the next few days, if that's okay :) And sorry for the delay on the issue situation, next time will keep you posted through Gitter, so you know if something is up.

[2018-09-23 20:45] joshwcomeau commented on #44
Ok, so I've run into a number of issues with this. I think it's worth doing, but it's probably not worth blocking 0.3 over.

Moving it to 0.4

[2018-09-23 20:46] joshwcomeau commented on #211
While this would be a great feature to have, I don't think it should block 0.3's release. Moving to 0.4

[2018-09-23 20:47] joshwcomeau commented on #204
This is done :D

[2018-09-23 20:47] #204 closed

[2018-09-23 20:53] joshwcomeau commented on #227
Hm, so I have mixed feelings about this, after a while.

Pros:
- good quality-of-life bump when you accidentally select the wrong dependency, or change your mind. Saves the user a bit of frustration and wasted time

Cons:
- I imagine a lot of possible edge-cases. I worry that bugs might creep in, and the bugs might be a worse overall experience than just waiting a bit to remove a dependency
- The

[2018-09-23 20:54] joshwcomeau commented on #214
I'm gonna remove this from Milestone 0.3. I think it's worth adding, but it isn't a user-facing feature, so I don't think it should block a product release.

[2018-09-23 20:55] joshwcomeau commented on #140
Yay this is done!

[2018-09-23 20:55] #140 closed

[2018-09-23 21:11] joshwcomeau opened #263 "Warn user when Node isn't installed"
If the user downloads Guppy _without_ having Node.js installed, Guppy will open without issue.

In fact, nothing will go wrong until they try creating a new project. At that point, a console error is logged, but nothing is shown in the UI :/ this screen will hang forever:

<img width="1525" alt="screen shot 2018-09-23 at 5 09 53 pm" src="https://user-images.githubusercontent.com/6692932/45933011-9

[2018-09-23 21:27] joshwcomeau commented on #44
I asked on SO, to see if there's a simpler solution we're missing: https://stackoverflow.com/questions/52470403/how-do-i-use-electrons-built-in-node-instance-for-running-tasks

[2018-09-24 01:47] stevemao commented on #259
Thanks. That makes sense. Personally I don't usually download binary manually and an app manager like homebrew is nice. It just centralises the management of all my apps. Feel free to close this 😄

[2018-09-24 14:53] melanieseltzer commented on #68
Fixed in #261!

[2018-09-24 14:53] #68 closed

[2018-09-24 15:54] leo-generali commented on #184
hey @joshwcomeau! sorry for the delay on my end - i foolishly asked to pick this up a few days before i moved across the country thinking i could get this done quickly... clearly that didn't happen hah. things have settled down on my end and i'm planning on having something out for review over the next few days! hope that's all right!!

[2018-09-24 16:17] joshwcomeau commented on #184
Hey Leo, that’s no problem at all! Thanks for the update, hope moving went well!

[2018-09-24 22:51] shockry commented on #203
No worries, the first response was super fast though ^^

I have just [opened an issue](https://github.com/facebook/create-react-app/issues/5083) there so let's see how that goes. If you have suggestions on the formatting of the issue, tell me and I'll go edit it.

[2018-09-24 23:02] Timer commented on #203
We're in progress of inheriting the `launch-editor` package and will be more than happy to implement this change.

[2018-09-25 11:41] joshwcomeau commented on #233
Hi @idoberko2! Sure thing, all yours.

Some notes:

- When possible, I'd like to use the `native` setting (see [SettingsButton](https://github.com/joshwcomeau/guppy/blob/master/src/components/SettingsButton/SettingsButton.js) for an example).
- It'd be awesome if you could record the performance before/after the conversion, using the devtools (really just to check that the FPS isn't worse with Spr

[2018-09-25 12:36] joshwcomeau commented on #233
Oh, one other thing!

When dealing with springs, we run into the issue of "shadowed" variable names:

[code]

Our linter will complain because `something` is already defined in the upper scope.

So far we've dealt with this by renaming the interpolated one:

[code]

I think maybe a better pattern is to leave the interpolated values non-deconstructed:

[code]

This way, we're not shadowing the vari

[2018-09-25 15:42] idoberko2 commented on #233
Hi @joshwcomeau, will you have a time to look at [my first commit](https://github.com/idoberko2/guppy/commit/64871c655dc4a298bf08d31c36ed80605b555130) just to make sure I got your intention (it's working)?
Additionally, can you lead me to an article about how to measure FPS of an animation accurately? The only material I found used the FPS graph for measurements and I can't have any numbers pulled

[2018-09-25 18:17] joshwcomeau commented on #233
Hi @idoberko2!

Thanks for checking :) great idea to get an early commit checked!

I had actually imagined this first version just replacing `<Motion>` instances with `<Spring>` instances. Consolidating the `react-transition-group` and `react-motion` into a single layer is a good idea using `Transition`, although the animation doesn't look right, for a few reasons:

- The modal drops down instead

[2018-09-25 23:14] AWolf81 commented on #155
@joshwcomeau I played a bit with `react-beautiful-dnd` in a `codesandbox` [here](https://codesandbox.io/s/jjq7lyjl53). Code not added to branch `panels-dnd` yet.

Sure styling needs to be improved. I also think we could have one panel for adding & removing modules from the panels at a fixed position. I think we could show a trash bin on `dragStart` and if the module is dropped on the trash symbol

[2018-09-26 11:03] joshwcomeau opened #264 "Better animation (particles!) for random project-name generation"
When creating a new project, there's a "sparkles" button that will generate a new, random project name:

![random-name](https://user-images.githubusercontent.com/6692932/46075537-c1f2d580-c158-11e8-8fa6-4ba374a793e0.gif)

I don't love what I did here, for a few reasons:

- The button outline logic is totally different from anywhere else in the application. It shows on hover instead of on toggle.
-

[2018-09-26 11:26] joshwcomeau commented on #131
Hi @Futuro212,

Ah, so we haven't actually merged Docz in yet (it's #254). I think we do want to switch to it, but the first task is to fix whatever's causing the tests to fail, and convert all existing stories (since I don't really wanna have two conflicting solutions).

If you're up for it, feel free to take over that task :) but otherwise, maybe just open a PR with the work you've already done

[2018-09-26 12:36] joshwcomeau commented on #155
Hm, I'm not sure that I want an always-present panel for panel management. I think the norm for desktop apps is to have the menu deal with that (maybe a new top-level "Window" menu?).

Let's look at the concerns 1 by 1:

I imagine a menu like:

[code]

So you wouldn't add an empty panel, you'd just toggle the one you want to add.

For placement, I imagine us working it out automatically, based on

[2018-09-26 16:46] j-f1 commented on #264
How about using an animation similar to the [`activate-power-mode`](https://atom.io/packages/activate-power-mode) animation and animate typing out the new project name?

[2018-09-26 16:50] j-f1 commented on #264
There are [Vanillia JS](http://0xabcdef.com/activate-power-mode/) and [React](https://github.com/itszero/rage-power) implementations of that animation, although we might want to disable the screen shake.

[2018-09-26 19:46] joshwcomeau commented on #264
Hm, so my personal opinion is that I'm more-or-less happy with the actual letter-shuffling animation; it's nice and quick (and gets progressively quicker) and isn't too distracting.

That said, I like the particle effects themselves in activate-power-mode! I could see using it as inspiration. I'd just want it to be less blurry and more colourful, but the physics are nice

[2018-09-27 21:10] joshwcomeau opened #268 "Add platform logging to analytics"
0.3 will feature new analytics tracking, so that we can learn how people use our application.

Something we aren't capturing is what platform the user is on. We won't know what % of users are on Windows/Mac/Linux.

There are a couple ways we could approach this: we could attach it to the `load-application` event dispatched when the App component mounts, or we could maybe add it to the "identify" c

[2018-09-28 22:02] AWolf81 commented on #264
@joshwcomeau I created this codesandbox [here](https://codesandbox.io/s/yvx866qn1).
It's a particle effect created with vanilla js inside a SVG with circles. I'm just using `react-cursor-position` to get the mouse position.
It's pretty basic & some of your mentioned effects are not added yet. I'd like to add shrink or fade but it wasn't looking good.
Colors are from Guppy color constant and can be

[2018-09-30 13:41] AWolf81 commented on #268
@joshwcomeau I have looked into [mixpanel's default properties](https://help.mixpanel.com/hc/en-us/articles/115004613766-Default-Properties-Collected-by-Mixpanel) and OS is already logged. I've created a dashboard report for it so it's easier to access. The count in the screenshot below is realistic as you've tested on Mac & me on Windows + Linux.

![grafik](https://user-images.githubusercontent.c

[2018-09-30 20:49] AWolf81 commented on #263
@joshwcomeau I'm working on this. Nothing pushed yet.

How should this work?
I think we could check if node is installed with `node -v` and if it fails show an error message with details how to fix the problem.

I would add this check to `refresh-projects.saga` and bail early. Then we're not showing anything from the app as the app-loaded won't be true.

What do you think is it OK to implement it

[2018-09-30 23:44] AWolf81 commented on #263
OK, I've pushed my WIP to branch [node-avail-check](https://github.com/joshwcomeau/guppy/tree/node-avail-check).

It should work but not tested yet. I need to test it with the binary as during devServer I need node present.

I added the following:
- Created a service function `checkIfNodeIsAvailable` inside `shell.service`
- Custom modal so it's possible to show a link to our installation guide (n

[2018-10-01 13:28] joshwcomeau commented on #263
Ah, so I think rather than create our own custom modal to support nested links, we should just auto-open a browser window when they click "Ok". Since yeah it's not really an optional thing, they can't continue using Guppy until they solve it.

I'm also a fan of using native platform options, since they tackle a lot of things for us (like keyboard controls, focus management, disabling scrolling, et

[2018-10-01 13:31] joshwcomeau commented on #263
For the most part, that sounds great! It makes a lot more sense than what I was originally thinking :+1:

One small thing: I'm not sure if it should be as part of the `refresh-projects` saga. It feels like a separate concern.

Maybe we can just call the service right from within `App.js`? I'm not sure it fits in with any of our existing sagas, and I'm also not sure it deserves its own, since it's

[2018-10-01 13:33] joshwcomeau commented on #263
(sorry for all the messages!)

One thing I just thought of, maybe for a future release. I wonder if we can install Node from within Guppy?

We might run into permissions issues, but it'd be cool to try and install NVM from within Guppy. It would require its own UI and saga and stuff, so I think we should tackle this later, but it's kind of a cool idea, right?

[2018-10-01 20:14] AWolf81 commented on #263
@joshwcomeau Thanks for your feedback.
I've changed it as you proposed (not pushed yet). I've added it to `App.js` and you're right it's not related to `refresh-saga` - I just wanted to stop rendering the app if Node is missing.
But I think it's also OK to render the app and show the error message to inform the user that Node is required. I now have to add the same dialog to the `Create-project-wi

[2018-10-01 23:00] AWolf81 commented on #179
@joshwcomeau I've started to work on this. But I'm not sure how to fix my current issue.

I've added a check if the directory already exists in `BuildPane` component. But it seem that's too late as the build pane already displayed the installer & I'd like to stop the user so it's possible to rename the project or change the location.

Is there a better location? I've added it there as it's before

[2018-10-02 06:46] AWolf81 commented on #210
@joshwcomeau I'd like to add some notes about Zenhub.

Here is a [gist](https://gist.github.com/AWolf81/733d7536ff0d73c7f59e13f76322b525) for **Zenhub - Getting started** section.

[2018-10-02 19:58] AWolf81 commented on #179
OK, I think I've found a better location to add the check.
I've added it to `CreateProjectWizard` component inside `handleSubmit`.

I'm pushing this in a minute & open a PR for it.

[2018-10-03 12:37] #225 closed

[2018-10-03 12:49] AWolf81 commented on #179
OK, we can close this as it's available on master.

Solved by blocking creation with a dialog if the project already exists - no overriding.

[2018-10-03 12:49] #179 closed

[2018-10-04 11:39] joshwcomeau opened #272 "Set up CI to handle releases and code-signing"
Once #236/#267 is completed, we'll need to start doing this stuff on CI.

Ideally, we could just push a git tag and the CI would create signed builds.

I've heard that AppVeyor is good for Windows, and we should be able to continue using CircleCI for MacOS and Linux

[2018-10-05 02:00] joshwcomeau commented on #210
Cool, sounds good! I'll read through them tomorrow morning, as I set up Zenhub for the first time =)

[2018-10-07 12:19] Futuro212 commented on #262
Is anyone working on this? I can try to use the `react-custom-scrollbars` and then make a gif or something 😄

[2018-10-07 13:29] joshwcomeau opened #275 "Add Flow check to CI"
We have a pre-commit hook to run Flow whenever a commit is added, but this can be skipped with `--no-verify`. This can lead to PRs being opened without Flow issues.

We should add a step to CircleCI to run the Flow check as well as the tests.

[2018-10-07 13:31] joshwcomeau commented on #262
I believe @raerpo is tackling this - if he changes his mind, then it's all yours, @Futuro212 :)

[2018-10-07 14:34] AWolf81 commented on #275
@joshwcomeau I'll add it.

The execution order doesn't matter, right? I would add it after `report-coverage`. Is it OK to trigger it like `yarn run precommit`?
It should then run `flow && lint-staged`.

Is it OK to change flow check from `precommit` to `prepush` as mentioned in your comment?

[2018-10-07 18:53] raerpo commented on #262
@Futuro212 you can take it. I have been super busy at my work right now. I'm sorry :(

[2018-10-07 19:08] AWolf81 opened #277 "Improve performance of project delete for Windows"
**Describe the bug**
Guppy freezes during project deletion on Windows. Please have a look at the screen recording and the message `Keine Rückmeldung` means `not responding`.

I think this is a problem with the deletion of `node_modules` folder. I'll have a look at the issue and I think it could be improved by using [rimraf](https://www.npmjs.com/package/rimraf) for delete process.

**To Reproduce*

[2018-10-07 20:01] AWolf81 opened #278 "Add yarn call to install deps. if no node_modules found"
During my work on #277 I've had a situation where I don't have a `node_modules` folder and Guppy can't run any tasks.

At the delete performance issue, I'm deleting the `node_modules` folder and then move the project to trash. If the user restores the project from trash then we're having the situation mentioned above.

**Describe the solution you'd like**
If dependency panel is empty show a button

[2018-10-07 20:29] AWolf81 opened #279 "Show dialog if project delete fails"
If a user tries to delete a project from disk and if deleting fails there is no message about the failure. It looks like everything is working as expected but it wasn't.

E.g. if a project folder is open inside VS code the deletion of a project will fail with-out any message.
Also the `console.error` from `delete-project.saga` won't be called at [line 94](https://github.com/joshwcomeau/guppy/blob/

[2018-10-07 22:28] AWolf81 commented on #211
I'm working on this.
But I'm a bit stuck with how to implement it. I'd like to add it to the initialization component but I'm not sure how to stop Electron from closing.

My WIP branch is [warn-onexit-pending-actions](https://github.com/joshwcomeau/guppy/tree/warn-onexit-pending-actions).

[2018-10-08 07:25] mathieudutour opened #281 "show lifecycle hooks in task panels"
In #274, we hide the lifecycle hooks (like `postinstall`, `pretest`, etc.) from the tasks list. So now there is no way to know if there are some.

It would be interesting to show the presence of lifecycle in the task panel (and maybe allow to run them separately). We could also show an icon in the task list item.

[2018-10-08 19:09] joshwcomeau commented on #277
That sounds good to me - that way the user can restore a deleted project, and node_modules are easy enough to reinstall (although not really through Guppy... we should add a "reinstall modules" button at some point).

[2018-10-08 19:11] joshwcomeau commented on #278
Yeah, that sounds good to me. I wonder if we should do this automatically, if we find ourselves in this situation...

It would also be good to have a menu option like `Reinstall dependencies` which would delete `node_modules` and run `yarn`, as a way to force a cleanup in case the user winds up in a weird state.

Yeah, that's an exciting potential future set of tasks, github integration!

[2018-10-08 20:51] joshwcomeau opened #282 "Show fish-spinner while project is being deleted"
While deleting a project, it can take some time to delete the project, and there's no indication that anything is happening in the UI.

We should add a white, translucent overlay, with our fish-spinner shown in the middle.

If someone is interested in tackling this, let me know and I'll be happy to point you in the right direction :)

[2018-10-08 21:12] rmorabia commented on #282
I'd like to tackle this! How would you suggest going about this?

[2018-10-08 22:51] joshwcomeau commented on #277
Fixed in #280

[2018-10-08 22:51] #277 closed

[2018-10-08 22:53] #263 closed

[2018-10-08 22:55] joshwcomeau commented on #233
hi @idoberko2,

Ah, super sorry for the delay!

That new commit looks good! I learned a couple tricks from it, like passing a function to `config` and using `animated` as a wrapper around styled components.

[2018-10-08 22:59] joshwcomeau commented on #282
Hi @rmorabia!

Something a bit curious - it seems like projects are deleted near-instantaneously after #280 was merged. Like, 0ms instant o_o.

Given that, I'm not actually sure that this task makes sense... maybe my computer is just particularly fast? @AWolf81, what's the performance like for you after your change?

I think until this is resolved, it probably doesn't make sense to get started on

[2018-10-09 06:06] idoberko2 commented on #233
hey @joshwcomeau, that's completely fine, I didn't wait for the response and went on with the refactor, I'm glad it looks good to you. I finished refactoring all of the components beside `SideBar`, I might need to add it to storybook in order to be able to verify my changes and avoiding regressions.

One thing I did notice was some sort of an "ease-out" effect in the `master` version of `ProgressB

[2018-10-09 16:10] mathieudutour commented on #29
My fork handles that but I cannot easily create a PR since there are tons of merge conflicts. But here is the relevant code for the one who wants to tackle this: https://github.com/skpm/guppy/blob/skpm/src/components/ProjectIconSelection/ProjectIconSelection.js#L25-L46

[2018-10-09 16:11] #275 closed

[2018-10-09 16:14] mathieudutour commented on #214
So the PR got merged but there is no test coverage 🤔 Seems like it only ran on the branch of the PR

[2018-10-09 16:18] #86 closed

[2018-10-09 16:22] mathieudutour opened #284 "Add contextual menu"
Right there is no contextual menu (when you right-click) anywhere. It would be nice to add one where it makes sense as it makes the feels a lot more native:

- [ ] the project in the sidebar: "delete", "open in finder", "open in editor", "select"
- [ ] in the server logs: "copy", "clear"
- what else?

[2018-10-09 19:09] AWolf81 commented on #214
Yes, I'm also wondering why we're not seeing the coverage reported on the PRs. Maybe we need to enable the codecov bot in the Github settings.
@joshwcomeau could you please have a look in the project settings?

[2018-10-09 20:34] AWolf81 commented on #282
@joshwcomeau
Delete from disk takes over 20 seconds for me. Just remove from Guppy is with-out any delay. Maybe this is only Windows related or my machine is a bit slow :-) Maybe another Windows user could test - so we're sure we need something. @superhawk610 I think you can test with Windows. Could you please have a look?

I think we can add the overlay after a delay of around one second so that

[2018-10-09 20:37] melanieseltzer opened #285 "Ejecting fails with uncommitted changes"
**Describe the bug**

CRA 2.0 introduces functionality that automatically initializes a git repo upon project creation ([CRA 2.0 Changelog (look for #1288)](https://github.com/facebook/create-react-app/blob/master/CHANGELOG.md#rocket-new-feature)).

When new projects are created through Guppy, `package.json` file gets a Guppy key added. Now with the `git init` running it's saying `package.json` ha

[2018-10-09 20:45] melanieseltzer commented on #282
Deleting from disk is definitely not instant for me (I would estimate around 10 seconds) and I'm on Mac 🤔 I definitely agree with @AWolf81 about the delay in this case.

[2018-10-10 06:37] AWolf81 opened #288 "App settings modal"
We don't have an app settings modal yet but I think we should have one as we detected during #286.

We could add the following settings (some will require additional work):
- Git settings (add later, skipped until we're working on Git integration)
  - allow auto committing (see #286)
  - User name / email setting project related
- [x] Privacy settings: Enable/Disable analytics
- [x] General settin

[2018-10-10 08:15] mathieudutour commented on #288
Another important settings is opting out of the analytics

[2018-10-10 10:56] AWolf81 commented on #288
@mathieudutour Good idea. I've added it to the list above.
And you're right just the application menu item is enough for accessing the settings.

[2018-10-10 15:59] superhawk610 commented on #211
To stop the application from closing, the `beforeunload` handler must return `false`. Your `appWillClose` handler, since it's an `async` function, returns a Promise, which is not `false`, so the application continues to close.

I've never seen the pattern you're using before (setting `evt.returnVal`), can you link me to where that is documented?

[2018-10-10 16:09] AWolf81 commented on #211
I've seen the `returnVal` in this [issue](https://github.com/electron/electron/issues/3362) but that's not working.

OK, I'll try if I can do the same with-out async so I can return true or false.

[2018-10-10 19:20] joshwcomeau commented on #282
Ahh, you know what, I bet I wasn't deleting from disk -facepalm- I was rushing with my test/reply as my dinner was almost ready to come out of the oven 😅

Ok, so I think we should do this. I really like @AWolf81's idea of an `app-status` reducer.

So the steps, roughly:
- Add a new action, START_DELETING_PROJECT
- Dispatch that action in `delete-project.saga`, inside the `if (shouldDeleteFromDisk)

[2018-10-10 20:01] rmorabia commented on #282
@joshwcomeau I have basically no Redux experience, so I'll probably want to stick out of this. My desire to get involved will give me the kick in the pants I need to learn Redux, though! So, the next time there's something that involves Redux, I will be jump right into that.

[2018-10-10 22:31] AWolf81 commented on #211
@superhawk610 The following code is working (just the dialog) if I'm adding it to `main.js`:
[code]
Not sure how I can add it to Initialization component (renderer process). I could add an IPC communication but that feels too complicated.

[2018-10-10 22:38] AWolf81 commented on #282
@melanieseltzer sounds great, go for it. :)
I wanted to tackle this later - I'm working on a different issue at the moment.

If I can help please let me know.

[2018-10-11 02:47] nmacarthur commented on #284
What are your thoughts on some of these options for clicking within a project, but not within the server logs,

- [ ] Start Development Server,
- [ ] Run Build,
- [ ] Run Tests,
- [ ] Add Dependency
- [ ] Project Settings

[2018-10-11 07:15] mathieudutour commented on #284
Hum I'm not sure, it doesn't seem very contextual since you might click around an area that is not related to dependencies at all for example

[2018-10-11 08:16] AWolf81 commented on #211
I've fixed the close handling with IPC communication because I haven't found an easier way but I think it's OK

@joshwcomeau Is the copy for the dialog OK? The placeholder `<Add....>`will be the list of active tasks.
[code]
**Screenshot of the warning:**
![grafik](https://user-images.githubusercontent.com/3046542/46790108-6e7aad00-cd3e-11e8-8259-760904a843b2.png)

Next I need to add the active tas

[2018-10-11 09:49] joshwcomeau commented on #233
Don't worry too much about storybook - we're thinking about moving to Docz, so while stories would be helpful, they might not be worth the effort at this point. The surface area of the app is small enough that I can run through all the functions in a few minutes - when you open a PR I'll clone it and take it for a spin :)

Ah, so we're actually not using the ProgressBar component anymore (we do pl

[2018-10-11 09:54] joshwcomeau commented on #284
Yeah, this is a cool idea.

I like the suggestions you've posted, @mathieudutour. I think that's a good starting point! I don't have any other ideas.

@nmacarthur thanks for the suggestions! I think they're a little too broad, though... my understanding is that the contextual menus are for specific items (so if I right click a project icon, I get project actions), but it'd be weird to me if I just

[2018-10-11 10:00] joshwcomeau commented on #149
Ah, this issue isn't actually closed - we added a "Clear console" action to the application menu, but it always targets the dev server. This issue is meant to focus on other consoles (like for specific tasks), and how we should handle it. As it stands, it's kinda confusing that if the "build" task modal is open and you click "clear console", it has no visible effect, since it's clearing a totally

[2018-10-11 10:05] joshwcomeau commented on #214
Sure - so I didn't see anything related in settings (is there somewhere specific I should check?), but I did see that there's a CodeCov Github App. I installed that and added it to the repo, so hopefully that does something? I'm planning on opening a PR soon, I'll see if it helps

[2018-10-11 10:08] mathieudutour commented on #233
On a more meta thing, shall we use Assignees when someone is working on a PR so that it's clear on the issue list? I don't really like the term Assignee but /shrug

[2018-10-11 10:29] joshwcomeau commented on #288
I'm not sure we need to add an auto-commit setting just yet... I added some details in #286, but for ejecting specifically, I think it's safe to assume that if a user is looking to eject, they're an intermediate-advanced user and we can just ask them to get a Git client.

In the future I'd like for Guppy to support rudimentary Git operatons (#85), but for now I think we can outsource it.

I agree

[2018-10-11 10:31] mathieudutour commented on #288
Oh there is also the default project path

[2018-10-11 15:01] melanieseltzer commented on #285
In #286 we discussed that we'll check for dirty repo state when hitting the Eject button, and if anything is untracked/unstaged, throw an error dialog up letting the user know that they need to handle it themselves before ejecting (so we're not going to auto commit before ejecting). Also provide a link to git documentation if they need it, in that dialog.

I'll probably work on this myself cause I

[2018-10-11 15:12] melanieseltzer commented on #279
Hi @rmorabia! I think what that means is that currently, deleting from disk fails silently as described above, but then [line 112](https://github.com/joshwcomeau/guppy/blob/master/src/sagas/delete-project.saga.js#L112) and beyond still runs which proceeds to remove the project from the Guppy app, even if deleting from disk fails. This shouldn't happen - if deleting from disk fails, the project sho

[2018-10-11 20:16] AWolf81 commented on #211
@superhawk610 OK, I've added the pending actions to the dialog. I'm not sure if it's OK how I've added it. I reduced some noise that's why I'm not showing exactly what the tasks are doing - just count and if it's queued. Maybe we could add a pluralize helper for the `task` / `tasks` text but I think `task(s)` is OK.
What do you think? Is it OK?

There are some issues open in my branch:
- Find the

[2018-10-11 20:47] AWolf81 commented on #285
`Git-state` looks great but I would keep it simple for now. I think just wrapping it in a try/catch during eject should work here and display a message box that's telling the repo is not clean.

You can check the stderr if it contains `clean repo required` - not sure what the exact text is but with this you can generate the custom error message.
If it's not containing the text swallow this error a

[2018-10-12 00:01] nmacarthur commented on #284
Ah ok that makes more sense!

I was viewing the project as a whole as a context, but that is a bit broad!

[2018-10-12 15:20] melanieseltzer commented on #279
Sounds good 😄

[2018-10-14 14:39] AWolf81 commented on #59
@joshwcomeau I'm working on this. I haven't pushed any thing yet. But Next.js it's almost working. Just displaying the green light on devServer panel is not working. Not sure where it is detecting that change. I need to search for the location.

I also think that we need to refactor the task execution as it feels difficult to add new things because of editing multiple locations and as mentioned sp

[2018-10-14 22:09] AWolf81 commented on #288
OK, I'm work on this and I'll only add Privacy setting & General settings with default project path & default project type.

For the settings item location. I've seen on Mac there is a Menu item called Guppy (see screenshot below). It's probably the menu with role `services`. See docs [here](https://github.com/electron/electron/blob/master/docs/api/menu.md#notes-on-macos-application-menu).
VS code

[2018-10-15 04:42] mathieudutour commented on #288
Every macOS app have it under the app name menu so let's put it there has well

[2018-10-15 13:16] AWolf81 commented on #210
We should add an info to our dev docs about the process logging that I'll merge soon.

It can be enabled in `src/config/app` with `LOGGING: true` and will enable the logging of every child process.
That's especially useful for tasks that don't have a terminal in Guppy UI. Tasks like eject or project creation can be debugged as every output is logged to the Chrome console.

[2018-10-16 20:33] melanieseltzer commented on #279
While working on #294 we ran into this again, and I just realized that on a Mac (at least for me) I'm unable to make a delete fail. I don't run into the ENOTEMPTY issue since it's Windows specific, and delete still works for me even if the project files/folder is open in VS Code (I'm not sure why that is).

@AWolf81 Do you know if there a reliable way to make a delete fail in case @rmorabia is on

[2018-10-17 16:34] rmorabia commented on #279
I'm sure I can add some permission stuff through Bash that block the folders from being deleted.

[2018-10-17 18:07] #285 closed

[2018-10-17 22:19] #282 closed

[2018-10-20 07:06] AWolf81 commented on #85
@mathieudutour Thanks, that's looking great and is probably more mature. I also like the api which should be just `await GitProcess.exec([ 'clone' ], pathToRepository)` to clone a repository. So this is the way to go.

I think we could take the example `performClone` function from [here](https://github.com/desktop/dugite/blob/master/examples/api-extensibility.ts) and pass the URL and destination a

[2018-10-20 14:58] AWolf81 opened #296 "Script descriptions per projectType"
**Describe the bug**
During my work on #292 I've noticed that Next.js is adding a script with the name `start` which is used for a different purpose. It is not the development server. It's the server to serve the production build locally.
The development server script is called `dev`.

This issue needs to wait for the mentioned PR.

**To Reproduce**
1. Create a new Next.js project and have a look

[2018-10-20 15:22] AWolf81 opened #297 "Next.js start script - second long-running task"
**Describe the bug**
After merging #292 we will have a new bug that's introduced by Next.js.
Next.js is adding a long-running task called `start` which is not properly handled by Guppy. We're only expecting one devServer task per project and here we're having two.
Also the task will not check that the port is not already in use.

I think this is no high priority issue as the Next.js devServer is w

[2018-10-20 15:43] AWolf81 commented on #278
I'm working on this as it will be the base for the Git integration stuff.
I'll start with it soon on branch `reinstall`.

The reinstall feature will contain install and also reinstall.
- Install will trigger `yarn`
- Reinstall will first remove `node_modules` folder and then it triggers `yarn`.

I'll add `Reinstall project` to `Application menu\Current project\Reinstall`.

**Do we need a confirm d

[2018-10-21 20:28] syn228 commented on #29
Is this issue still open? it would be my first time contributing but would like to try!

[2018-10-21 21:18] AWolf81 commented on #29
@syn228 yes, this is still open and no one is working on it.

Great to hear that you like to help. Please have a look at our [contribution info](https://github.com/joshwcomeau/guppy/blob/master/CONTRIBUTING.md) and the dev docs [here](https://github.com/joshwcomeau/guppy/tree/master/docs/dev-info).

So it's all yours. If you're having any questions please let us know. You can also join us on Gitte